html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
	line-height: 1;
	min-width:320px;
	font-family:Arial, Helvetica, sans-serif;
	background:#878076;
	overflow-x:hidden;
}
a {
	text-decoration: none;
}
ol, ul,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Common styles*/

#main_wrapper {
	background:url(../img/DBH.Artemis.home_02.png) center top no-repeat;
	overflow: visible;
	float: left;
	display: block;
	width: 100%;
	padding-top:72px;
}
.wrapper, .row {
	float: left;
	display: block;
	width: 100%;
}
.center {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
/*Header*/

.top_row_wrapper {
	background: #fff;
}
.top_logo{
	float: left;
	display:block;
	width: auto;
	text-align: left;
	height:63px;
	margin:6px 3px;
	padding:2px 3px;
}
.fixed-header {
	overflow:visible;
	width: 100%;
	display: block;
	background:#000;
	position: fixed;
	left: 0px;
	z-index: 99999;
	top: 0px;
}
.nav{
	display:block;
	float:left;
	width:28%;
	margin: 38px 0px 0px 25px;
		
	}
.nav li.separator{
	height:10px;
	width:1px;
	padding:2px 0px;
	background:	#777775;
	margin:4px 1px;
	}
.nav li{
	float:left;
	padding:2px 2px;
	list-style:none;	
	}
.nav li a{
	padding:10px 2px;	
	color:#777775;
	font-size:14px;
	}
	
.nav li a:hover{
	color:#fff;
	}	
.follo{
	display:inline-block;
	float:right;	
	}
.follo p{
	font-size:12px;
	color:#777775;
	float:left;
	margin:42px 0px 0px 3px;
	}
.follo li{
	float:left;
	list-style:none;
	margin:25px 3px;
	}
	
	
.main-contant{
	background:url(../img/girl_03.jpg) no-repeat;
	background-size:100% auto;
	height:799px;
	width:100%;
	max-width:1000px;
	margin:0 auto;	
	display:block;
	}	

	
.main-nav{
	width:200px;
	display:block;	
	text-align:center;
	padding:15px 0px;
	background:#B88931;
	margin-left:40px;
	float:left;
	}

@media(max-width:1000px){
.top_logo,
.nav,
.follo{
	width: 100%;
	text-align:center;
	height:auto;
	margin:0;
	padding:2px 0px;
}

.nav ul,
.follo ul{
	display:inline-table;
	}

.top_logo img{
	width:100%;
	max-width:426px;
	}

.fixed-header {
	float:left;
	display:block;
	width:100%;
	position:relative;
}

#main_wrapper{
	padding-top:0px;
	}

.main-nav{
	width:100%;
	margin-left:0px;
	}

	}	


.main-nav li{
	padding:7px 0px;	
	}
.main-nav li a{
	color:#FFF;
	font-size:21px;
	}
.main-nav li a.active, .main-nav li a:hover{
	color:#4F0016;
	}
.main-nav li a.reg{
	color:#F4CA82;
	}
.sign{
	width:100%;
	max-width:450px;
	height:363px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	display:inline-block;
	}

.sign img{
	display:block;
	width:100%;
	}	
	
.parag{
	float:left;
	display:block;
	width:100%;
	text-align:center;
	padding-top:40px;
	border-top:1px solid #B88931;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	font-size:18px;
	line-height:26px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:600;
	}
	
.main-cont-wrapper{
	
	}
.back-poster{
	background:url(../img/siteplan_03.jpg)	no-repeat;
	height:310px;
	background-size:100%;
	}
.midd{
	width:96%;
	background:#FFF;
	padding:2%;
	display:inline-block;
	}
.mid-left{
	float:left;	
	width:70%;
	display:block;
	}
	
.mid-left-2{
	width:700px;
	}	
	
.mid-left img{
	display:block;
	width:100%;
	height:auto;
	}	
.mid-right{
	float:right;
	width:26%;	
	}

.mid-right-2{
	float:right;
	width:233px;	
	}


.mid-right h2{
	font-size:30px;
	color:#5B0009;
	font-weight:700;
	padding-bottom:15px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;	
	}
	
h1.main_title{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;	
	color:#510007;
	font-size:36px;
	}


h3.subtitle{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;	
	color:#510007;
	font-size:28px;
	text-align:left;
	}
	
		
	
.mid-right p{
	font-size:14px;
	line-height:20px;
	padding-bottom:8%;	
	}
.color{
	width:90%;
	display:inline-block;	
	}
.color span{
	height:30px;
	width:30px;
	background:#EEDF62;
	display:block;
	float:left;
	}
.color2 span{
	background:	#D49262;
	}
.color3 span{
	background:	#95B3BE;
	}
.color4 span{
	background:#EAB859;
	}
.color p{
	float:left;
	margin:3px 8px;
	}
.mid-last{
	background:#fff;
	width:96%;	
	padding:2%;
	}
.mid-last a{
	background:#8D8680;
	color:#D1CBBD;
	font-size:14px;
	color:#D1CBBD;
	display:inline-block;
	padding:0px 25px 0px 5px;
	min-height:40px;
	line-height:40px;
	width:auto;
	margin:3px 0px;

	}
	
.mid-last a:hover{
	background:#510007;
	}	
	
.mid-last a:first-child{
	width:40%;
	}	

.search_area{
	float: right;
	display:block;
	width:233px;
	height:209px;
	background:url(../img/slider_Bg.jpg) no-repeat;
	margin-bottom:10px;
}

.search_area .title_row{
	height:81px;
	position:relative;
	}
	
.search_area .title_row span{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight:bold;
	color:#510007;
	position:absolute;
	}
	
.search_area .title_row span.ready_val {
    left: 25px;
    top: 55px;
}

.search_area .title_row span.mod_val{
	top:55px;
	left:110px;
	}		

.search_area .title_row span.lot_val{
	top:55px;
	left:183px;
	}

	
.search_area .range_area{
	display:block;
	position:relative;
	padding-right:44px;
	background:url(../img/range_bg.png) left center no-repeat;
	height:20px;
	}			
	
.range_area_inner{
	display:block;
	padding:0 7px 0px 5px;
	}
	
.search_area p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#491F23;
	padding:0px 5px;
	}
	
.search_area p select{
	width:45%;
	margin:0px 1%;
	}
	
.search_area p option,
.search_area p select{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#999;
	
	}				
	
#go_btn{
	position:absolute;
	top:0px;
	right:0px;
	border:none;
	cursor:pointer;
	background:none;
	}

.paragraph{
	color:#666;
	font-size:13px;
	line-height:18px;
	}	

.row.feature_slider_wrapper{
	margin:20px 0px;
	}
	
.slider_display{
	display:block;
	border:#666 solid 5px;
	position:relative;
	}
	
.slider_display img{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	width:100%;
	height:100%;
	}
	
	
	
.slider_display .left_arrow{
	display:block;
	width:27px;
	height:49px;
	background:url(../img/left_arrow.png) no-repeat center center;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:5px;
	z-index:1000000000000000;
	margin-top:-25px;
	}	


.slider_display .right_arrow{
	display:block;
	width:27px;
	height:49px;
	background:url(../img/right_arrow.png) no-repeat center center;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:5px;
	z-index:1000000000000000;
	margin-top:-25px;

	}

.slider_nav{
	display:block;
	margin:5px auto;
	padding:0px 15px;
	height:70px;
	overflow:hidden;
	position:relative;
	}	
	
.slider_nav .left_nav{
	display:block;
	width:15px;
	height:27px;
	background:url(../img/left_arrow_2.png) no-repeat center center;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:0px;
	margin-top:-14px;
	
	}	
	
.slider_nav .left_nav_overlay{
	display:block;
	width:15px;
	height:100%;
	background:#fff;
	position:absolute;
	top:0;
	left:0px;
	}		


.slider_nav .right_nav_overlay{
	display:block;
	width:15px;
	height:100%;
	background:#fff;
	position:absolute;
	top:0;
	right:0px;
	}		


.slider_nav .right_nav{
	display:block;
	width:15px;
	height:27px;
	background:url(../img/right_arrow_2.png) no-repeat center center;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:0px;
	margin-top:-14px;
	
	}	


.slider_nav_holder{
	float:left;
	display:block;
	}
	
.slider_nav_holder a{
	float:left;
	display:inline-block;
	width:60px;
	height:60px;
	margin:2px;
	border:#666 solid 3px;
	cursor:pointer;
	}
	
.slider_nav_holder a.active,
.slider_nav_holder a:hover{
	border:#510008 solid 3px;
	}			
		

#download_pdf{
	float:left;
	display:inline-block;
	margin-top:50px;
	}
	
#download_pdf img{
	width:auto;
	}
	
.para_con{
	float:left;
	display:inline;
	width:49%;
	height:auto;
	}			

.thumb_con_2{
	float:right;
	display:inline;
	width:49%;
	height:auto;
	}
	
.thumb_con_2 img{
	display:block;
	width:100%;
	max-height:320px;
	margin:0 auto; 
	}				
	
.map_outer{
	float:left;
	width:100%;
	min-width:200px;
	display:block;
	}
	
.map_outer a.pop_trigger{
	display:block;
	color:#666;
	margin:10px 0px;
	font-size:14px;
	font-weight:bold;
	}	
	
#map_canvas{
	display:block;
	position: relative;
    padding-bottom: 30%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
	margin-top:5px;	
	border:#8A8A8A solid 5px;
	}
	
#map_canvas iframe,   
#map_canvas object,  
#map_canvas embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}	

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}			

@media(max-width:1000px){
.mid-left,
.mid-right{
	width:100%;
	}

	
.mid-last a{
	display:block;
	width:auto !important;
	}	

.poster_wrapper{
	float:left;
	width:100%;
	background:#fff;
	text-align:center;
	padding:10px 0px;
	}
	
	
.sign{
	margin:10px auto;
	}	
	
.parag{
	float:none;
	}	
	
	
}	
	



.footer{
	background:#510007;	
	padding:10px 0px 0px;
	overflow:auto;
	width:100%;
	max-width:1000px;
	margin:0 auto;
	
	}
.foot-nav{
	float:left;
	width:94%;
	padding:2% 0%;
	margin:0% 3%;
	padding-bottom:4%;
	border-bottom:1px solid #BA9C92;	
	}
	
	
.foot-nav li{
	float:left;
	list-style:none;
	margin:0px 15px 0 0;
	}
.foot-nav li a{
	color:#FFF;
	font-size:12px;	
	}

.foot-nav li a:hover{
	color:#dedede;
	text-decoration:underline;
	}	
	
.colum-4{
	float:left;
	width:94%;
	margin:0% 3%;
	padding:2% 0%;	
	display:inline-block ;
	}
.colum-4 .colum4-all{
	float:left;
	width:22%;
	margin-left:1%;	
	}
.coloum_style_2{
	width:100%;
	margin-left:0%;		
	}

.colum-4 .colum4-all h2,
.coloum_style_2 h2{
	color:#BE8D30;	
	font-size:20px;
	padding-bottom:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	}

	
	
.colum-4 .colum4-all p{
	color:#FFF;
	line-height:17px;
	font-size:12px;
	}

.coloum_style_2 p{
	color:#666;
	line-height:17px;
	font-size:12px;
	font-weight:bold;
	}


.colum-4 .colum4-all p span{
	font-weight:800;	
	}
.colum-4 .colum4-2{
	width:27%;
	}
.loct-ico{
	background:url(../img/small_08.png) no-repeat center left;
	height:24px;	
	width:48%;
	float:left;
	}
	
.coloum_style_2 .loct-ico{
	background:url(../img/asda_08.png) no-repeat center left;	
	}	
	
.down-ico{
	background:url(../img/small_10.png) no-repeat center left;
	height:24px;	
	width:48%;
	float:left;	
	}

.coloum_style_2 .down-ico{
	background:url(../img/asda_11.png) no-repeat center left;	
	}	


.loct-ico p, .down-ico p{
	margin-left:28px;	
	padding-top:3px;
	}
.colum-4 .colum4-3{
	width:20%;
	}
.colum-4 .colum4-3 li{
	float:left;
	margin-right:2px;	
	}
	
@media(max-width:1000px){
	.colum-4 .colum4-all{
		width:90%;
		margin:5px 5%;
		}
	.removalbeBreak{
		display:none;
		}	
	}	
	
.footer-foot-color{
	float:left;
	height:auto;
	width:100%;
	background:#B88931;	
	display:block;
	}
	
.footer-foot-color a{
	float:right;
	display:inline-block;
	padding:5px;

	}	
	
.widget_box{
	float:right;
	display:block;
	width:233px;
	height:auto;
	}
	
h2.widget_title{
	display:block;
	background:#510008;
	padding:10px 5px;
	font-size:14px;
	color:#ebc886;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	}			
	
.para_separator{
	float:left;
	display:block;
	width:100%;
	height:1px;
	margin:10px 0px;
	background:#510008;
	}
	
.para_separator.para_separator_2{
	background:#b88931;	
	}								
	
	
p.normal_line{
	float:left;
	display:block;
	width:100%;
	color:#8a8a8a;
	text-align:left;	
	margin:5px 0px;
	padding:0 !important;

	}				
					
span.form_label{
	float:left;
	display:block;
	width:90px;
	height:22px;
	color:#8a8a8a;
	font-size:12px;
	line-height:22px;		
	text-align:left;

	}

span.form_prefix{
	float:left;
	display:block;
	width:20px;
	height:22px;
	color:#8a8a8a;
	font-size:12px;
	line-height:22px;
	text-align:center;		
	}

	
input.form_elem{
	float:left;
	display:inline-block;
	width:110px;
	height:18px;
	border:#ccc solid 1px;
	background:#FFF;
	color:#8a8a8a;
	line-height:22px;
	padding:2px;
	font-size:12px;
	}
	
select.form_elem{
	float:left;
	display:inline-block;
	width:110px;
	height:30px;
	border:#ccc solid 1px;
	font-size:12px;
	padding:5px;
	}	
	
button.form_btn{
	float:left;
	margin:0px 5px 0px 0px;
	border:none;
	background:none;
	}
h3.title_2{
	width:100%;
	text-align:left;
	color:#222;
	font-weight:bold;
	margin:5px 0px;
	}
	
	
.model_row{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	}
	
.model_row img{
	float:left;
	display:inline-block;
	width:70%;
	height:auto;
	}
	
.model_row .text_con{
	float:left;
	display:block;
	width:28%;
	height:220px;
	min-height:100%;
	padding:5px 1% 30px 1%;
	position:relative;
	}
	
.model_row .text_con_1{
	background:#eedf62;
	}	

.model_row .text_con_2{
	background:#d49161;
	}	


.model_row .text_con_3{
	background:#95b3be;
	}	

	
.model_row .text_con h2{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;	
	color:#510007;
	font-size:24px;
	}						
	
.model_row .text_con h3{
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:24px;
	margin:10px 0px;
	}
	
.model_row .text_con p{
	color:#333;
	font-size:14px;
	margin:10px 0px;	
	}
	
.model_row .text_con a.price_btn{
	position:absolute;
	bottom:10px;
	left:10px;
	}
	
.model_row .text_con a.price_btn img{
	display:block;
	width:137px;
	height:auto;
	}
	
.main_title_inside{
	border-left:#a97b26 solid 1px;
	font-size:14px;
	line-height:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#a97b26;
	display:inline-block;
	padding-left:5px;
	font-weight:bold;
	}
	
.one_half{
	float:left;
	display:inline;
	width:49%;
	margin-left:2%;
	}
	
.one_third{
	float:left;
	display:inline;
	width:32%;
	margin-left:1%;
	font-size:13px;
	color:#9c9c9c;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;	
	}
	
.submit_btn{
	border:none;
	background:#510008;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;	
	}	
	
.captcha_outer img{
	height:auto;
	max-width:100%;
	}		
	
.one_half:first-child{
	margin-left:0;
	}
		
	
.row{
	float:left;
	display:inline;
	width:100%;
	margin:5px 0px;
}

.form_title{
	font-size:14px;
	line-height:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#8c867c;
	display:inline-block;
	padding-right:5px;
	font-weight:bold;	
	}
	
.form_title span{
	font-weight:100;
	color:#9c9c9c;
	padding-left:5px;
	border-left:#8c867c solid 1px;
	display:inline-block;
	}
	
.label_con{
	float:left;
	width:100px;
	height:34px;

	}
	
.label_con span{
	float:left;
	font-size:12px;
	margin-top:10px;
	font-weight:100;
	color:#9c9c9c;
	line-height:13px;
	font-family:Arial, Helvetica, sans-serif;	
	}
	
.label_con_2 span{
	margin-top:30px;
	}	
	
.input_outer{
	display:block;
	border:#9c9c9c solid 1px;
	overflow:hidden;
	}
	
.input_outer_2{
	display:block;
	overflow:hidden;
	}	

.inlineInput{
	display:inline;
	width:120px;
	background:#f7f2e9;
	height:20px;
	line-height:20px;
	border:#9c9c9c solid 1px;

	}
.input_outer input.type_1
{
	background:#f7f2e9;
	height:30px;
	line-height:30px;
	text-indent:5px;
	width:100%;
	font-size:13px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	border:none;	

	}					

.input_outer select,
.input_outer option{
	background:#f7f2e9;
	height:20px;
	padding:5px 0;
	width:100%;
	font-size:13px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	border:none;	
	}
	
.input_outer select{
	height:30px;
	padding:auto 0;
	}

.model_des_row{
	float:left;
	display:inline;
	width:700px;
	height:auto;
	background:#ebc886;
	}
	
.model_des_row .thumb{
	float:left;
	display:inline;
	width:320px;
	height:auto;
	text-align:center;
	}
	
.model_des_row .thumb img{
	display:inline-block;
	width:100%;
	max-width:320px;
	height:auto;
	}	

.model_des_row .des{
	float:left;
	display:inline;
	width:360px;
	padding:10px;
	height:auto;
	}
	
.model_des_row .des_row{
	float:left;
	display:inline;
	width:190px;
	height:auto;
	}
	
.model_des_row .des_row p{
	float:left;
	display:block;
	width:100%;
	height:auto;
	margin-bottom:4px;
	}
	
.model_des_row .des_row span{
	float:left;
	display:block;
	width:85px;
	padding:8px 5px;
	text-align:left;
	color:#000;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	background:#f7f2e9;
	}
	
.model_des_row .des_row span:first-child{
	color:#f7f2e9;
	font-size:14px;
	font-weight:100;
	background:#8c867c;	
	}
	
.model_des_row .des_row_2{
	float:left;
	display:inline;
	width:150px;
	height:auto;
	padding:0px 10px;
	}
	
.model_des_row .des_row_2 p{
	color:#000;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:14px;
	}
	
span.evaluation_text{
	float:left;
	display:block;
	color:#8c867c;
	font-weight:bold;
	margin-top:30px;
	margin-bottom:2px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:16px;
	width:100%;	
	}
	
a.ab_block{
	float:left;
	display:inline-block;
	width:40px;
	height:40px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:32px;
	text-align:center;
	line-height:40px;
	margin-right:4px;
	background:#b88931;
	}		

a.b_block{
	background:#510008;
	}
	
a.contact_btn{
	float:left;
	margin-top:27px;
	padding:3px 5px;
	background:#8c867c;
	color:#f7f2e9;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	}			
	

.blueprint_area{
	float:left;
	display:inline;
	width:320px;
	height:auto;
	}
	
.blueprint_area .display{
	float:left;
	display:block;
	width:100%;
	height:300px;
	background:#8c867c;
	position:relative;
	text-align:center;
	margin-bottom:5px;
	}
	
.blueprint_area .display .controls{
	position:absolute;
	bottom:40px;
	right:10px;
	width:20px;
	height:70px;
	}
	
.blueprint_area .display .controls a{
	float:left;
	display:inline-block;
	width:20px;
	height:20px;
	margin-bottom:3px;
	}


.blueprint_area .display .controls img{
	display:inline-block;
	width:20px;
	height:20px;
	}
	
.blueprint_area .display img{
	display:block;
	width:auto;
	max-width:320px;
	height:280px;
	margin:10px auto 0px;

	}
	
.blueprint_area .thumb_con{
	float:left;
	display:block;
	width:100%;
	height:auto;
	}
	
.blueprint_area .thumb_con a{
	float:left;
	display:inline-block;
	width:60px;
	height:60px;
	margin:2.5px;
	background:#8c867c;
	padding:7px;
	text-align:center;
	}
	
.blueprint_area .thumb_con img{
	display:block;
	height:60px;
	width:auto;
	max-width:60px;
	margin:0 auto;
	}
		
.specification_area{
	float:left;
	display:inline;
	width:370px;
	height:auto;
	margin:0px 5px;
	background:#f7f3ea;
	}	
	
.specification_area h2{
	float:left;
	display:block;		
	color: #510007;
    font-family: Baskerville,"Palatino Linotype",Palatino,"Century Schoolbook L","Times New Roman",serif;
    font-size: 28px;
	padding:5px;							
}

.specification_area thead{
	background:#8c867c;
	}


.specification_area th{
	color:#f7f3ea;
	padding:5px;
	font-size:12px;
	text-align:left;
	}

.specification_area td{
	color:#333;
	padding:5px;
	font-size:10px;
	text-align:left;
	}

.specification_area table,
.specification_area td
{
border: 1px solid black;
}				
	
	
	
	
	
		
	
							


@media(max-width:767px){
h1.main_title{
	font-size:30px;
	}	
.one_half,
.one_third,
.label_con{
	width:100%;
	margin:0 !important;
	}
	
.label_con span{
	margin-top:0px;
	line-height:20px;
	}
	
.label_con_2 span{
	margin-top:0px;
	}	
	
.input_outer_2{
	overflow:visible;
	}
.para_con,
.thumb_con_2{
	width:100%;
	margin:10px 0px;
	}		
	}			
	
@media(max-width:1000px){
	.mid-left-2,
	.mid-right-2{
		width:100%;
		}
		
	.model_row img{
	float:left;
	display:inline-block;
	width:100%;
	height:auto;
	}
	
.model_row .text_con{
	float:left;
	display:block;
	width:98%;
	height:auto;
	min-height:100%;
	padding:5px 1% 30px 1%;
	position:relative;
	}

.mid-right-2{
	text-align:center;
	}
	
.mid-right-2 .para_separator{
	display:none;
	}
	
.mid-right-2 .para_separator:first-child{
	display:block;
	}		
	
.search_area{
	float:none;
	display:block;
	margin:10px auto;
	
	}	
	
.widget_box,
.coloum_style_2{
	float:none;
	display:block;
	width:auto;
	max-width:300px;
	margin:10px auto;
	}	

.widget_box{
	height:300px;
	}
.blueprint_area{
	display:block;
	width:100%;
	height:auto;
	}
	
.specification_area{
	display:block;
	width:100%;
	height:auto;
	margin:5px 0px;
	}
	
.model_des_row{
	display:block;
	width:100%;
	height:auto;
	}
	
.model_des_row .thumb{
	display:block;
	width:100%;
	height:auto;
	}
	
.model_des_row .thumb img{
	margin:5px auto;
	}	

.model_des_row .des{
	display:block;
	width:98%;
	padding:5px 1%;
	height:auto;
	}
	
.model_des_row .des_row,
.model_des_row .des_row_2{
	display:block;
	margin:5px auto;
	float:none;
	width:50%;
	min-width:300px;
	}
	
.model_des_row .des_row span{
	width:40%;
	padding:8px 5%;
	}
	
	
	
	}
	
@media print
{
body * { visibility: hidden !important; }
#printable{ 
visibility: visible !important; 
}
}												