/*Resets*/
html {
	font-family: 'Roboto', Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
body {
	margin: 0;
	background: #fff;
	min-width: 320px;
	overflow-x:hidden; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a {
	background: 0 0
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	margin: .67em 0;
	font-size: 2em
}
mark {
	color: #000;
	background: #ff0
}
small {
	font-size: 80%
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0;
	max-width: 100%;
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0
}
input {
	line-height: normal
}
input[type=checkbox], input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	height: auto
}
input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid silver
}
legend {
	padding: 0;
	border: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 700
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
td, th {
	padding: 0
}

html {
	font-size: 14px;
}

.fc {
	font-family: 'Roboto Condensed', sans-serif;
}

.row{
	float: left;
	display: inline-block;
	width: 100%;
}



/*header sytles*/

body{
	padding-top: 45px;
	padding-bottom: 48px;
}

.top{
	width: 100%;
	height: 44px;
	position: fixed;
	top: 0;
	left: 0;
	background: #f6f7f7;
	border-bottom: #888 solid 1px;
	z-index: 999;

}

.top .t1{
	position: absolute;
	top: 0;
	left: 15px;
}

.top .t2{
	position: absolute;
	top: 0;
	right: 67px;
}

.top .t3{
	position: absolute;
	top: 0;
	right: 15px;
}



.header{
	padding: 15px 15px 8px;
	overflow: hidden;
	position: relative;
}

.logo_con{
	float: left;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 13px;
}

.logo_con img{
	width: 100%;
	height: 100%;
}


.title_con{
	display: block;
	position: relative;
	padding-bottom: 30px;
	min-height: 70px;
}




.title_con h1{
	font-weight: 500;
	font-size: 17px;
	color: #121212;
	margin: 2px 0 0;
	padding: 0;
	line-height: 1;
	display: inline-block;
	float: left;
}

.title_con h1 span{
	display: inline-block;
	font-size: 10px;
	padding: 0px 2px;
	border: #121212 solid 1px;
	margin-top: 3px;
	float: right;
	margin-left: 5px;
}

.title_con h2{
	font-weight: 500;
	font-size: 15px;
	color: #121212;
	margin: 4px 0 0;
	padding: 0;
	line-height: 1;
	float: left;
	letter-spacing: -1px;
}

.title_con .cat{
	float: left;
	display: inline-block;
	font-size: 10px;
	padding: 1px 7px;
	color: #fff;
	background: #848484;
	border-radius: 10px;
	margin-top: 4px;
}

.title_con .download{
	position: absolute;
	right: -1px;
	bottom: -1px;
	display: none;
}

.title_con .buy_btn{
	position: absolute;
	right: -1px;
	bottom: -1px;
	padding: 0 7px;
	height:27px;
	line-height:27px;
	border-radius: 5px;
	border:#007aff solid 1px;
	color: #007aff;
	font-weight: 500;
	font-size: 1em;
}

.title_con .buy_btn sup{
	top: -10px;
	left: -5px;
}


.title_con .ratting{
	position: absolute;
	display: inline-block;
	padding-left: 40px;
	min-height: 20px;
	line-height: 20px;
	font-size: 10px;
	left: 114px;
	bottom: 0;
	background:url(../img/star.png) left center no-repeat;
	color: #777;
}


.btn_row{
	padding: 7px 15px 7px 15px;
	border-bottom: #e8e8e8 solid 1px;
	background: #fff;
	
	
}

.fixed .header .row_1{
	margin-bottom: 45px;
}

.fixed .btn_row {
	top: 45px;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 998;
	opacity: .95;
	
}


.btn-set-outer{
	border:#848484 solid 1px;
	background: #848484;
	height: 28px;
	border-radius: 5px;
	margin-top: 15px;
	overflow: hidden;

}

.btn_row .btn-set-outer{
	margin-top: 0;
	width: 288px;
	margin: 0 auto;	
}

.btn-set-outer a{
	display: inline-block;
	width: 96px;
	text-align: center;
	height: 28px;
	background: #fff;
	color: #848484;
	line-height: 28px;
	border-left: #848484 solid 1px;
	border-right: #848484 solid 1px;
	text-decoration: none;
	float: left;
	font-size: 13px;
	cursor: pointer;
}

.btn-set-outer a:first-child,
.btn-set-outer a:last-child{
	width: 95px;
	border:none;
}




.btn-set-outer a.active{
	color: #fff;
	background: #848484;
}

/*Description section*/

#wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	background: #fff;
	height: 375px;
	overflow: hidden;
	margin-top: 13px;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 5000px;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0 15px;
	border-bottom: #e8e8e8 solid 1px;
	width: 100%;
	height: 348px;
	text-align: center;
	padding-bottom: 26px;

}

#scroller li {
	display: block;
	float: left;
	width: 196px;
	height: 100%;
	background-color: #fff;
	font-size: 14px;
	margin: 0px 15px 0px 0;
	cursor: pointer;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 3),
only screen and (-moz-min-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {

	#wrapper{
		height: 257px;
	}

	#scroller ul{
		height: 230px;
	}

    #scroller li {
        width: 130px;
    }
}


.video video {
	display: none;
	width: 100%;
}




/* Image popup */
#viewport {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(246,245,246,.97);
	display: none;
}

#viewport_inner{
	position: relative;
	width: 320px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#wrapper2 {
	width: 260px;
	height: 100%;
	margin: 0 auto;
}


.viewer_top{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background:transparent;
	border-bottom: #e8e8e8 solid 1px;
	height: 50px;
	z-index: 99999;
}

.viewer_top span{
	float: right;
	display: inline-block;
	margin: 20px 15px 0 0;
	color: #007aff;
}




#scroller2 {
	position: absolute;
	z-index: 9999;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 5000px;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller2 ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#scroller2 li {
	display: block;
	float: left;
	width: 240px;
	height: 100%;
	font-size: 14px;
	margin: 0px;
	cursor: pointer;
}

@media(max-width: 375px) and (min-width: 321px){
	#viewport_inner{
		width: 375px;
	}

}

@media(max-width: 414px) and (min-width: 376px){
	#viewport_inner{
		width: 414px;
	}
}

#scroller2 li img {
	vertical-align: middle;
	width: 245px;
	max-height: 100%;
}

#indicator {
	position: absolute;
	width: 100%;
	height: 10px;
	z-index: 9999;
	bottom: 30px;
	text-align: center;
}

#indicator a{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin:0 5px;
	background: url(../img/dot.png);
	border-radius: 10px;
}

#indicator a.active{
	background: #00bbee;
}


#description,
#review,
#similar{
	padding: 0px 0px 0px 15px;
}

#description h3,
#review h3,
#similar h3{
	font-weight: 400;
	font-size: 18px;
	color: #121212;
	margin-bottom: 15px;
	line-height: 1;
}

#description h3 span{
	font-size: 16px;
	color: #848484;
}


#description p,
#review p{
	font-weight: 400;
	font-size: 13px;
	color: #848484;
	margin-bottom: 15px;
	line-height: 1.3;
	padding-right: 15px;
}

#description .hr,
#review .hr,
#similar .hr{
	border-bottom: #e8e8e8 solid 1px;
	height: 1px;
	width: 100%;
	margin: 15px 0;
}

.more_con{
	height: 94px;
	overflow: hidden;
	position: relative;
}

.more_con a.more{
	position: absolute;
	bottom: 1px;
	right: 1px;
	display: inline-block;
	width: 43px;
	height: 12px;
	color: #007aff;
	font-size: 13px;
	background-color: #fff;
	padding: 1px;
 }

td { 
    padding: 3px 5px;
    font-weight: 400;
	font-size: 13px;
	line-height: 1.3;
	vertical-align: top;
	
}

td.label{
	color: #848484;
}

a.unlike,
a.link-right,
a.link-left{
	color: #007aff;
	font-size: 18px;
	display: inline-block;
	float: right;
	text-decoration: none;
	
	margin-top: -5px;
}


a.link-left{
	float: left;
}

#review h3.fb{
	margin-bottom: 5px;
	margin-top: 25px;
}

#review p{
	padding-right: 15px;
}

#review p.fb{
	margin-top: 8px;
	padding-top: 3px;
	padding-left: 33px;
	min-height: 24px;
	position: relative;

}

#review p.b{
	color: #121212;
}

#review p.fb img{
	position: absolute;
	top: 0;
	left: 0;
}

#review .btn-set-outer-2{
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 15px;
	width: 216px;
}

#review .btn-set-outer-2 a{
	width: 106px;
	border-right: #848484 solid 1px;
	border-left: none;
}



#review .btn-set-outer-2 a:last-child{
	width: 109px;
	border:none;
}


#similar .app_con{
	height: 143px;
	background: url(../img/app.png) left center no-repeat;
	overflow: hidden;
}

section{
	display: none;
}

.video_player{
	width: 100%;
	height: 568px;
	background: url(../img/player_bg.png) 100% 100%;
	background-size: 100% 100%;
	line-height: 568px;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	display: none;

}

.video_player video{
	width: 100%;
	vertical-align: middle;
}

.video_player .control{
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 167px;
	height: 27px;
	margin-left: -83.5px;
	cursor: pointer;
}

.videoClose{
	position: absolute;
	top: 7px;
	left: 7px;
	line-height: 1;
	font-size: 13px;
	color: #707274;
	font-weight: 500;
	cursor: pointer;
}

.bottom{
	height: 48px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 15px;
	padding-right: 15px;
	background: #f8f8f8;
	z-index: 999;
	text-align: justify;
	border-top: #888 solid 1px;
}



.bottom a{
	display: inline-block;
	height: 48px;

}

.bottom a img{
	max-height: 100%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}