* {
	margin: 0;
	padding: 0;
}

html {
	background: url(background.jpg) no-repeat center center fixed; /*Main Background*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*
	 * Default font all elements
	 */
	font-family: "Calibri", sans-serif;
}

#wrapper {
	/*
	 * Width and height of layout
	 */
	width: 1920px;
	height: 1280px;
	margin: 0 auto;
	position: relative;
}

#title {
	/*
	 * Styles for main title i.e. "Trivia challenge"
	 */

	font-size: 6em;
	color: #12b5ec;
	text-shadow: #000 0px 0px 10px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 50px;
	font-weight: bolder;
}

#trivia {
	/*
	 * Styles for question panel
	 */
	position: absolute;
	/*
	 * Position for question panel
	 */
	left: 355px;
	top: 170px;
	/*
	 * Width and height of question panel
	 */

	width: 1190px;
	height: 475px;
	/*
	 * Background, border and padding for main panel
	 */
	background: #000;
	border: 5px solid #12B5EC;
	border-radius: 15px;
	padding: 5px;
	overflow: auto;
}



#trivia #quiz #qnr {
	/*
	 * Styles for question counter i.e. the green title above the question
	 */
	margin: 0 2em 0 1.5em;
	padding: 0;
	font-size: 2.5em;
	font-style: italic;
	text-align: center;
	color: green;
}


#trivia #quiz #tquestion {
	/*
	 * Styles for question text
	 */
	margin: .4em .1em 1.5em .1em;
	font-size: 3em;
	text-align: center;
	color: #fff;
}

#category_con {
	/*
	 * Styles for category text
	 */
	background: #000;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 3em;
	position: absolute;
	top: 370px;
	right: 1620px;
	width: 250px;
	line-height: 100px;
	text-align: center;
	display: none;
	border-radius: 15px;
}

#counter_con {
	/*
	 * Styles for countdown timer
	 */
	width: 250px;
	height: 250px;
	background: #000;
	border-radius: 150px;
	text-align: center;
	line-height: 250px;
	position: absolute;
	left: 1620px;
	top: 300px;
	color: #fff;
	font-size: 3em;
	display: none;
}

.state_running #category_con, .state_running #counter_con {
	display: block;;
}


#options {
	/*
	 * Styles for options container
	 */
	position: absolute;
	/*
	 * Position for options panel
	 */

	left: 155px;
	top: 760px;
	/*
	 * width and height for options panel
	 */
	width: 1570px;
	height: 250px;
}

#options .qanswer {
	/*
	 * Styles for options
	 */
	border: 1px solid #333;
	background: #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-khtml-border-radius: .3em;
	border-radius: .3em;
	padding: .1em;
	font-size: 2.4em;
	cursor: pointer;
	border: #12B5EC solid 3px;
	border-radius: 20px;
	width: 730px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	color: #fff;
	position: absolute;
}

#options .qanswer:nth-child(1) {
	/*
	 * Position for first option
	 */
	top: 0;
	left: 0;
}


#options .qanswer:nth-child(2) {
	/*
	 * Position for 2nd option
	 */
	top: 0;
	right: 0;
}


#options .qanswer:nth-child(3) {
	/*
	 * Position for 3rd option
	 */
	bottom: 0;
	left: 0;
}

#options .qanswer:nth-child(4) {
	/*
	 * Position for 4th option
	 */
	bottom: 0;
	right: 0;
}

#options .qanswer:hover {
	border: orange solid 3px;
}


#options #qansw {
	min-height: 140px;
	margin: 0 .1em;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	-khtml-border-radius: .6em;
	border-radius: .6em;
}

#options #qansw strike {
	color: red;
	padding: 5px;
	font-size: 2em;
}

#options #qansw.result {
	background: #000;
	border: 5px solid #12B5EC;
	border-radius: 15px;
}

#round_status {
	display: inline-block;
	float: right;
	color: #fff;
	padding: 5px;
}



#options #cansw {
	color: #fff;
}

#options #nia, #options #iansw {
	color: #fe0001;
	font-weight: 800;
	font-size: 2em;
	padding: 5px;
}

#round_status h4 {
	margin: .1em 0 0 1em;
	color: #fff;
}

#round_status #ntotalq {
	font-size: 1.1em;
	text-decoration: underline;
}

#round_status #nqansw, #round_status #nca, #options #canswer {
	color: #0001fe;
	font-weight: 800;
	font-size: 2em;
	padding: 5px;
}

/*
 * General styles
 */

.left_div {
	float: left;
	display: inline-block;
	width: 75%;
}

.right_div {
	float: left;
	display: inline-block;
	width: 25%;
}

.state_running .left_div, .state_running .right_div {
	width: 100%;
}

#trivia #tcateg {
	margin: 10px 28% .2em 1em;
	font-weight: 100;
	color: #fff;
}

#trivia #tcateg select {
	min-width: 200px;
}

#trivia #quiz ul {
	list-style: none;
}

#trivia #quiz #sctimer {
	position: absolute;
	top: .3em;
	right: .5em;
	background: yellow;
	border: 1px dashed #00d001;
	padding: 0 .2em;
	font-size: 1.2em;
	font-weight: 800;
	color: #00d001;
}

#trivia #quiz #nextq {
	display: block;
	margin: 1em auto 1em 30%;
	cursor: pointer;
}

#trivia #answered {
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	-khtml-border-radius: .5em;
	border-radius: .5em;
	padding: .4em 1%;
	font-size: .9em;
	border: #FD6424 solid 1px;
	color: #fff;
}

#trivia #answered h4, #round_status h4 {
	margin: .1em 0 0 1em;
	color: #fff;
}
#trivia #answered #ntotalq, #round_status #ntotalq {
	font-size: 1.1em;
	text-decoration: underline;
}
#trivia #answered #nqansw, #trivia #answered #nca, #trivia #quiz #canswer, #round_status #nqansw, #round_status #nca, #options #canswer {
	color: #0001fe;
	font-weight: 800;
	font-size: 2em;
	padding: 5px;
}

#options button {
	margin: 5px;
}
#trivia #qdata {
	border: 1px solid #FD6424;
	color: #fff;
	padding: 5px 1%;
	border-radius: 10px;
}

.state_running #trivia #answered, .state_running #trivia #qdata {
	display: none;
}

#trivia #qdata h4 {
	margin: .4em 1px 0 1px;
	text-align: center;
}
#trivia #qdata label, #trivia #qdata button {
	display: block;
	margin: .3em 0;
	cursor: pointer;
}
#trivia #qdata #startqn {
	margin: 0 0 0 1em;
	font-size: .85em;
	color: #0001ed;
}
#trivia #qdata #nquiz {
	width: 2em;
	height: .9em;
	font-size: .85em;
}
#trivia #qdata button {
	margin: .3em 0 .3em 25%;
	font-size: .85em;
}
#trivia #tfrom {
	margin: 1em auto .3em auto;
	text-align: center;
}

#trivia #quiz {
	position: relative;
	min-height: 15em;
	-moz-border-radius: .8em;
	-webkit-border-radius: .8em;
	-khtml-border-radius: .8em;
	border-radius: .8em;
	padding: .3em;
	color: #fff;
}

.state_running #trivia #quiz {
	margin-right: 0;
}

#trivia #quiz h3 {
	margin: .2em auto;
	text-align: center;
}

#trivia #quiz strong {
	color: #09f;
}


button {
	background: #fff;
	color: #000;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

button:hover {
	background: #12B5EC;
}

/*
 Form settings
 */

.center {
	max-width: 960px;
	margin: 0 auto;
	background: #fff;
	overflow: auto;
	padding: 10px;
}

.form {
	margin: 5px;
	border: #aaa solid 1px;
	border-radius: 10px;
	overflow: auto;
	padding: 10px;
}

.form_row {
	margin: 5px 0px;
	float: left;
	width: 100%;
}

.form_row .input_level {
	float: left;
	display: inline-block;
	width: 20%;
	text-align: right;
	font-size: 14px;
	font-family: "Calibri", sans-serif;
}

.form_row .input {
	float: right;
	display: inline-block;
	width: 75%;
	text-align: left;
}

.form_row .input input, .form_row .input textarea, .form_row .input select {
	border: #eee solid 1px;
	padding: 5px;
	min-width: 50%;
}

.form_row .input input:focus, .form_row .input textarea:focus, .form_row .input select:focus {
	border-color: #12B5EC;
}

.form_row .input button {
	border: #000 solid 1px;
	cursor: pointer;
}

#form_title, #confirm_page h3 {
	font-family: "Calibri", sans-serif;
	color: #333;
}

#confirm_page, #question_list {
	min-height: 200px;
	margin: 50px 5px;
	border: #aaa solid 1px;
	border-radius: 10px;
	overflow: auto;
	padding: 10px;
}

#question_list td, #question_list th {
	padding: 5px;
	font-family: "Calibri", sans-serif;
	color: #333;
}
