/* Fonts */
@font-face {
	font-family: 'conqueror_sansregular';
	src: url('../fonts/conquerorsans-webfont.eot');
	src: url('../fonts/conquerorsans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/conquerorsans-webfont.woff2') format('woff2'), url('../fonts/conquerorsans-webfont.woff') format('woff'), url('../fonts/conquerorsans-webfont.ttf') format('truetype'), url('../fonts/conquerorsans-webfont.svg#conqueror_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'conqueror_sansultralight';
	src: url('../fonts/conquerorsans-ulight-webfont.eot');
	src: url('../fonts/conquerorsans-ulight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/conquerorsans-ulight-webfont.woff2') format('woff2'), url('../fonts/conquerorsans-ulight-webfont.woff') format('woff'), url('../fonts/conquerorsans-ulight-webfont.ttf') format('truetype'), url('../fonts/conquerorsans-ulight-webfont.svg#conqueror_sansultralight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'conqueror_sansthin';
	src: url('../fonts/conquerorsans-thin-webfont.eot');
	src: url('../fonts/conquerorsans-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/conquerorsans-thin-webfont.woff2') format('woff2'), url('../fonts/conquerorsans-thin-webfont.woff') format('woff'), url('../fonts/conquerorsans-thin-webfont.ttf') format('truetype'), url('../fonts/conquerorsans-thin-webfont.svg#conqueror_sansthin') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Global Styles */

html, body {
	height: 100%;
}

body {
	background: #000;
	font-family: 'conqueror_sansthin';
	font-size: 24px;
	min-width: 320px;
}

#body {
	border: #b01e23 solid 15px;
	background: url(../img/dallas.png) center 300px no-repeat;
	background-size: 100% auto;
}

img {
	max-width: 100%;
}

.img-portfolio {
	margin-bottom: 30px;
}

.img-hover:hover {
	opacity: 0.8;
}

@media (max-width: 767px) {
	body {
		font-size: 20px;
	}

	#body {
		border-width: 5px;
	}
}

/* header */
#header .navbar {
	margin-top: 50px;
}

#header .navbar-brand {
	height: auto;
}

#header .navbar-brand img {
	max-width: 100%;
}

#header .nav > li > a {
	font-size: .8em;
	min-width: 143px;
	text-align: center;
	color: #fff;
	opacity: .8;
	text-transform: uppercase;
}

#header .nav > li > a:hover, #header .nav > li > a.active {
	background: none;
	font-family: 'conqueror_sansultralight';
	opacity: 1;
}

.navbar-toggle .icon-bar {
	background: #ffffff;
}

#header .navbar-collapse, #header .navbar-toggle {
	border-color: #b01e23;
}

@media (max-width: 979px) {
	#header .navbar-brand {
		width: 200px;
		padding: 5px;
	}

	#header .nav > li > a {
		padding: 5px;
		min-width: 130px;
	}
}

@media (max-width: 757px) {
	#header .nav > li > a {
		text-align: left;
	}

}

@media (max-width: 480px) {
	#header .navbar-brand {
		width: 150px;
	}
}

/* sidebars */
#sidebar h3 {
	color: #fff;
	font-size: 1em;
	font-family: 'conqueror_sansregular';
	font-weight: 100;
	margin-bottom: 0;
}

#sidebar ul, #sidebar li {
	list-style: none;
	padding-left: 0;
}

#sidebar li {
	height: .9em;
}

#sidebar ul {
	margin-bottom: 30px;
}

#sidebar a {
	color: #ddd;
	font-size: .6em;
}

#sidebar a:hover, #sidebar a.active {
	color: #fff;
	font-family: 'conqueror_sansregular';
}

@media (min-width: 768px) {
	#sidebar ul {
		display: block !important;
		transition: none !important;
		height: auto !important;
		padding-bottom: 10px;
	}
}

@media (max-width: 767px) {
	#sidebar h3 {
		cursor: pointer;
	}
	#sidebar li {
		height: auto;
	}
}

/* Footer */

footer p {
	color: #ccc;
	font-size: .5em;
	letter-spacing: 3px;
	word-spacing: 5px;
	text-align: center;
	margin: 30px 0;
}

footer a {
	color: #fff;
	font-family: 'conqueror_sansregular';
}

/* homepage */



.homepage-text {
	margin-top: 50px;
	text-align: left;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
	margin-bottom: 30px;
}

.homepage-text h2 {
	letter-spacing: .2em;
	font-size: 1.9em;
	color: #ddd;
	margin-top: 0;
}

.homepage-text h2 b {
	font-family: 'conqueror_sansregular';
	color: #fff;
	font-weight: 100;
}

.homepage-text p {
	color: #ccc;
	font-size: .6em;
	letter-spacing: 1.2px;
	word-spacing: 3px;
}

.homepage-text span {
	color: #fff;
	font-family: 'conqueror_sansregular';
}

.homepage-text .signature {
	text-align: right;
}

.homepage-text .signature img {
	max-width: 110px;
}

.homepage-text .signature p {
	font-size: .5em;
	margin-top: 5px;
}

#homepage-carousel {
	min-height: 250px;
	padding-bottom: 50px;
}

#homepage-carousel .carousel-indicators li {
	border-color: #454545;
}

#homepage-carousel .carousel-indicators .active {
	background-color: #454545;
}

#homepage-carousel .carousel-control{
	display:none;
	background:none;
}

#homepage-carousel:hover  .carousel-control{
	display:inline-block;
}



@media (max-width: 1200px) {
	.homepage-text h2 {
		font-size: 1.6em;
	}
}

@media (max-width: 979px) {
	.homepage-text h2 {
		text-align: left;
	}
}

@media (max-width: 979px) {
	.homepage-text h2 {
		font-size: 1em;
	}
}

/* inventory items */

.inventory-item {
	margin-bottom: 40px;
}

.inventory-item-thumb {
	max-width: 100%;
	text-align: left;
}

.inventory-item-details h3 {
	text-transform: uppercase;
	color: #fff;
	font-family: 'conqueror_sansregular';
	font-size: .7em;
	margin: 0px 0px 15px;
	letter-spacing: 1.3px;
}

.inventory-item-details p {
	text-transform: uppercase;
	color: #fff;
	font-family: 'conqueror_sansthin';
	font-size: .5em;
	margin: 0px 0px 15px;
	line-height: 1.4;
	letter-spacing: 1.2px;
}

.inventory-item-details p b {
	font-weight: 100;
	font-family: 'conqueror_sansregular';
}

.inventory-item-nav > li > a {
	font-size: .6em;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 30px 5px 2px;
}

.inventory-item-nav > li > a:hover, .inventory-item-nav > li > a.active {
	text-decoration: underline;
	background: none;
}

.inventory-item-price {
	text-align: center;
	color: #fff;
}

.inventory-item-price h3 {
	font-size: 1em;
	font-family: 'conqueror_sansregular';
	margin: 0;
}

.inventory-item-price span {
	font-family: 'conqueror_sansthin';
	font-size: .5em;
	display: block;
}

@media (max-width: 979px) {
	.inventory-item-thumb {
		margin-bottom: 20px;
	}

	.inventory-item-thumb img {
		width: 200px;
	}
}

@media (max-width: 767px) {
	.inventory-item-thumb {
		margin-top: 20px;
	}
	
	.inventory-item-thumb img {
		width: 300px;
	}

	.inventory-item-nav {
		margin-left: 0;
	}

	.inventory-item-details p {
		font-size: .7em;
	}
	
	.inventory-item-nav >li{
		display: inline-block;
	}
	
	.inventory-item-nav > li > a {
		padding-right: 4px;
	}
}

/* inventory details */
.inventory-title h2 {
	font-size: 1.2em;
	color: #fff;
	margin-top: 0;
	margin-bottom: 40px;
	font-family: 'conqueror_sansregular';
	text-transform: uppercase;
}

.inventory-title a {
	display: inline-block;
	float: right;
	color: #ddd;
	font-size: .7em;
}

.large-thumb-con {
	height: 250px;
	backgroun: url(../img/loading.gif) center center no-repeat;
}

.large-thumb-con img {
	max-height: 100%;
}

.inventory-info p {
	text-transform: uppercase;
	color: #fff;
	font-family: 'conqueror_sansthin';
	font-size: .5em;
	margin: 0px 0px 15px;
	line-height: 2;
	letter-spacing: 1.2px;
}

.inventory-info p b {
	font-weight: 100;
	font-family: 'conqueror_sansregular';
}

.inventory-info .price{
	font-weight: 100;
	font-family: 'conqueror_sansregular';
	color:#fff;
	margin-left:15px;
	margin-top:0;
}

.inventory-info .price span{
	font-size:.5em;
}

.thumb-container {
	background: #111;
	margin-top: 40px;
}

.thumb-container div {
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.thumb-container img {
	width: 100%;
	height: 100%;
}

.thumb-container > div:hover img, .thumb-container > div.active img {
	opacity: .7;
}

.inventory-details {
	margin-top: 30px;
	font-size: .7em;
	color: #fff;
}

.inventory-details h3 {
	font-family: 'conqueror_sansregular';
}

@media (max-width: 979px){
	.inventory-info {
		margin-top: 30px;
	}
}

@media (max-width: 767px) {
	.thumb-container {
		text-align: center;
	}
	.thumb-container img {
		width: auto;
		height: auto;
		max-height: 100%;
	}

	.inventory-title {
		margin-top: 30px;
	}

	.large-thumb-con {
		text-align: center;
	}
	.inventory-info {
		margin-top:0;
		font-size: 1.2em;
		margin-bottom:10px;
	}
	
	.expand_btn{
		margin-top:5px;
		margin-bottom:5px;
	}
	
	.thumb-container{
		margin-top:0;
	}

}

/*Our story*/

.story-row {
	margin-top: 50px;
}

.story-bottom {
	background: url('../img/car_4.jpg') left top no-repeat;
	background-size: auto 100%;
	text-align: right;
}

.story-bottom img {
	height: 240px;
}

.story-text h2 {
	letter-spacing: .2em;
	font-size: 1.9em;
	color: #ddd;
	margin-top: 0;
	margin-bottom: 40px;
}

.story-text h2 b {
	font-family: 'conqueror_sansregular';
	color: #fff;
	font-weight: 100;
}

.story-text p {
	color: #ccc;
	font-size: .7em;
	letter-spacing: 1.2px;
	word-spacing: 3px;
}

.story-text p span {
	color: #fff;
	font-family: 'conqueror_sansregular';
}

@media (max-width: 979px) {
	.story-bottom img {
		height: auto;
	}

	.story-text {
		margin-top: 40px;
	}
}

/*Contact*/

#map {
	height: 400px;
}

#body.page-contact {
	background: none;
}

.contact-container {
	padding-bottom: 30px;
}

.contact-container h2 {
	letter-spacing: .2em;
	font-size: 1.9em;
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact-container h2 b {
	font-family: 'conqueror_sansregular';
	color: #fff;
	font-weight: 100;
}

.contact-container p, .contact-container a {
	color: #ccc;
	font-size: .7em;
	letter-spacing: 1.2px;
	word-spacing: 3px;
}

.social_con {
	margin-top: 10px;
}

.social_con a {
	display: inline-block;
	margin: 3px;
}

.social_con a img {
	height: 24px;
}

@media (max-width: 480px) {
	.contact-container h2 {
		font-size: 1.5em;
	}
}
