@charset "utf-8";
/* CSS Document */

*{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #C1C1C1;
	}
	
/*Layout*/	
body{
	padding:0px !important;
	margin:0px !important;
	overflow-x:hidden;
	}
.starter_window_wrapper .row-fluid, .starter_window_wrapper .container-fluid{
	width:100% !important;
	padding:0px !important;
	margin:0px !important;
	}
	
.starter_window_wrapper{
	width:100% !important;
	padding:0px !important;
	margin:0px !important;	
	position:relative;
	background:#FFF;
	}

.starter_window_wrapper .row-fluid{
	width:100% !important;
	padding:0px !important;
	margin:0px !important;
	}
	

	
.starter_window{
	float:left;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	}
	
.d2d_header{
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	}			

.d2d_wrapper{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
	}
	

/*Top Navigation*/

.d2d_navCon .type4{
	width:98% !important;
	display:block;
	padding:0px 1% !important;
	background:none !important;
	text-align:center !important;
	border:none !important;
	color:#F4A024 !important;
	box-shadow:none !important;
	text-shadow:none;
	height:30px;
	line-height:30px;
	}

.d2d_navCon .navbar-inner{
	background:#fff !important;
	filter:none;
	border-radius:0px;
	}

.d2d_navCon .navbar-inner .container{
	float:right;
	margin-right:100px;
	}

.d2d_navCon a{
	float:left;
	display:block;
	width:auto;
	height:auto;
	color:#F4A024;
	font-weight:bolder;
	font-size:13px;
	line-height:40px;
	padding:0px 5px;
	}

		
@media (max-width: 979px){
.d2d_navCon .navbar-inner .container{
	float:none;
	margin:0 auto;
	}


.d2d_navCon .nav-collapse a{
	float:left;
	width:100%;
	line-height:30px;
	background:none;
	text-indent:10px;
	margin:0px;
	}		
}

@media (max-width:767px){
	.nav-collapse{
		background:#FFF;
	}
}
.d2d_navCon .nav-collapse a:hover{
	color:#09f;
	text-decoration:none;
	}

/*Carousal*/
.starter_carousal{
	float:left;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
	text-align:center;
	}
	
.starter_carousal img{
	height:95%;
	margin-top:5%;
	display:none;
	}
	
/*Search form*/

.search_container{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-315px;
	width:630px;
	height:auto;
	}
	
.search_container form{
	float:left;
	display:inline;
	width:100%;
	}	
	
.search_container span{
	float:left;
	display:inline;
	width:auto;
	line-height:40px;
	font-size:18px;
	font-weight:400;
	color:#B6B6B6;
	}
	
.search_container input{
	float:left;
	display:inline;
	width:150px;
	height:30px;
	padding:5px;
	-webkit-box-shadow: inset 0px 0px 6px 6px rgba(205, 205, 205, .5);
    box-shadow: inset 0px 0px 6px 6px rgba(205, 205, 205, .5);	
	margin:0px 10px;
	border:none;
	background:none;
	font-size:16px;
	font-weight:400;	
	}		

.search_container .button{
	width:70px;
	height:40px;	
	}	
@media (max-width:630px){
	.search_container{
		top:30%;
		left:5%;
		width:90%;
		margin-left:0px;
		}
	.search_container span{
		width:80%;
		margin:0px 10%;
		text-align:center;
		}
		
	.search_container input{
		width:80%;
		margin:5px 10%;
		text-align:center;
		}
		
	.search_container .button{
		width:82% !important;
	
		}		
	}

     /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
	  
	  .jumbotron .btn:hover{
		  color:#fff !important;
		}
		
		
		.jumbotron .logo_con{
			margin:0px 20px;
			text-align:center;
			}
		
		.jumbotron .logo_con img{
			max-height:400px;
			margin:0 auto;
		}	

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

/*Recent Items*/
.margin_60{
	margin-top:60px;
	}

.recent_title{
	background:#09f;
	margin-bottom:20px;
	}
	
.recent_title h1{
	color:#000;
	font-size:18px;
	padding-left:10px;
	line-height:30px;
	font-weight:400;
	}
.btn:hover{
	color:#FF6700;
	}
	
.caption h3{
	color:#3C0;
	}
	
.caption p{
	color:#666;
	}																					