*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

li,ul{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
}

/*Reset css end*/

/*Helper classes*/
.wrapper{
	float: left;
	width: 100%;
  position: relative;
  z-index: 10;
}

.container{
	margin:0 auto;
  overflow: hidden;
}

.row{
  display: block;
  overflow: hidden;
}


/*Header*/
.header_wrapper{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
  z-index: 100;
}

.header_container{
	max-width: 980px;
	padding: 10px 0;
}

.header_nav{
	float: right;
}

.header_nav li{
	float: left;
	display: inline-block;
	padding: 10px 20px;
}

.header_nav li a{
	color: #FFF;
}

.header_nav li:hover a,
.header_nav li.active a{
	color: #FF4D00;
}



@media(max-width: 767px){
  .header_nav li{
    padding: 5px;
  }
}

@media(max-width: 360px){
  .header_nav li a{
    font-size: 12px;
  }
}



/*Home section*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: fixed;
    bottom: 0%;
    left: 0%;
    
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



.home_container{
  max-width: 980px;
}

.logo-row{
  padding: 10px 0;
}

.logo-row .logo{
  display: inline-block;
  float: left;
  width: 100px;
}

#home{
  background: rgba(61,84,154,.2);
}

#home .text-row{
  text-align: center;
  margin-top: 150px;
}

#home .text-row p{
  margin-bottom: 30px;
  color: #17c1a4;
}

#home .text-row h1,
#home .text-row h2{
  font-weight: 900;
  text-align: left;
  color: #FFF;
}


#home .text-row h1{
  font-size: 64px;
}

#home .text-row h2{
  font-size: 48px;
}


.border{
  display: inline-block;
  height: 5px;
}

#home .text-row .border{
  width: 200px;
  background: #fff;
  margin-top: 40px;
}


#home .arrow-row{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

#home .arrow-row span{
  display: inline-block;
}

@media(max-width: 1024px){
  #home .text-row h1,
  #home .text-row h2{
    text-align: center;
  }

  #home .text-row h1{
    font-size: 48px;
  }

  #home .text-row h2{
    font-size: 36px;
  }
}

/*about section*/

#about{
  background: rgba(232, 241, 248,.8);
  padding: 70px 0;
}

#about .container{
  max-width: 980px;
}

#about .about-text{
  width: 70%;
  margin-left: 30%;
}

#about .about-text h3{
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  color: #2ab7e2;
}

#about .about-text h2{
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #656d80;
}

#about .about-text p{
  color: #000;
}

@media(max-width: 1024px){
  #about .about-text{
    margin-left: 0;
    width: auto;
    padding: 0 40px;
  }
}

/*Technology section*/

#technology{
  background: #17c1a4;
  padding: 100px 0;
}

#technology .container{
  max-width: 980px;
}

#technology .about-title-row{
  display: inline-block;
  width: 50%; 
  margin-bottom: 50px;
}

#technology .about-title-row h2{
  font-size: 36px;
  font-weight: 400;
  color: #fff;

}

#technology .about-title-row .border{
  width: 100px;
  background: #fff;
}

#technology .tech-row{
  float: left;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#technology .tech-col{
  float: left;
  width: 18%;
  margin-right: 2%;
  display: inline-block;
  text-align: center;
}

#technology .tech-col h3{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
}

#technology .tech-col p{
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: #eee;
}

#technology .tech-col .border{
  width: 50px;
  margin-bottom: 10px;
  background: #fff;
}

@media(max-width: 1024px){
  #technology{
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  #technology .about-title-row{
    width: 70%;
  }
}

@media(max-width: 767px){
  #technology .about-title-row{
    width: 100%;
  }

  #technology .tech-col{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  #technology .tech-col h3{
    font-size: 18px;
  }
}

/*Solution section*/

#solution{
  display: flex;
  flex-direction: row;
}

#solution .left-section{
  float: left;
  width: 30%;
  padding: 100px 5%;
  background: #86509c;
}

#solution .left-section h3{
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}

#solution .left-section p{
  color: #fff;
  font-size: 14px;
}

#solution .left-section .border{
  background: #fff;
  width: 50px;
  margin-bottom: 20px;
}



#solution .right-section{
  float: left;
  width: 60%;
  padding: 100px 5%;
  background-image: url(../img/bg_2.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 

}

#solution .right-section p,
#solution .right-section li{
  color: #fff;
}

#solution .right-section p,
#solution .right-section ul{
  margin-bottom: 10px;
}


/*Contact section*/

#contact{
  display: flex;
  flex-direction: row;
}

#contact .right-section{
  background: #d6477f;
}

#contact .left-section,
#contact .right-section{
  float: right;
  width: 40%;
  padding: 100px 5%;
}

#contact .left-section{
  background: url(../img/bg_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

#contact .left-section h3{
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}

#contact .left-section .border{
  background-color: #fff;
  width: 50px;
}


#contact .right-section p{
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}

#contact .right-section p span{
  display: block;
  font-size: 16px;
}

#contact .right-section input,
#contact .right-section textarea,
#contact .right-section button{
  display: block;
  width: 94%;
  border:0;
  padding: 10px 3%;
  margin-bottom: 10px;
  background: #af1954;
  color: #fff;
  outline: none !important;
}

#contact .right-section button{
  width: 100%;
  padding: 10px 0;
  text-align: center;
}


#contact .right-section ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
  font-style: italic;
}
#contact .right-section ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
  font-style: italic;
}
#contact .right-section :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 1;
  font-style: italic;
}
#contact .right-section :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity: 1;
  font-style: italic;
}

#contact .right-section .social_row{
  margin-top: 10px;
}

#contact .right-section .social_row li{
  display: inline-block;
  float: left;
  margin: 3px;
}

#contact .right-section .social_row li a{
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

#contact .right-section .social_row li img{
  vertical-align: middle;
}

#contact .right-section .social_row li:hover a{
  background: #af1954;
}




#footer{
  background: #3d549a;
  padding: 50px 0;
}

#footer .container{
  max-width: 980px;
}

#footer .container .footer_nav{
  float: left;
  display: inline-block;
  border-right: #fff solid 2px;
  padding: 30px 15px 0;
}

#footer .container .footer_nav li{
  display: block;
}

#footer .container .footer_nav li a{
  color: #ddd;
  font-size: 14px;
}

#footer .container .footer_nav li:hover a{
  color: #fff;
}

#footer .container .contact-box{
  float: left;
  display: inline-block;
  margin-top: 50px;
  margin-left: 10px;
}

#footer .container .contact-box p,
#footer .container .contact-box a{
  color: #fff;
  font-size: 14px;
}

#footer .container .copyright-row{
  display: block;
  width: 100%;
  padding-top: 10px;
  text-align: right;
}

#footer .container .copyright-row p{
  color: #fff;
  font-size: 14px;
  margin-right: 40px;
}

@media(max-width: 767px){
  #home .logo-row{
    margin-top: 50px;
  }

  #home .text-row{
    margin-top: 50px;
  }

  #home .text-row h1{
    font-size: 36px;
  }

  #home .text-row h2{
    font-size: 32px;
  }

  #about,
  #technology{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #solution,
  #contact{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #solution .left-section,
  #solution .right-section,
  #contact .left-section,
  #contact .right-section{
    width: 100%;
    padding: 40px;
    float: none;
  }

  #footer .container{
    padding-left: 40px;
    padding-right: 40px;
  }

  #technology .about-title-row h2,
  #about .about-text h2,
  #solution .left-section h3,
  #contact .left-section h3{
    font-size: 32px;
  }
}