/* CSS Document */

@font-face {
    font-family: 'calibriregular';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibrid41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri.woff') format('woff'),
         url('calibri.html') format('truetype'),
         url('../fonts/calibri.html#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*
{
 margin:0;
 padding:0;
}
h1,h2,h3,h4,h5,h6,p
{
 margin:0;
 padding:0;
}
ul,li
{
 list-style-type:none;
 margin:0;
 padding:0;
}
img
{
 max-width:100%;
 border:0;
 outline:0;
}
a
{
 outline:0;
 border:0;
 text-decoration:none;
}
body
{
 background:#70BDE4;
 margin:0;
 padding:0;
 font-family: 'calibriregular';
 font-weight:normal;
}
button.beatpicker-clear
{
 display:none;
}
.main
{
 width:992px;
 margin:auto;
}
.header
{
 background:#000;
 width:100%;
 padding:35px 0;
 overflow:hidden;
}
.logo
{
 padding:0 0 0 95px;
 float:left;
}
.phoneicon
{
 float:right;
 margin:0 100px 0 0;
 width:220px;
 background:url(../images/phoneicon.jpg) no-repeat left top;
 padding:0 0 0 55px;
 text-transform:capitalize;
 font-size:14px;
 line-height:normal;
 color:#fff;
}
.yellowbar
{
 background:#FECB02;
 height:20px;
 width:100%;
 margin:0 0 20px 0;
}
.whtebg
{
 background:#fff;
 padding:30px 20px 70px 20px;
 overflow:hidden;
 width:952px;
}
.buttonlanarea
{
 width:100%;
 overflow:hidden;
}
.buttonarea
{
 float:left;
 width:418px;
}
.buttonarea a
{
 float:left;
 display:block;
 color:#000;
 line-height:36px;
 display:block;
 text-align:center;
 font-size:19px;
 font-weight:bold;
 text-shadow:1px 1px 1px #fff;
}
a.yellowbut
{
 background:#FECB02;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 width:170px;
}
a.yellowbut:hover
{
 background:#F0C002;
}
.skybut
{
 background:#79D2E8;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 width:230px;
 margin:0 0 0 18px;
}
a.skybut:hover
{
 background:#63C6DF;
}
.lanarea
{
 width:287px;
 float:right;
 border:1px solid #A3A3A3;
 padding:5px 10px;
 background:#F6F6F6;
 box-shadow: 0px 0px 9px 5px rgba(221, 221, 221, 0.75);
 -moz-box-shadow: 0px 0px 9px 5px rgba(221, 221, 221, 0.75);
 -webkit-box-shadow: 0px 0px 9px 5px rgba(221, 221, 221, 0.75);
 overflow:hidden;
 position:relative;
 height:30px;
}
#selectx{
 background: url("../images/select_arrow.jpg") no-repeat right center #E5E5E5;
 border: 1px solid #aaa;
 border-radius:3px;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 color: #4A4A4A;
 font-weight: normal;
 height:28px;
 line-height: 28px;
 overflow: hidden;
 padding: 0 0 0 5px;
 position: absolute;
 text-transform:uppercase;
 width: 122px;
 float:left;
 left:5px;
 top:5px;
}
.language
{
 width:75px;
 float:right;
 margin:5px 0 0 0;
}
.language ul
{
 display:inline;
}
.language ul li
{
 float:left;
 font-size:13px;
 text-transform:uppercase;
 border-left:1px solid #A6A6A6;
}
.language ul li:first-child
{
 border:0;
}
.language ul li a
{
 color:#4A4A4A;
 padding:0 8px;
}
.language ul li a:hover
{
 color:#284A91;
 text-decoration:underline;
}
.language ul li a.active
{
 color:#284A91;
 text-decoration:underline;
}

.fullwidth

{

 width:100%;

 overflow:hidden;

 margin:15px 0 0 0;

 box-shadow: 0px 0px 9px 0px rgba(221, 221, 221, 1);

 -moz-box-shadow: 0px 0px 9px 0px rgba(221, 221, 221, 1);

 -webkit-box-shadow: 0px 0px 9px 0px rgba(221, 221, 221, 1);

}

.fullwidth h1

{

 color:#fff;

 font-weight:bold;

 font-size:20px;

 line-height:37px;

 background:url(../images/bluebg.jpg) repeat-x left top;

 border:1px solid #00236F;

 padding:0 0 0 10px;

}

.fullwidth h1 img

{

 float:left;

 margin:10px 10px 0 0;

}

.bodycontbg

{

 background:#F6F6F6;

 border:1px solid #A3A3A3;

 padding:15px;

 width:920px;

 overflow:hidden;

}

.skybg

{

 background:#EAF8FD;

 border:1px solid #A6A6A6;

 overflow:hidden;

 width:auto;

}

.calendararea

{

 width:auto;

 float:left;

 /*background:url(../images/calendar.jpg) no-repeat left 4px;*/

 padding:4px 15px 4px 0;

 border-right:1px solid #CED2D3;

 margin:0 0 0 15px;

}
.calicon
{
 float:left;
 margin:0 10px 0 0;
}
.input-container
{
 float:left;
}
.beatpicker .header
{
 background:none !important;
 padding:0 !important;
 width:auto !important;
}
.beatpicker .footer
{
 display:none !important;
}
.beatpicker
{
 border:1px solid #859CBA !important;
 box-shadow: none !important;
 width:200px !important;
 min-width:200px !important;
 border-radius:5px !important;
 -moz-border-radius:5px !important;
 -webkit-border-radius:5px !important;
}
.beatpicker li.cell
{
	height: 20px;
	line-height: 20px;

 padding:0px 1% !important;
 margin:2px 1% !important;
}
.calfield

{

 background:#D3DBDE !important;

 border:1px solid #C1CBCF;

 padding:4px;

 width:118px;

 height:12px;

 font-size:14px;

 color:#000000;

 border-radius:2px;

 -moz-border-radius:2px;

 -webkit-border-radius:2px;

}

a.dp-choose-date {

	float: left;

	width: 22px;

	height: 22px;

	padding: 0;

	margin:0 0 0 10px;

	display: block;

	text-indent: -2000px;

	background: url(../images/calendar.jpg) no-repeat; 

}

a.dp-choose-date.dp-disabled {

	background-position: 0 -20px;

	cursor: default;

}

input.dp-applied {

	width: 140px;

	float: left;

}

.calfield01

{

 background:#D3DBDE;

 border:1px solid #C1CBCF;

 padding:4px;

 width:65px;

 height:12px;

 font-size:14px;

 color:#000000;

 border-radius:2px;

 -moz-border-radius:2px;

 -webkit-border-radius:2px;

 margin:0 0 0 12px;

}

.calendararea01

{

 background:url(../images/bg.png) repeat left top;

 float:left;

 overflow:hidden;

 padding:4px 0 4px 20px;

 width:342px;

}

.nametxt

{

 line-height:22px;

 color:#0E0F0F;

 text-transform:capitalize;

 font-size:14px;

 padding:0 20px 0 0;

 float:left;

}

.calfield02

{

 background:#E0E0E0;

 border:1px solid #A7A7A7;

 padding:4px;

 width:130px;

 height:12px;

 font-size:14px;

 color:#000000;

 border-radius:2px;

 -moz-border-radius:2px;

 -webkit-border-radius:2px;

 -moz-box-shadow:inset 4px 4px 5px #BFBFBF;

 -webkit-box-shadow:inset 4px 4px 5px #BFBFBF;

 box-shadow:inset 4px 4px 5px #BFBFBF;

}

.boxarea

{

 width:100%;

 overflow:hidden;

 margin:210px 0 0 0;

}

.box

{

 float:right;

 width:255px;

}

.sglebox

{

 float:left;

 width:85px;

 color:#4A4A4A;

 font-size:14px;

 line-height:16px;

 text-transform:capitalize;

}

.sglebox img

{

 float:left;

 margin:0 5px 0 0;

}

.greenshapebg

{

 background:url(../images/greenshapebg.png) repeat left top;

 border:1px solid #67A00D;

 width:auto;

 overflow:hidden;

 padding:8px;

 margin:15px 0 0 0;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

}

.greenshapebg p

{

 color:#1F4206;

 font-size:14px;

 line-height:normal;

 background:url(../images/topcolon.png) no-repeat left top, url(../images/botcolon.png) no-repeat right bottom;

 padding:0 40px;

}

.scroll-pane

{

 width: 100%;


 overflow: auto;

}

.toparea

{

 width:100%;

 overflow:hidden;

}

.topcontarea

{

 width:100%;

 overflow:hidden;

}

.leftpart

{

 width:420px;

 float:left;

}

.bigthumb

{

 border:1px solid #A7A7A7;

 width:171px;

 height:112px;

 border-radius:8px;

 -moz-border-radius:8px;

 -webkit-border-radius:8px;

 float:left;

}

.bigthumb img

{

 border-radius:8px;

 -moz-border-radius:8px;

 -webkit-border-radius:8px;

}

.smallthumbarea

{

 float:left;

 width:247px;

}

.smallthumb

{

 border:1px solid #A7A7A7;

 width:70px;

 height:46px;

 border-radius:8px;

 -moz-border-radius:8px;

 -webkit-border-radius:8px;

 float:left;

 margin:0 0 0 10px;

}

.smallthumb img

{

 border-radius:8px;

 -moz-border-radius:8px;

 -webkit-border-radius:8px;

}

.lastsmallthumbarea

{

 margin:15px 0 0 0;

}

.rightpart

{

 float:right;

 width:430px;

}

.rightpart h2

{

 color:#676767;

 text-transform:capitalize;

 font-size:18px;

 line-height:normal;

 padding:0 0 10px 0;

}

.rightpart p

{

 color:#8D8D8D;

 font-size:12px;

 line-height:normal;

}

.rightpart p strong

{

 font-size:18px;

}

.botcontarea

{

 width:100%;

 overflow:hidden;

 margin:10px 0 0 0;

}

.headtxtarea

{

 width:100%;

 overflow:hidden;

}

.headtxt

{

 color: #0672B2; 

 font-weight: normal;

 text-transform:capitalize;

 font-size:14px;

 line-height:28px;

 text-align:center;

 border-top: 1px solid #ACACAC;

 border-bottom: 1px solid #ACACAC;

 float:left;

}

.width01

{

 width:289px;

 text-align:left !important;

}

.width02

{

 width:150px;

}

.width03

{

 width:165px;

}

.width04

{

 width:100px;

}

.greytxt

{

 color:#424242;

 font-weight:bold;

}

.redtxt

{

 color:#FB0000 !important;

}

.sglebotcontarea

{

 width:100%;

 overflow:hidden;

}

.sglebotcont

{ 

 color:#000000;

 font-size:12px;

 line-height:normal;

 border-top:1px solid #CCCCCC;

 padding:10px 0 15px 0;

 text-align:center;

 position:relative;

 float:left;

}

#selecty{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selecta{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selectb{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selectc{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selectd{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selecte{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selectf{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selectg{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selecth{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selecti{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selectj{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

#selectk{

 background: url("../images/select_arrow.jpg") no-repeat right 1px #fff;

 border: 1px solid #A7A7A7;

 border-radius:3px;

 -moz-border-radius:3px;

 -webkit-border-radius:3px;

 color: #424242;

 font-weight: normal;

 height:23px;

 line-height:23px;

 text-align:left;

 overflow: hidden;

 padding: 0 0 0 15px;

 position: absolute;

 text-transform:uppercase;

 width: 45px;

 -moz-box-shadow:inset 4px 4px 5px #DADADA;

 -webkit-box-shadow:inset 4px 4px 5px #DADADA;

 box-shadow:inset 4px 4px 5px #DADADA;

}

.rdtxt

{

 color:#FB0000;

}

td:first-child

{

 text-align:left;

}

.botarea

{

 width:100%;

 overflow:hidden;

 border-top:4px solid #2B509A;

 padding:18px 0 0 0;

}

.totales

{

 width:100%;

 overflow:hidden;

 border-top:1px solid #757575;

 margin:40px 0 0 0;

}

.totaltxtarea

{

 float:right;

 width:50%;

}

.totaltxt

{

 width:25%;

 float:left;

 line-height:46px;

 font-size:18px;

 color:#272727;

 text-align:center;

}

.fieldarea

{

 width:100%;

 overflow:hidden;

}

.sglefieldarea

{

 float:left;

 width:195px;

 margin:0 40px 0 0;

 position:relative;

}

#selectl{

 background: url("../images/select_arrow.jpg") no-repeat right center #FFFFFF;

 border:1px solid #A7A7A7;

 padding:4px 5px 4px 15px;

 width:94%;

 height:16px;

 font-size:14px;

 color:#000000;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 -moz-box-shadow:inset 4px 4px 5px #DBDBDB;

 -webkit-box-shadow:inset 4px 4px 5px #DBDBDB;

 box-shadow:inset 4px 4px 5px #DBDBDB;

 position: absolute;

 left:0;

 bottom:0;

}

#selectm{

 background: url("../images/select_arrow.jpg") no-repeat right center #FFFFFF;

 border:1px solid #A7A7A7;

 padding:4px 5px 4px 15px;

 width:94%;

 height:16px;

 font-size:14px;

 color:#000000;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 -moz-box-shadow:inset 4px 4px 5px #DBDBDB;

 -webkit-box-shadow:inset 4px 4px 5px #DBDBDB;

 box-shadow:inset 4px 4px 5px #DBDBDB;

 position: absolute;

 left:0;

 bottom:0;

}

#selectn{

 background: url("../images/select_arrow.jpg") no-repeat right center #FFFFFF;

 border:1px solid #A7A7A7;

 padding:4px 5px 4px 15px;

 width:94%;

 height:16px;

 font-size:14px;

 color:#000000;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 -moz-box-shadow:inset 4px 4px 5px #DBDBDB;

 -webkit-box-shadow:inset 4px 4px 5px #DBDBDB;

 box-shadow:inset 4px 4px 5px #DBDBDB;

 position: absolute;

 left:0;

 bottom:0;

}

#selectp{

 background: url("../images/select_arrow.jpg") no-repeat right center #FFFFFF;

 border:1px solid #A7A7A7;

 padding:4px 5px 4px 15px;

 width:94%;

 height:16px;

 font-size:14px;

 color:#000000;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 -moz-box-shadow:inset 4px 4px 5px #DBDBDB;

 -webkit-box-shadow:inset 4px 4px 5px #DBDBDB;

 box-shadow:inset 4px 4px 5px #DBDBDB;

 position: absolute;

 left:0;

 bottom:0;

}

.fieldarea label

{

 display:block;

 font-size:15px;

 line-height:30px;

 color:#2B2B2B;

 text-transform:capitalize;

}

.field

{

 background:#FFFFFF;

 border:1px solid #A7A7A7;

 padding:4px 5px;

 width:99%;

 height:16px;

 font-size:14px;

 color:#000000;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 -moz-box-shadow:inset 4px 4px 5px #DBDBDB;

 -webkit-box-shadow:inset 4px 4px 5px #DBDBDB;

 box-shadow:inset 4px 4px 5px #DBDBDB;

}

.field01

{

 background:#FFFFFF;

 border:1px solid #A7A7A7;

 padding:4px 5px;

 width:40%;

 height:16px;

 font-size:14px;

 color:#000000;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 -moz-box-shadow:inset 4px 4px 5px #DBDBDB;

 -webkit-box-shadow:inset 4px 4px 5px #DBDBDB;

 box-shadow:inset 4px 4px 5px #DBDBDB;

}

.lastfield

{

 margin:0;

}

.textareafield

{

 background:#FFFFFF;

 border:1px solid #A7A7A7;

 padding:10px;

 width:97%;

 height:57px;

 font-size:14px;

 color:#000000;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 -moz-box-shadow:inset 4px 4px 5px #DBDBDB;

 -webkit-box-shadow:inset 4px 4px 5px #DBDBDB;

 box-shadow:inset 4px 4px 5px #DBDBDB;

 font-family:"CALIBRI";

}

.checkboxarea

{

 width:225px;

 margin:20px auto auto;

 font-size:15px;

 line-height:15px;

 color:#FF1E00;

 overflow:hidden;

}

.checkbox {

	background:url(../images/check_box.png) no-repeat center top;

	width: 16px;

	height: 16px;

	display: block;

}

.confirmbut

{

 background:url(../images/confirmbut.jpg) repeat-x left top;

 width:195px;

 height:32px;

 border:1px solid #00236F;

 color:#fff;

 font-weight:bold;

 text-shadow:1px 1px 1px #000;

 outline:0;

 font-size:15px;

 border-radius:5px;

 -moz-border-radius:5px;

 -webkit-border-radius:5px;

 margin:12px 0;

 cursor:pointer;

}

.confirmbut:hover{
	background:#346CD3;
	}

.powertxt

{

 color:#585858;

 font-size:14px;

 line-height:18px;

 text-align:center;
}
#big_select{ width:205px; height:26px;}



@media only screen and (min-width: 768px) and (max-width: 1024px) {



.main

{

 width:768px;

}

.logo

{

 padding:0 0 0 20px;

}

.phoneicon

{

 margin:0 20px 0 0;

}

.whtebg

{

 width:728px;

}

.buttonarea

{

 width:60%;

}

.lanarea

{

 width:35%;

}

.bodycontbg

{

 width:696px;

}

.calendararea

{

 margin:0 0 0 5px;

 padding:4px 5px 4px 0;

}

input.dp-applied

{

 width:90px;

}
.calicon
{
 margin:0 5px 0 0;
}
.calfield01
{
 margin:0 0 0 5px;
 width:50px;
}
.calendararea01

{

 padding:4px 0 4px 5px;

 width:227px;

}

.greenshapebg p

{

 padding:0 30px;

}

.leftpart

{

 float:none;

 margin:auto;

}

.rightpart

{

 width:100%;

 float:none;

 overflow:hidden;

}

.sglefieldarea

{

 width:305px;

 margin:0 20px;

}

.textareafield

{

 width:96%;

}

.headtxt

{

 font-size:11px;

}

.width01

{

 width:115px;

}

.width02

{

 width:140px;

}

.width03

{

 width:155px;

}

.width04

{

 width:90px;

}


#big_select{ width:308px; height:26px;}



}

.sglebotcontarea .headtxt{
	display: none;
}

.f_right{
	float: right;
	margin: 10px 5px 0 0;
}

.pointer{
	cursor: pointer;
}
@media(min-width: 768px){
	.calendararea{
		margin-bottom: 0px !important;
	}
	.beatpicker{
		width: 300px !important;
	}

	.box{
		width: 340px;
	}

}

@media (max-width: 767px){
.beatpicker{
	top: 27px !important;
	display: none;
}
.boxarea{
	margin-top: 0 !important;
}

.sglebotcontarea .headtxt{
	display: block;
}

.headtxtarea{
	display: none;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {


.main

{

 width:480px;

}

.logo

{

 float:none;

 padding:0;

 text-align:center;

}

.phoneicon

{

 float:none;

 margin:20px auto auto;

}

.whtebg

{

 width:440px;

}

.buttonarea

{

 float:none;

 margin:auto;

 overflow:hidden;

}

.lanarea

{

 float:none;

 margin:20px auto auto;

 overflow:hidden;

}

.bodycontbg

{

 width:408px;

}

.calendararea

{

 float:none;

 margin:10px auto auto;

 padding:0;

 width:248px;
 margin-bottom:240px;
 position:relative;

 border:0;
 }

.calendararea01

{

 background:none;

 float:none;

 margin:10px auto 10px auto;

 padding:0;

 width:206px;

}

.boxarea

{

 margin:50px 0 0 0;

}
.box
{
 float:none;
 margin:auto;
}
.leftpart

{

 width:auto;

 float:none;

 overflow:hidden;

}

.bigthumb

{

 float:none;

 margin:auto;

}

.smallthumbarea

{

 float:none;

 margin:auto;

}

.smallthumb

{

 margin:10px 0 0 10px;

}

.rightpart{

 width:100%;

 overflow:hidden;

 float:none;

 margin:10px 0 0 0;

}

.width01,.width02,.width03,.width04

{

 width:auto;

}

.headtxt

{

 float:none;

 text-align:center !important;

}

.sglebotcont

{

 float:none;

 text-align:center !important;

}

.sglefieldarea

{

 float:none;

 margin:auto;

}

.textareafield

{

 width:94%;

}





}





@media only screen and (max-width: 479px) {
.totaltxtarea{
	width:100%;
	}


.main

{

 width:320px;

}

.logo

{

 float:none;

 padding:0;

 text-align:center;

}

.phoneicon

{

 float:none;

 margin:20px auto auto;

}

.whtebg

{

 width:300px;

 padding-left:10px;

 padding-right:10px;

}

.buttonarea a

{

 float:none;

 margin:0;

}

a.yellowbut

{

 margin:auto;

}

a.skybut

{

 margin:10px auto auto;

}

.buttonarea

{

 float:none;

 overflow:hidden;

 width:auto;

}

.lanarea

{

 float:none;

 margin:20px auto auto;

 overflow:hidden;

 padding:5px;

 width:auto;

}

.bodycontbg

{

 width:288px;

 padding:5px;

}

.calendararea

{

 float:none;

 margin:10px auto auto;

 padding:0;

 width:248px;
 margin-bottom:240px;
 position:relative;

 border:0;

}

.calendararea01

{

 background:none;

 float:none;

 margin:10px auto 10px auto;

 padding:0;

 width:206px;

}

.boxarea

{

 margin:50px 0 0 0;

}
.box
{
 float:none;
 margin:auto;
}
.leftpart

{

 width:auto;

 float:none;

 overflow:hidden;

}

.bigthumb

{

 float:none;

 margin:auto;

}

.smallthumbarea

{

 float:none;

 margin:auto;

}

.smallthumb

{

 margin:10px 0 0 10px;

}

.rightpart{

 width:100%;

 overflow:hidden;

 float:none;

 margin:10px 0 0 0;

}

.width01,.width02,.width03,.width04

{

 width:auto;

}

.headtxt

{

 float:none;

 text-align:center !important;

}

.sglebotcont

{

 float:none;

 text-align:center !important;

}

.sglefieldarea

{

 float:none;

 margin:auto;

}

.textareafield

{

 width:91%;

}





#big_select{ width:205px; height:26px;}



}

/*Calender styles**/

.beatpicker .days .cell-parent li.cell.date-disabled, .days .cell-parent li.cell.not-notable.date-disabled{
	opacity:1;
	}


	
.beatpicker .days .cell-parent li{
	}
	
.beatpicker .days .cell-parent li.cell.not-notable{
	background:none;
	}		

.beatpicker li.cerrado{
	background: #D8D8D8 !important;
	color: #666 !important;
}

.beatpicker li.disponible{
	background:#860120 !important;
	color: #fff !important;
}

.beatpicker li.sin_saldo{
	background: #089002 !important;
	color: #fff !important;
}


.beatpicker li.festivos{
	background: #FF007E !important;
	color: #333 !important;
}


.bodycontbg{
	position:relative;	
}

.skybg{
	margin-top:5px;
	}
	
.boxarea{
	}	

.beatpicker li.cell{
	width: 9% !important;
}	