@charset "utf-8";
/* CSS Document */
body{
	min-width:300px;
	overflow-x:hidden;
	}
/*Layout*/
.pr_wrapper{
	float:left;
	display:inline;
	width:100%;
	}
	
.pr_center{
	width:1014px;
	margin:0 auto;
	}
	
.container-fluid{
	padding:0px 20px;
	}	
	
@media (max-width: 1014px){
	body{
		padding:0px !important;
		}
	
	.pr_center{
		width:100%;
		}	
		
	}	
	
/*Header*/
.pr_header{
	height:auto;
	background:url(../assets/bg_1.png);
	}
	
.pr_logo{
	float:left;
	display:inline;
	width:210px;
	height:38px;
	}
	
.pr_topNavCon{
	float:right;
	display:inline;
	width:260px;
	height:auto;
	}		
	
	
.pr_topnav{
	float:right;
	padding-top:5px;
	}
	
.pr_topnav li{
	float:left;
	display:block;
	}
	
.pr_topnav li a{
	display:block;
	padding:0px 5px;
	line-height:20px;
	text-decoration:none;
	color:#FFF;
	}	
.pr_topnav li a.login{
	background:url(../assets/top_border.png);
	border-radius:5px;
	}
.pr_topnav li.separator a{
	cursor: default;
	padding:0px;
			}

.pr_topnav .separator.type3{
	display:none;
	}
.pr_topRow{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	padding:10px 0px;
	background:url(../assets/top_border.png) bottom repeat-x;
	}				
@media (max-width: 510px){
.pr_logo, .pr_topNavCon{
	float:right;
	width:100%;
	text-align:center;
	overflow:hidden;
	}

	
.pr_topnav{
	width:100%;
	}

.pr_topnav li{
	width:49%;
	height:auto;
	}
	
.pr_topnav li.separator{
	width:auto;
	}		
.pr_topnav .separator.type2{
	display:none;
	}
	
.pr_topnav .separator.type3{
	display:inline;
	}			
				
		
}

/*Top Navigation*/
.pr_nav{
	background:url(../assets/bg_1.png);
	padding:10px 0px;
	}
	
.pr_navCon a{
	float:left;
	display:block;
	width:auto;
	height:30px;
	color:#FFF;
	font-weight:bold;
	font-size:13px;
	padding:0px 5px;
	line-height:30px;
	}		

.pr_navCon a:first-child{
	padding-left:0px;
	}
	
.pr_navCon a.demo{
	float:right;
	background:#84BB3C;
	border:#666 solid 3px;
	border:rgba(60,64,73,.7) solid 3px;
	border-radius:10px;
	}
	
.pr_navCon .navbar-inner{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	padding:0px !important;
	}
	
.pr_navCon .tyep4{
	width:98% !important;
	display:block;
	padding:0px 1% !important;
	background:url(../assets/menu_icon.png) 5px 5px no-repeat !important;
	text-align:center !important;
	border:none !important;
	color:#FFF !important;
	box-shadow:none !important;
	text-shadow:none;
	}
	
@media (max-width: 979px){
.pr_navCon .nav-collapse a{
	width:98%;
	padding:0px 1%;
	}	
}

.pr_navCon .nav-collapse a:hover{
	text-decoration:none;
	background: url(../assets/hover_bg.png);
	}								
	
	
/*Slider*/
.pr_homeSlider{
	background:url(../assets/bg_1.png);
	padding:10px 0px;
	}
	
.pr_sliderWrapper{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	}
	
.pr_sliderWrapper img{
	width:100%;
	height:auto;
	}
	
/*Blocks*/

.pr_blockwrapper{
	background:url(../assets/bg_1.png);
	padding:10px 0px;
	}

.pr_block{
	margin-bottom:10px;
	}

.pr_block .pr_block_thumb{
	text-align:center;
	height:80px;
	line-height:80px;
	}
	
.pr_block .row{
	margin:0px;
	}	
	
.pr_block h1{
	font-size: 18px;
	color:#CBCDCC;
	font-weight:400;
	text-align:center;
	margin:0px;
	padding:0px;	
	}
	
.pr_block p{
	font-size: 12px;
	color:#CBCDCC;
	font-weight:400;
	text-align:center;
	margin:0px;
	padding:0px;		
	}
	
/*Main content*/

.pr_mainContent{
	background:#fff;
	padding:10px 0px;
	}
	
.pr_adportal .title{
	float:left;
	display:inline;
	width:98%;
	height:auto;
	padding:0px 1%;
	text-align:left;
	padding:5px 0px;
	}
	
.pr_adportal .platform{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	text-align:left;
	padding:5px 0px;	
	}

	
.pr_adportal .order{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	text-align:center;
	padding:5px 0px;	
	}
	
.pr_border_left{
	border-left:#BDB9B9 solid 1px; 
	}
	
.pr_border_right{
	border-right:#BDB9B9 solid 1px; 
	}
	
.pr_border_top{
	border-top:#BDB9B9 solid 1px; 
	}
	
.pr_border_bottom{
	border-bottom:#BDB9B9 solid 1px; 
	}
	
.pr_clients{
	float:left;
	display:inline;
	width:83%;
	margin-left:10%;
	padding:20px 3.5%;
	border:#BDB9B9 dashed 1px;
	background:url(../assets/bg_3.png); 
	}
	
.pr_clients .title, .pr_clients .border{
	float:left;
	display:inline;
	width:100%;
	text-align:center;
	margin:5px 0px;
	}
	
.pr_clients .border img{
	width:100%;

}

	
.pr_align_left{
	text-align:left;
	}	

.pr_align_right{
	text-align:right;
	}
	
.pr_align_center{
	text-align:center;
	}
	
.pr_clients_logo_con{
	float:left;
	display:inline;
	width:
	}	
.pr_clients_logo{
	float:left;
	display:inline;
	width:31%;
	height:80px;
	padding:10px 1%;
	}
	
.pr_clients_logo a{
	display:block;
	}
	
@media (max-width: 767px){
.pr_adportal .title, .pr_adportal .platform{
	text-align:center;
	}
	
.pr_clients{
	margin:10px 5%;
	}	
}

/*campaigns*/

.pr_campaignCon{
	background:#fff;
	padding:10px 0px;
	}
	
.pr_campaign{
	float:left;
	display:inline;
	width:100%;
	height:138px;
	border:#BDB9B9 dashed 1px;
	background:url(../assets/bg_3.png); 
	}

pr_campaignCon .container-fluid{
	overflow:visible;
	}
	
.pr_campaign .title{
	float:left;
	display:inline;
	width:25%;
	height:138px;
	}
	
.pr_campaign .title img{
	height:138px;
	}		

.pr_campaign .arrow{
	float:left;
	display:inline;
	width:5%;
	height:138px;
	}
	
.pr_campaign .arrow a{
	float:left;
	display:block;
	width:33px;
	height:31px;
	margin-top:52px;
	}	
	
.pr_campaign .arrow a.left{
	float:right;	
	background:url(../assets/arrow_left.png) 0px 0px no-repeat;
	}		
	
.pr_campaign .arrow a.right{
	background:url(../assets/arrow_right.png) 0px 0px no-repeat;
	}		

.pr_campaign .arrow a:hover{
	background-position:0px -32px;
	}
	
.pr_campaignIconCon{
	float:left;
	display:inline;
	width:65%;
	height:138px;
	overflow:hidden;
	}
	
.pr_campaignIconCon .icons{
	float:left;
	display:inline;
	width:auto;
	height:108px;
	padding:30px 15px;
	text-align:center;
	}
	
/*bottom menu*/

.pr_bottomMenu{
	background:url(../assets/bg_1.png);
	padding:10px 0px;
	margin:50px 0px 0px 0px;
	}
	
.pr_bottomMenuCon{
	position:relative;
	padding:40px 0px 20px 0px;
	}

.pr_bottomMenuCon a.top{
	width:72px;
	height:72px;
	position:absolute;
	top:-46px;
	left:50%;
	margin-left:-36px;
	}
	
.pr_menuBlock ul{
	list-style:disc;
	color:#FFF;
	}
	
.pr_menuBlock ul a{
	color:#eee;
	font-size:12px;
	}			
	
.pr_menuBlock .title{
	background:none !important;
	color:#FFF;
	font-size:18px;
	border:none;
	box-shadow:none;
	text-shadow:none;
	}
	
.pr_menuBlock .social a{
	float:left;
	display:block;
	width:45px;
	height:45px;
	margin:5px;
	}
	
.pr_menuBlock .social a.fb{
	background:url(../assets/social_icon.png) 0px 0px no-repeat;
	}				

.pr_menuBlock .social a.tw{
	background:url(../assets/social_icon.png) -56px 0px no-repeat;
	}
	
.pr_menuBlock .social a.rs{
	background:url(../assets/social_icon.png) -109px 0px no-repeat;
	}				
					
																																																																																																																																																																																																																												