body{
	background:#E2E2E2;
	overflow-x:hidden;
	min-width:320px;
	}
.top_padding{
	background:#4B6059;
	height:20px;
	}
	
.top_nav{
	margin-bottom:0px !important;	
	}	
	
.top_nav .navbar-inner{
	background: #F8F8F8; /* Old browsers */
	background: -moz-linear-gradient(top, #F8F8F8 0%, #D4D4D4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#D4D4D4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F8F8F8 0%,#D4D4D4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F8F8F8 0%,#D4D4D4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F8F8F8 0%,#D4D4D4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F8F8F8 0%,#D4D4D4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#D4D4D4',GradientType=0 ); /* IE6-9 */
	padding:10px 0px;
	border-bottom:#FFF solid 1px;
	border-radius:0px;	
	}
	
.top_nav li{
	float:left;
	display:inline-block;
	width:130px;
	height:auto;
	padding:10px 0px;
	line-height:15px;
	}
	
.top_nav li.separator{
	width:1px;
	height:50px;
	background:#CCC;
	border-left:#FFF solid 1px;
	margin:0px 20px;
	}		
	
.top_nav li>a{
	color:#C43924 !important;
	display:block;
	padding:0px !important;
	margin-bottom:5px;
	font-family:open_sanssemibold;
}

.top_nav li>span{
	font-size:11px;
	color:#666;
	width:100%;
	font-family:open_sansregular;
	}


.banner_wrapper{
	background:url(../img/banner.jpg) center -100px no-repeat,#4B6059;
	background-size:100% auto;
	padding:0px;
	}
	
.banner_wrapper .banner_left{
	float:left;
	display:inline;
	background:url(../img/banner_overlay.png);
	width:50%;
	margin:0px;
	}
	
.banner_wrapper .banner_left .inner{
	float:right;
	display:inline;
	}
	
.banner_wrapper .banner_left .inner h1,
.banner_wrapper .banner_left .inner h2,
.banner_wrapper .banner_left .inner h3
{
	float:left;
	color:#FFF;
	font-weight:100;
	display:block;
	width:100%;		
	
	}

.banner_wrapper .banner_left .inner h1{
	font-size:50px;
	margin-top:40px;
	margin-bottom:20px;
	line-height:60px;
	text-shadow:#222 5px 5px 5px;
	font-family:oswaldregular;
	
	}	
.banner_wrapper .banner_left .inner h2{
	font-size:36px;
	line-height:40px;
	text-shadow:#333 3px 3px 3px;
	text-transform:uppercase;
	font-family:oswaldregular;
	}
	
.banner_wrapper .banner_left .inner h3{
	font-size:20px;
	line-height:22px;
	text-shadow:#333 2px 2px 2px;
	font-family:oswaldlight;
	font-weight:bold;	
	}
	
.banner_wrapper .banner_left .inner p{
	float:left;
	color:#FFF;
	font-family:oswaldlight;
	font-size:16px;
	}
	
.banner_wrapper .banner_left .inner p span{
	color:#C79012;
	}			
		
.subscribe_form input{
	border:none;
	background:#C5BBAF;
	padding:10px 5px;
	margin-right:10px;
	color:#000;
	box-shadow:2px 2px 2px #000;
	}
	
.subscribe_form button{
	border:#FFF solid 1px;
	border-radius:0px;
	padding:15px 30px;
	font-size:26px;
	text-shadow:#FFF .5px .5px 0px;
	color:#000;
    font-family: 'open_sanssemibold';
	font-weight:bold;	
	background: #F50F00; /* Old browsers */
	background: -moz-linear-gradient(top, #F50F00 0%, #A20202 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F50F00), color-stop(100%,#A20202)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F50F00 0%,#A20202 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F50F00 0%,#A20202 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F50F00 0%,#A20202 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F50F00 0%,#A20202 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F50F00', endColorstr='#A20202',GradientType=0 ); /* IE6-9 */
	}
	
.example_container{
	background:none;
	}	
	
.example_heading_row{
	text-align:center;
	}
	
.example_heading_row .outer{
	padding:0px 30px 20px 30px;
	background:url(../img/heading_bottom.png) center bottom no-repeat;
	display:inline-block;
	position:relative;
	}
	
.example_heading_row .outer h2{
	color:#C12B1A;
	font-size:24px;
	font-family: 'oswaldlight';
	font-weight:100;
	text-transform:uppercase;

	}	

.example_heading_row img{
	top:17px;
	position:absolute;	
	}
	
.example_heading_row img.left_arr{
	left:0;
	}
	
.example_heading_row img.right_arr{
	right:0;
	}	
	
.example_row{
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
	padding:30px 0px;
	
	}
	
.example_row .example{
	width:222px;
	height:222px;
	background:#FFF;
	margin:10px 0px;
	vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
	}
	
.example_row .example .thumb{
	float:left;
	display:inline;
	width:222px;
	height:136px;
	border-bottom:#E2E2E2 solid 2px; 
	}
	
.example_row .example .caption{
	float:left;
	display:inline;
	width:200px;
	height:62px;
	padding:11px;
	background:#C12C18;
	}
	
.example_row .example .caption p{
	color:#FFF;
	font-size:14px;
    font-family: 'open_sansregular';
	text-align:center !important;
	margin:0px;
	}
	
.example_row .example .caption p i{
	font-size:11px;
	}				
	
.example_row .fill {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.feature_wrapper{
	background:#C12C18;
	padding:30px 0px;
	}										
									

.feature_heading_row{
	text-align:center;
	}
	
.feature_heading_row .outer{
	padding:0px 5px 10px 5px;
	background:url(../img/underline.png) left bottom repeat-x;
	display:inline-block;
	margin-bottom:30px;
	}
	
.feature_heading_row .outer h2{
	color:#fff;
	font-size:24px;
	font-family: 'oswaldlight';
	font-weight:100;
	text-transform:uppercase;
	}
	
.feature_row{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	text-align:center;
	margin-top:-2px;
	}
	
.feature_row .feature_title{
	display:inline-block;
	color:#fff;
	font-size:24px;
	width:270px;
	font-family: 'oswaldlight';
	text-transform:uppercase;
	padding-right:40px;
	min-height:22px;
	margin:0px;
	vertical-align:top;
	background:url(../img/arrow_icon.png) right center no-repeat;
	}		
	
.feature_row .feature_center{
	display:inline-block;
	width:21px;
	height:100px;
	background:url(../img/center_bg.png) no-repeat;
	}
	
.feature_row .feature_center{
	background-position:center 19px;
	
	}	
	
.feature_row .det{
	display:inline-block;	
	width:300px;
	height:64px;
	padding:5px 3px 5px 81px;
	background:url(../img/bubble_1.png) no-repeat;
	vertical-align:top;
    font-family: 'open_sansregular';
	font-size:14px;
	text-align:left;
	margin:0px;

	}	

.feature_2 .det{
	background:url(../img/bubble_2.png) no-repeat;
	
	}

.feature_2 .feature_center{
	background-position:center -18px;
	}
	
.feature_2 .feature_title{
	margin-top:10px;
	}
	
.feature_2 .feature_center img{
	margin-top:20px;
	}		
	

.feature_3 .det{
	background:url(../img/bubble_3.png) no-repeat;
	
	}

.feature_3 .feature_center{
	background-position:center -175px;
	}
	
.feature_3 .feature_title{
	margin-top:auto;
	vertical-align:bottom;
	}
	
.feature_3 .feature_center img{
	margin-top:70px;
	}		
	
			
.footer_wrapper{
	background:#FFFFFF;
	padding:20px 0px; 
	}
	
.footer_wrapper p{
	text-align:center;
	color:#666;
    font-family: 'oswaldlight';
	font-size:12px;
	
	}			


@media (min-width: 1200px) {
	.top_nav .container{
		width:1170px;
		}
		
	.banner_wrapper .banner_left .inner{
		width:585px;
		}	
		
		
	}
	
@media (min-width: 980px) and (max-width: 1199px) {
	.top_nav .container{
		width:940px;
		}
		
	.banner_wrapper .banner_left .inner{
		width:470px;
		}	
}

@media (min-width: 768px) and (max-width: 979px) {
	.top_nav .container{
		width:724px;
		}
	
	.banner_wrapper .banner_left .inner{
		width:362px;
		}
		
	.banner_wrapper .banner_left .inner h1{
		font-size:40px;
		line-height:45px;
		margin:20px 0px;

	}
	
}
	

@media(max-width:979px){
	.top_nav li{
		width:98%;
		padding:0px 1%;
	
		}			

	.top_nav li.separator{
	width:98%;
	height:1px !important;
	min-height:1px;
	background:#CCC;
	border-left:none;
	border-top:#FFF solid 1px;
	margin:20px 0px;
	padding:0px 1%;
	}		
	.navbar .btn-navbar{
		margin-top:20px;
		}	

	.banner_wrapper{
		min-height:0px;
		background-position:center top;
	}
	.subscribe_form{
		text-align:center;
	}
	
	.subscribe_form input{
		margin:5px;
		padding:5px;
		}
		
	.subscribe_form button{
		font-size:20px;
		padding:5px 10px;
		}	

	.example_row{
	text-align:center;
	}
	
	.example_row .example{
		margin:5px;
		}
		
	
	}		
		

@media (max-width: 767px) {
	body{
		padding:0;
	}
	.top_nav{
    margin-right:0;
    margin-left:0;
  }
  
  .banner_wrapper .banner_left .inner{
		width:100%;
		}

.banner_wrapper{
	min-height:0px;
	background-position:center top;
}

.banner_wrapper .banner_left{
	width:100%;
	margin-top:200px;
	}
	
.banner_wrapper .banner_left .inner{
	width:96%;
	padding:0px 2%;
	}	
	
.banner_wrapper .banner_left .inner h1{
		font-size:24px;
		line-height:30px;
		margin:5px 0px;

	}
	
.banner_wrapper .banner_left .inner h2{
	font-size:20px;
	text-align:center;
	}
	
.feature_row{
	margin-bottom:20px;
	}	
	
.feature_row .feature_title{
	display:inline-block;
	color:#fff;
	font-size:24px;
	width:100%;
	}		
	
.feature_row .feature_center{
	display:inline-block;
	width:100%;
	height:50px;
	background:url(../img/center_bg.png) no-repeat;
	
	}
	
.feature_row .det{
	padding:5px;
	background:#FFF;

	}
	
.feature_row .feature_center{
	background-position:center 19px;	
	}
	
.feature_row .feature_center img{
	margin-top:0px;
	}		
		
			
}
