@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Conv_HelveticaLTStd-BoldCond';
	src: url('HelveticaLTStd-BoldCond.eot');
	src: 
		url('fbreformabold-webfont.eot?#iefix') format('embedded-opentype'),
		url('HelveticaLTStd-BoldCond.woff') format('woff'), 
		 url('HelveticaLTStd-BoldCond.ttf') format('truetype'),
		  url('HelveticaLTStd-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



*{
	margin:0;
	padding:0;
	}
	
a{
	text-decoration:none;
	font-family:Conv_HelveticaLTStd-BoldCond;
	}
	
h1,h2,h3,h4,h5,h6{
	font-family:Conv_HelveticaLTStd-BoldCond;
	font-weight:100;	
	}	
	
ul,li{
	list-style:none;
	}
	
img{
	border:none;
	}
	
/*-------Common selectors-----*/

.wrapper{
	float:left;
	display:inline;
	width:100%;
	}

.center{
	width:590px;
	margin:0 auto;
	overflow:visible;
	}

	
.center_2{
	width:620px;
	margin:0 auto;
	overflow:visible;
	}
	
.css3pie{
	position:relative;
	}		
	
	
/*--------Header--------*/

.header_wrapper{
	height:75px;
	background:#FFF;
	}
	
.header_wrapper a.logo{
	float:left;
	display:inline-block;
	width:auto;
	height:75px;
	line-height:75px;
	}
	
.header_wrapper a.logo img{
	margin:10px 0px;
	}
	
.header_wrapper ul{
	float:right;
	display:inline-block;
	width:auto;
	height:75px;
	}

.header_wrapper ul li{
	float:left;
	display:inline;
	width:35px;
	height:35px;
	margin:20px 3px;
	}
	
/*-----Cookie statement----*/

.wrapper_cookie{
	display:none;
	}

.wrapper_cookie .cookie_popup{
	float:left;
	display:inline;
	width:578px;
	height:auto;
	padding:5px;
	border:#F00 solid 1px;
	}
	
.wrapper_cookie .cookie_popup p{
	float:left;
	display:inline;
	width:478px;
	height:auto;
	font-size:10px;
	color:#000;
	line-height:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.wrapper_cookie .cookie_popup p a{
	font-size:11px;
	color:#333;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	
	}
	
.wrapper_cookie .cookie_popup button{
	float:right;
	display:inline-block;
	width:20px;
	height:20px;
	border:#CCC solid 1px;
	line-height:16px;
	background:none;
	cursor:pointer;
	}			
	
		
	
/*-------Banner--------*/

.banner_wrapper{
	height:260px;
	background: #FF9B03; /* Old browsers */
	background: -moz-linear-gradient(top, #FEC804 0%, #FF9B03 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEC804), color-stop(100%,#ffde07)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEC804 0%,#FF9B03 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEC804 0%,#FF9B03 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEC804 0%,#FF9B03 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEC804 0%,#FF9B03 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEC804', endColorstr='#FF9B03',GradientType=0 ); /* IE6-9 */	
}

.banner_wrapper .center_2{
	position:relative;
	}

.banner_wrapper .navigation{
	float:left;
	display:inline;
	width:100%;
	height:46px;
	}
	
.banner_wrapper .navigation ul{
	float:right;
	display:inline;
	height:18px;
	margin:14px 15px;
	}
	
.banner_wrapper .navigation ul li{
	float:left;
	display:inline;
	width:auto;
	height:18px;
	}
	
.banner_wrapper .navigation ul li.separator{
	padding:0px 2px;
	}
	
.banner_wrapper .navigation ul li.separator a{
	color:#000 !important;
	}	
	
.banner_wrapper .navigation ul li a{
	display:block;
	font-size:18px;
	color:#000;
	line-height:18px;
	}
	
.banner_wrapper .navigation ul li a.selected,.banner_wrapper .navigation ul li:hover a{
	color:#33CC00;
	}
	
.banner_wrapper .banner{
	float:left;
	display:inline;
	width:580px;
	height:180px;
	padding:30px 20px;
	background:#FFFFFF;
	border-radius:10px;
	box-shadow:#999 3px 3px 3px;
	position:absolute;
	top:46px;
	left:0px;
	z-index:10;
	}
	
.banner_wrapper .banner .text_row{
	float:left;
	display:inline;
	width:580px;
	height:180px;
	}
.banner_wrapper .banner .text_row img{
	float:right;
	}	
	
	
.banner_wrapper .banner .text_row h2{
	float:left;
	display:inline;
	margin:0px;
	line-height:20px;
	font-size:18px;
	}
	
.banner_wrapper .banner .text_row h2 sup{
	font-size:10px;
	}	
	
.banner_wrapper .banner .text_row h2.orange{
	color:#FFA722;
	margin-top:-15px;
	}
	
.banner_wrapper .banner .text_row p{
	float:left;
	display:inline;
	width:auto;
	height:auto;
	margin-top:10px;
	font-size:12px;
	color:#005F92;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	line-height:15px;
	}
	
.banner_wrapper .banner .text_row p.commentor{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	font-size:12px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
	text-align:right;

	}							
	
/*--------Content----------*/	

.offer_wrapper{
	height:auto;
	background: #BCB9B2; /* Old browsers */
	background: -moz-linear-gradient(top, #BCB9B2 0%, #F9F9F9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BCB9B2), color-stop(100%,#F9F9F9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #BCB9B2 0%,#F9F9F9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #BCB9B2 0%,#F9F9F9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #BCB9B2 0%,#F9F9F9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #BCB9B2 0%,#F9F9F9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BCB9B2', endColorstr='#F9F9F9',GradientType=0 ); /* IE6-9 */
	position:relative;
	padding-bottom:10px;
	}
	
.offer_wrapper .offer_block{
	float:left;
	display:inline;
	width:565px;
	padding:15px 10px 15px 15px;
	background:#FFFFFF;
	border-radius:10px;
	box-shadow:#999 0px 0px 10px;
	position:relative;
	z-index:10;
	margin-bottom:20px;
	}
	
.offer_wrapper .offer_block .des_section{
	float:left;
	display:inline;
	width:360px;
	height:auto;
	}
	
.offer_wrapper .offer_block .des_section h2{
	float:left;
	display:block;
	width:100%;
	height:auto;
	font-size:23px;
	font-weight:100;
	color:#009899;
	margin-bottom:10px;
	line-height:26px;
	}
	
.offer_wrapper .offer_block .des_section h2 span{
	font-size:22px;
	}
	
.offer_wrapper .offer_block .des_section p{
	float:left;
	display:block;
	width:355px;
	height:auto;
	padding-left:5px;
	line-height:20px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	text-align:left;
	margin:0px;
	}
	
.offer_wrapper .offer_block .des_section p.light{
	background:#E8E9EB;
	}
	
.offer_wrapper .offer_block .des_section p.gray{
	background:#D1D2D4;
	}			
				
 	
	
.offer_wrapper .offer_block .promo_section{
	float:right;
	display:inline;
	width:195px;
	height:auto;
	}
	
.offer_wrapper .offer_block .promo_section h2{
	float:left;
	display:block;
	width:100%;
	height:auto;
	font-size:23px;
	font-weight:100;
	color:#FE9901;
	line-height:26px;
	}	
	
.offer_wrapper .offer_block .promo_section h2 span{
	font-size:18px;
	}
	
.offer_wrapper .offer_block .promo_section p.vat_text{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	font-size:11px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
	text-align:right;
	margin-bottom:5px;
	
	}
	
.offer_wrapper .offer_block .promo_section p.vat_text span{
	font-size:10px;
	}		
	
.offer_wrapper .offer_block .promo_section h2 span.small{
	font-size:14px;
	}

.offer_wrapper .offer_block .promo_section h2 span.smaller{
	font-size:12px;
	}
	
.offer_wrapper .offer_block .promo_section ul{
	float:right;
	display:inline;
	width:100%;
	clear:both;
	margin:10px 0px;
	}
	
.offer_wrapper .offer_block .promo_section ul li{
	float:right;
	display:inline;
	width:22px;
	height:22px;
	background:url(../images/social.png) no-repeat;
	margin:0px 2px;
	}
	
.offer_wrapper .offer_block .promo_section ul li.vimeo{
	background-position:-102px 0px;
	}
	
.offer_wrapper .offer_block .promo_section ul li.google{
	background-position:-77px 0px;
	}
	
.offer_wrapper .offer_block .promo_section ul li.yt{
	background-position:-52px 0px;
	}			

.offer_wrapper .offer_block .promo_section ul li.fb{
	background-position:-26px 0px;
	}			

.offer_wrapper .offer_block .promo_section ul li.tw{
	background-position:0px 0px;
	}			
				
				

.offer_wrapper .offer_block .promo_section ul li a{
	display:block;
	width:100%;
	height:100%;
}

.offer_wrapper .offer_block .promo_section .video{
	float:left;
	display:inline;
	width:193px;
	height:auto;
	border:#000 solid 1px;
	margin:5px 0px 20px 0px;
	}
	
.offer_wrapper .offer_block .promo_section .video img{
	width:193px;
	height:auto;
	}
	
.offer_wrapper .offer_block .promo_section .flyer_1{
	margin-left:-75px;
	margin-top:20px;
	}

.offer_wrapper .offer_block .promo_section .flyer_2{
	margin-left:-95px;
	margin-top:20px;
	}
	
.offer_wrapper .offer_block .promo_section p.orange_txt{
	padding-left:60px;
	margin-top:-130px;
	margin-bottom:40px;
	font-size:11px;
	color:#FC9900;
	width:140px;
	font-family:Conv_HelveticaLTStd-BoldCond;
	}
	

/*--Footer--*/

.footer{
	padding:10px 0px;
	}

.footer .copy_text{
	float:left;
	display:inline;
	font-size:12px;
	font-family:Conv_HelveticaLTStd-BoldCond;
	color:#000;
	line-height:12px;
	}
	
.footer ul{
	float:left;
	display:inline;
	width:auto;
	height:12px;
	}
	
.footer ul li{
	float:left;
	display:inline;
	width:auto;
	height:12px;
	}
	
.footer ul li.separator{
	padding:0px 2px;
	}
	
.footer ul li a{
	display:block;
	font-size:12px;
	color:#000;
	font-family:Conv_HelveticaLTStd-BoldCond;	
	}			

.footer ul li.separator a{
	color:#000 !important;
	}	
					

	
.offer_wrapper .offer_block .promo_section h2.contact{
	float:left;
	display:block;
	width:100%;
	height:auto;
	font-size:22px;
	font-weight:100;
	color:#000;
	margin-bottom:10px;
	line-height:26px;
	}
	
.offer_wrapper .offer_block .promo_section h2.contact span{
	color:#FE9901;
	}
	
.offer_wrapper .offer_block .promo_section h2.contact img{
	margin-bottom:-15px;
	}				
	
									
	
