@charset "utf-8";
/* CSS Document */
@font-face {
	font-family:'HelveticaLTStd-BoldCond';
	src: url('HelveticaLTStd-BoldCond.otf');
}

@font-face {
	font-family: 'Conv_HelveticaLTStd-BoldCond';
	src: url('HelveticaLTStd-BoldCond.eot');
	src: 
		url('fbreformabold-webfont.eot?#iefix') format('embedded-opentype'),
		url('HelveticaLTStd-BoldCond.woff') format('woff'), 
		 url('HelveticaLTStd-BoldCond.ttf') format('truetype'),
		  url('HelveticaLTStd-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
	
	}

body {
	background:url(../images/bg.png) repeat-x, #f9f9f7;
	font-family:'HelveticaLTStd-BoldCond';
	margin:0px;
	padding:0px;
}
.site_wrapper{
	float:left;
	display:inline;
	width:100%;
	background:url(../images/bg.png) repeat-x, #f9f9f7;	
	}
.main {
	margin:0px auto;
	width:630px;
}
.logo {
	float:left;
	width:324px;
	height:55px;
}
.icons {
	float:left;
	width:191px;
	height:30px;
	margin-left:70px;
	margin-top:20px;
}
.in {
	float:left;
	width:35px;
	height:35px;
	background:url(../images/in.png);
	cursor:pointer;
}
.in:hover {
	background:url(../images/in-color.png);
	cursor:pointer;
}
.google {
	float:left;
	width:32px;
	height:32px;
	background:url(../images/google.png);
	cursor:pointer;
}
.google:hover {
	background:url(../images/google-color.png);
	cursor:pointer;
}
.youtube2 {
	float:left;
	width:35px;
	height:35px;
	background:url(../images/youtube.png);
	cursor:pointer;
	margin-left:2px;
}
.youtube2:hover {
	width:32px;
	height:32px;
	background:url(../images/youtube-color.png);
	cursor:pointer;
}
.twitter {
	float:left;
	width:35px;
	height:34px;
	background:url(../images/twitter.png);
	cursor:pointer;
	margin-left:2px;
}
.twitter:hover {
	width:32px;
	height:32px;
	background:url(../images/twitter-color.png);
	cursor:pointer;
}
.fb {
	float:left;
	width:35px;
	height:34px;
	background:url(../images/fb.png);
	cursor:pointer;
	margin-left:2px;
}
.fb:hover {
	width:32px;
	height:32px;
	background:url(../images/fb-color.png);
	cursor:pointer;
}
.clr {
	clear:both;
}
.topmenu {
	float:left;
	width:400px;
	height:40px;
	margin-left:250px;
	margin-top:10px;
}
.topmenu ul {
	float:left;
	list-style:none;
	padding:0px;
}
.topmenu ul li {
	display:inline;
	color:#333333;
}
.topmenu ul li a {
	text-decoration:none;
	font-size:18px;
	color:#333333;
}
.topmenu ul li a:hover {
	color:#33cc00;
}
.topmenu ul li .selected {
	color:#33cc00;
}

.white_box {
	float:left;
	width:620px;
	min-height:260px;
	margin-top:10px;
	background-color:#FFF;
	border-radius:10px;
	-moz-border-radius:10px;
	box-shadow:2px 2px 2px 2px #b0aeae;
	-moz-box-shadow:2px 2px 2px 2px #b0aeae;
}
.tagline {
	float:left;
	width:500px;
	height:48px;
	line-height:55px;
	margin-top:10px;
	font-size:35px;
	color:#333333;
	text-transform:uppercase;
	text-align:center;
}
.tagbutton {
	float:left;
	width:130px;
	height:48px;
	margin-top:10px;
}
.smallbox {
	float:left;
	width:200px;
	margin-top:32px;
	height:231px;
	background:#FFF;
	border-radius:15px;
	-moz-border-radius:15px;
	box-shadow:2px 2px 2px 2px #b0aeae;
	-moz-box-shadow:2px 2px 2px 2px #b0aeae;
}
.smallboxfont {
	font-size:18px;
	color:#333333;
	text-transform:uppercase;
}
.smallboxfontyellow {
	font-size:24px;
	color:#ff9900;
	text-transform:uppercase;
}


.footer {
	float:left;
	width:630px;
	height:20px;
	margin-top:10px;
	font-size:10px;
	margin-bottom:10px;
}

.footer .copy_text{
	float:left;
	display:inline;
	font-size:12px;
	font-family:Conv_HelveticaLTStd-BoldCond;
	color:#000;
	line-height:12px;
	margin:0px;
	padding:0 !important;
	}
	
.footer ul{
	float:left;
	display:inline;
	width:auto;
	height:12px;
	margin:0px;
	padding:0px;
	}
	
.footer ul li{
	float:left;
	display:inline;
	width:auto;
	height:12px;
	}
	
.footer ul li.separator{
	padding:0px 2px;
	}
	
.footer ul li a{
	display:block;
	font-size:12px;
	color:#000;
	font-family:Conv_HelveticaLTStd-BoldCond;
	text-decoration:none;	
	
	}			

.footer ul li.separator a{
	color:#000 !important;
	}	


.headingblack {
	font-size:30px;
	color:#333333;
	text-transform:uppercase;
	padding:10px 10px 0px 10px;
}

.benifite .headingblack {
	font-size:34px !important;
}

p {
	padding: 0px 10px 0px 10px;
}
.about_img {
	float:left;
	width:192px;
	height:135px;
}
.outer_price {
	float:left;
	padding:5px 10px 0px 10px;
	width:610px;
}
.price_img {
	float:left;
	width:136px;
	height:100px;
}
.price_detail {
	float:left;
	width:457px;
	height:100px;
	margin-top:40px;
}

.privacy_policy{
	width:600px;
	padding:10px;
	}

.privacy_policy p{
	margin:0px;
	padding:0px;
	}
	
.privacy_policy a{
	color:#09F;
	}	
	
.privacy_policy p.des,
.privacy_policy li{
	font-size:12px;
	color:#000;
	margin:5px 0px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.privacy_policy li p{
	padding-left:30px;
	margin-top:-14px;
	}
	
.privacy_policy li li p{
	padding-left:40px;
	}
	
.privacy_policy li li li p{
	padding-left:50px;
	}				

.privacy_policy > ol{
	padding-left:0px;
	}
	
.wrapper{
	float:left;
	display:inline;
	width:100%;
	}

.center{
	width:590px;
	margin:0 auto;
	overflow:visible;
	}

/*-----Cookie statement----*/

.wrapper_cookie{
	display:none;
	}

.wrapper_cookie .cookie_popup{
	float:left;
	display:inline;
	width:578px;
	height:auto;
	padding:5px;
	border:#F00 solid 1px;
	}
	
.wrapper_cookie .cookie_popup p{
	float:left;
	display:inline;
	width:478px;
	height:auto;
	font-size:10px;
	color:#000;
	line-height:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.wrapper_cookie .cookie_popup p a{
	font-size:11px;
	color:#333;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	
	}
	
.wrapper_cookie .cookie_popup button{
	float:right;
	display:inline-block;
	width:20px;
	height:20px;
	border:#CCC solid 1px;
	line-height:16px;
	background:none;
	cursor:pointer;
	}			
	
		
	
