@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	}
	
.banner_wrapper{
	float:left;
	display:inline;
	width:100%;
	height:450px;
	position:relative;
	margin-top:50px;
	}
	
.banner_container{
	width:960px;
	height:450px;
	margin:0px auto;
	position:relative;
	overflow:hidden;
	}
	
	
.banner_container img{
	position:absolute;
	}
	
.banner_container .logo{
	bottom:5px;
	left:5px;
	width:300px;
	z-index:100;
	}				