@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

.lightColor{
	color: #c3c3c3;
}

.darkColor{
	color: #a8aaa9;
}

.lightFont{
	font-weight: 300;
}

.normalFont{
	font-weight: 400;
}

.boldFont{
	font-weight: 700;
}

body{
	min-width: 320px;
	overflow-x:hidden;
	 background: url(../img/bg.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

body.ohidden{
	overflow: hidden;
}

a{
	text-decoration: none;
}

img{
	border:none;
}


.wrapper{
	float: left;
	width: 100%;
}

.container{
	width: 1260px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;	
	overflow: hidden;
}



.row{
	float: left;
	width: 100%;
}

/*
Header
*/

.header .container{
	padding-bottom: 1px;
	background: url(../img/hr_line.png) center bottom no-repeat;	
}

a#logo{
	float: right;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 15px;
}

a#logo img{
	width: 550px;
	max-width: 90%;
}






/*container*/

.title_row h1{
	text-align: center;
	font-size: 2em;
	margin-top:50px;
	text-transform: uppercase;
}

.title_row p{
	text-align: center;
	font-size: 1.5em;
	margin-top:0px;
	text-transform: uppercase;
}

.address_row{
	margin-top: 50px;
}

.address_row .addressBox{
	float:left;
	display: inline-block;
	width:400px;
	margin-left: 30px;
}

.address_row .addressBox_2{
	float: right;
	margin-left: 0;
	margin-right: 30px;
}

.address_row .addressBox .address{
	float:right;
	margin-top: -18px;
	font-style: normal;
}

.vimeoRow{
	margin-top: 80px;
	text-align: center;
}

/*footer*/

.footer{
	margin-top: 50px;
	padding: 10px 0 30px;
}

.footer a{
	float: right;
	display: inline-block;
	margin-right: 50px;
}

.footer p{
	margin-left: 50px;
}

.footer .container{
	padding-top: 10px;
	background: url(../img/hr_line.png) center top no-repeat;	
}

/*Pop up*/

.lightBox{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(00,00,00,.7);
	z-index: 10;
	display: none;
}

.lightBoxContainer{
	display: block;
	margin: 3%;
	padding: 2%;
	box-shadow: #666 0px 0px 5px inset;
	background: #fff;
	border-radius: 10px;
	overflow: auto;
	position: relative;
}

.lightBoxContainer h2{
	color: #00c6ec;
	font-size: 2em;
	margin-bottom: 20px;
}

.lightBoxContainer p{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: #ccc solid 1px;
	font-size: .9em;
}

.lightBox a#close{
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 18px;
	color: #000;
	background: #fff;
	top: 4%;
	right: 3%;
	z-index: 12;
	border:#000 solid 1px;
	cursor: pointer;

}


/*Responsive codes*/

@media(max-width: 1280px){
	.container{
		width: 94%;
		padding-left: 3%;
		padding-right: 3%;
	}

	.footer .container,
	.header .container{
		background-size: 100% 1px;

	}
}

@media(max-width: 960px){
	.address_row .addressBox{
		width:250px;
		margin-left: 0px;
	}

	.address_row .addressBox_2{
		margin-right: 0px;
	}

	.address_row .addressBox .address{
		float:none;
		margin-top: 5px;
	}

}



@media(max-width: 767px){
	a#logo{
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		text-align: center;
	}

	.lightBoxContainer h2{
		font-size: 1.5em;
	}
}

@media(max-width: 550px){
	.address_row .addressBox{
		float: none;
		display: block;
		width: auto;
		margin-bottom: 20px;
	}

	.address_row .addressBox p{
		cursor: pointer;
		display: block;
	}

	.address_row .addressBox .address{
		padding: 5px;
		float: none;
	}

	.title_row h1, .address_row, .vimeoRow{
		margin-top: 30px;
	}

	.title_row h1{
		font-size: 1.4em;
	}

	.title_row p{
		font-size: 1.2em;
	}

	.vimeoRow img{
		width: 100px;
	}

	.footer a,
	.footer p{
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		text-align: center;
	}
}

