@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

*{
  margin: 0;
  padding: 0;
}

.f-w{
  float: left;
  width: 100%;
}

.clear{
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
  float: left;
}

ul li{
  list-style: none;
  float: left;
}

a{
  color: #000;
}

a:hover{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  border:none;
}

h1, h2, h3, h4, h5, h6, body{
  font-family: 'Lato', sans-serif;
   
}

body{
  background: #f5f6f9;
  overflow-x:hidden; 
}


.page-title{
  margin-top: 70px;
  margin-bottom: 70px;
}
.page-title h1{
  font-size: 50px;
  font-weight: 300;
  color: #1b9438;
  text-align: center;
  width:80%;
  margin:0 auto 20px auto;
}

.page-title p{
  font-size: 24px;
  color: #3e3e3e;
  text-align: center;
  width:70%;
  margin:0 auto 20px auto;
  
}

.page-section{
  position: relative;
  padding-top: 50px;
  border-top: #636363 solid 1px;
}

.page-section .section-name{
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
}

.page-section .section-name h2{
  display: inline-block;
  background: #fff;
  color: #464646;
  font-style: 30px;
  margin: 0;
  padding: 5px 10px;
  font-weight: 700;
}

.page-block{
  margin-top: 10px;
  margin-bottom: 70px;
  overflow: hidden;
  min-height: 550px;
}

.page-block .block-img{
  height: 120px;
  text-align: center;
}

.page-block .block-img img{
  height: auto;
}

.page-block h2{
  color: #464646;
  text-align: center;
  font-size: 30px;
  margin: 20px auto;
  min-height: 70px;
}

.page-block p{
  color: #707070;
  font-size: 20px;
  line-height: 1;
  padding: 20px 0;
  border-top: #c1c1c1 solid 2px;
  margin: 0;
  font-weight: 300;

 
}

.page-block p:last-child{
  border-bottom: #c1c1c1 solid 2px;
   
}







.custom-row{
  margin-left: 0;
  margin-right: 0;
}







/*reset*/

body.modal-open{
 
}

header{
  float: left;
  display: inline;
  width: 100%;
  height:705px;
  background: url(../img/bg-banner.jpg) no-repeat top center;
}

header .navbar-default{
 background: rgba(17,33,50, .6);
}

header .navbar-default{
   border:0;
   border-radius: 0;
}

header .navbar-brand{
   height: auto;
}

header .navbar-nav{
   margin-top:40px;
   float: right;
}

header .navbar-default .navbar-nav > li > a{
   text-transform: uppercase;
   color: #fff;
   font-weight:700;
   border-right: 1px solid #fff;
   padding: 0 10px;
   line-height: normal;
   font-size: 16px;
}

header .navbar-default .navbar-nav > li:hover > a,
header .navbar-default .navbar-nav > li.active > a{
  color: #009cff !important;
  text-decoration: none;
  background: none !important;
}

header .navbar-default .navbar-nav > li:nth-child(6) > a{
   border-right: 0
}

header .navbar-default .navbar-nav > li:last-child > a{
   background: #f26522 !important;
   border-radius: 20px;
   padding:8px 20px;
   border-right: 0;
   margin-left:10px;
   margin-top: -7px;
   outline: none !important;
  text-decoration: none !important; 
    
}




header .navbar-default .navbar-nav > li:last-child:hover > a, header .navbar-default .navbar-nav > li:last-child > a:focus{
  background: #e7630d !important; /* Old browsers */
  background: -moz-linear-gradient(top, #e7630d 0%, #f58700 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7630d), color-stop(100%,#f58700)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e7630d 0%,#f58700 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e7630d 0%,#f58700 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e7630d 0%,#f58700 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom, #e7630d 0%,#f58700 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7630d', endColorstr='#f58700',GradientType=0 ); /* IE6-9 */
   text-decoration: none;
   color: #fff !important;
}


header h1{
   text-align: center;
   font-size: 48px;
   color: #fff;
   text-transform: uppercase;
   font-weight:900;
   text-shadow: 4px 2px 10px #333;
   margin: 200px auto 0 auto;
   width:94%;
}

header h4{
   font-size: 36px;
  color: #fff;
  font-weight: 400;
  margin-bottom:30px;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 300px;
}

.sub_title{
  text-align: center;
  margin-top: -40px;
  margin-bottom: 100px;
}

.btn{
  text-decoration: none !important;
  outline: none !important;
}
.sub_title a{
  display: inline-block;
  outline: none !important;
  text-decoration: none !important;
  border-radius:80px;
  padding:10px 60px;
  color: #fff;
  font-size: 36px;
  font-weight:700;
  background: #009cff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjlhZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #009cff 0%, #069af8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009cff), color-stop(100%,#069af8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #009cff 0%,#069af8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #009cff 0%,#069af8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #009cff 0%,#069af8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #009cff 0%,#069af8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cff', endColorstr='#069af8',GradientType=0 ); /* IE6-8 */

}

.sub_title a:hover{
background: #069af8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2OWFmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGQzZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #069af8 0%, #00d3ea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069af8), color-stop(100%,#00d3ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #069af8 0%,#00d3ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069af8', endColorstr='#00d3ea',GradientType=0 ); /* IE6-8 */

}

.why_choose .col-md-3{
  text-align: center;
  margin-bottom: 70px;
  min-height: 200px;
}

.why_choose .col-md-3 h3{
  font-size: 22px;
  color:#464646;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 700
}

.why_choose .col-md-3 p{
  font-size: 20px;
  color:#464646;
  font-weight: 300;
}


.get_alerts{
  background: #ebebeb;
  padding: 120px 0;
  text-align: center;
}

.get_alerts img{
  max-width: 100%;
}

.get_alerts .alerts_sub{
  margin-top: 100px;
}

.get_alerts .col-sm-4 h4{
  font-size: 30px;
  color: #464646;
  font-weight: 700;
}

.get_alerts .col-sm-4 p{
  font-size:24px;
  color: #464646;
  font-weight:300;
  line-height: 23px;
}

/* happy clients slide */

.happy_clients{
  background: #fff;
  padding: 50px 0;
}

.ha_clients_cover{
  position: relative;
}

.ha_clients_cover_main{
  overflow: hidden;
  width:970px;
  margin: 0 auto;
}

.ha_clients_cover .arrow{
  display: inline-block;
  float: left;
  font-size: 35px;
  color: #333;
  position: absolute;
  z-index: 10000;
  top: 0%;
  left: 0;
  padding:3px 5px;
  width: auto;
}

.ha_clients_cover .arrow:hover{
  background: #d7d7d7;
}

.ha_clients_cover .arrow.next{
  right: 0;
  left: auto;
}

.ha_clients_cover ul li{
  float: left;
  width: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 72px;
}

.testimonial{
  background: #1c9438; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjOTQzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Y2E2MmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1c9438 0%, #4ca62f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c9438), color-stop(100%,#4ca62f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1c9438 0%,#4ca62f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1c9438 0%,#4ca62f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1c9438 0%,#4ca62f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1c9438 0%,#4ca62f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c9438', endColorstr='#4ca62f',GradientType=0 ); /* IE6-8 */
min-height:200px;
color: #fff;
padding:125px 0;
}

#testimonial_slide .carousel-control.left, #testimonial_slide .carousel-control.right{
   top: 25%;
   width: auto;
   background: none;
   font-size: 40px;
   text-shadow:none;
}

#testimonial_slide .carousel-inner >.item{
   padding: 0 90px;
}

#testimonial_slide .carousel-inner >.item .col-md-3{
  text-align: center;
}

#testimonial_slide .carousel-inner >.item .col-md-3 .user{
  width:115px;
  height:115px;
  border-radius: 50%;
  border:1px solid #fff;
  display: inline-block;
}

#testimonial_slide .carousel-inner >.item .col-md-3 h5{
  font-size: 24px;
}

#testimonial_slide .carousel-inner >.item .col-md-9{
  font-size:25px;
  font-style: italic;
}

#testimonial_slide .carousel-indicators{
  display: none;
}

.media_section a:hover{
  opacity: .9;
}

footer{
  background: #112132;
  float: left;
  width: 100%;
}

footer .col-sm-8 article h3{
    color: #009cff;
}

footer .col-sm-8 article p{
    color: #fff;
    font-size:14px;
    font-weight: 300;
    margin-right: 40px;
}

footer .col-sm-8{
    padding-top:50px;
}


footer .col-sm-4 form{
    background: #0e1c2c;
    padding: 50px 20px;
    margin: 0px 20px;
}

footer .col-sm-8 ul li a{
    display: inline-block;
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    padding: 0 10px;
    font-size: 17px;
    line-height: normal;
}

footer .col-sm-8 ul li:hover a{
    text-decoration: underline;
}

footer .col-sm-8 ul li:last-child a{
    border-right:0;
}

footer .col-sm-8 ul{
    margin-left: -10px;
}

.copyright{
  clear: both;
  color: #a6a9ad;
  margin-top:-40px;
  float: left;
}

.copyright a{
  color: #a6a9ad;
}

footer .col-sm-4 h4{
    color: #fff;
    font-size: 24px;
}

footer .col-sm-4 form .form-control{
    border-color: #a2a5a8;
    background: none;
    color: #cdced0;
    border-radius:6px;
}

footer .col-sm-4 form .btn-default{
    border-radius: 25px;
    background: #009cff;
    color: #fff;
    border-color: #009cff;
    float: left;
    width: 100%;
    text-align: center;
}

footer .col-sm-4 form .btn-default:hover{
  background: #069af8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2OWFmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGQzZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #069af8 0%, #00d3ea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069af8), color-stop(100%,#00d3ea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #069af8 0%,#00d3ea 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069af8', endColorstr='#00d3ea',GradientType=0 ); /* IE6-8 */

}

#myModa20 .modal-header,
#myModa21 .modal-header{
  background: #1e3c59 url(../img/pop_up.png) left top no-repeat;
  color: #fff;
  font-weight: 700;
  border-radius:10px 10px 0 0 
}

.modal-dialog{
  margin-top: 70px;
}

#myModa20 .modal-content,
#myModa21 .modal-content{
  border-radius:10px;
}

#myModa20 .modal-title,
#myModa21 .modal-title{
  margin-left:105px;
  font-size: 24px;
  font-weight: 700;
}

#myModa20 .modal-body,
#myModa21 .modal-body{
  background: #fff;
  padding-bottom: 50px;
  border-radius: 0 0 10px 10px;
}

#myModa20 .modal-body form,
#myModa21 .modal-body form{
  padding:20px 80px 0 80px;
}

#myModa20  .modal-header .close,
#myModa21  .modal-header .close{
  color: #fff
}

#myModa20 .modal-body form .btn-default,
#myModa21 .modal-body form .btn-default{
  width: 100%;
  border-radius:40px;
  background: #f26522;
  color: #fff;
  font-size:20px;
  font-weight: 700;
  text-align: center;
  border-color:#f26522;
  outline: none !important;
  text-decoration: none !important;
} 

#myModa20 .modal-content,
#myModa21 .modal-content{
  background:none;
}

#myModa20 .modal-footer,
#myModa21 .modal-footer{
  background:#fff;
  margin-top: 0
}

/* customers */

#customers{
  background: #fff;
}

#customers header{
   height: auto;
   min-height: 230px;
   background: url(../img/customers/header_bg.jpg) left top no-repeat;
}

header h2{
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  margin-top:80px;
  margin-bottom: 20px;
}



.customer_section{
  border-bottom: 1px solid #898989;
  margin-bottom: 40px;
}

.customer_section:last-child{
  border-bottom: 0;
  margin-bottom:140px;
}

.customer_section article{
  position: relative;
}

.customer_section article img{
 width: 100%
}

.customer_section article .article_title{
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 100;
  width: 355px;
}

.customer_section article .article_title h5{
 padding:5px 35px;
 float: left;
 width: 100%;
 background: url(../img/customers/title_sub.png);
 color: #fff;
 text-transform: uppercase;
 font-size:15px;
 font-weight:300;
 margin: 0
}


.customer_section article .article_title h4{
 padding: 40px 35px;
 float: left;
 width: 100%;
 background: url(../img/customers/blog_title_bg.png);
 color: #fff;
 text-transform: uppercase;
 font-size: 35px;
 font-weight: 900;
 margin: 0
}

.customer_section p{
 padding: 30px;
 font-size: 18px;
 color: #898989;
 font-weight: 300;
}


/* Inventory */
#Inventory {
  background: #fff;
}
#Inventory header{
   height: auto;
   min-height: 230px;
   background: url(../img/bg-banner-inventory.jpg) center top no-repeat;
}

#Inventory .page-block{
  margin-bottom: 0;
}

.inventory-block{
   overflow: hidden;
}

.inventory-block .block-title{
  background: #1b9438;
  text-align: center;
  height: 40px;
  border-radius: 5px 5px 0 0;
 

}

.inventory-block .block-title h2{
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.inventory-block .block-body{
  background: #ebebeb;
  padding: 5px;
  text-align: center;
  height: 60px;
  font-size: 18px;
}

.inventory-block .block-body p{
  color: #464646;
  font-size: 18px;
}

.inventory-block .block-bottom{
  height: 20px;
  text-align: center;
  position: relative;
}

.inventory-block .block-bottom .triangle{
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 19px solid #ebebeb;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
}


.inventory-block.block-2 .block-body{
  height: auto;
  background: #2c4054;
  border-radius: 5px;
  padding: 20px 10px;
}

.inventory-block.block-2 .block-bottom{
  height: auto;
}

.inventory-block.block-2 .block-bottom .triangle{
  border-top: 25px solid #2c4054;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.inventory-block.block-3 .block-title{
  background: #009cff;
}

.inventory-block.block-3 .col-md-4{
  background: #ebebeb;
  text-align: center;
  padding: 0;
}

.inventory-block.block-3 .col-md-4 p{
  margin: 0;
  padding: 10px;
  border-right: #fff solid 1px;
  border-bottom: #fff solid 1px;
  font-size: 18px;
}

.btn-row{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: #636363 solid 1px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;

}

#Inventory .btn-row{
  margin-bottom: 70px;
}
#demo-btn{
  display: inline-block;
  border-radius: 30px;
  background: #009cff;
  color: #fff;
  border-color: #009cff;
  text-align: center;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 700;
}

#demo-btn:hover{
  background: #069af8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2OWFmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGQzZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #069af8 0%, #00d3ea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069af8), color-stop(100%,#00d3ea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #069af8 0%,#00d3ea 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069af8', endColorstr='#00d3ea',GradientType=0 ); /* IE6-8 */

}

/* Suplier */

#supplier {
  background: #fff;
}
#supplier header{
   height: auto;
   min-height: 230px;
   background: url(../img/bg-banner-supplier.jpg) center top no-repeat;
}


.btn-row.no-margin-top{
  margin-top: 0 !important;
}

.btn-row p{
  font-size: 24px;
  color: #464646;
  margin-bottom: 15px;
}

.btn-row p a{
  color: #009cff;
}


.supplier-bottom{
  margin-bottom: 100px;
}

/* Purchasing */

#purchasing {
  background: #fff;
}
#purchasing header{
   height: auto;
   min-height: 230px;
   background: url(../img/bg-banner-purchasing.jpg) center top no-repeat;
}


.purchasing-row{
  padding: 30px 0;
  border-bottom: #707070 solid 1px;
}

.purchasing-row span.order-number{
  display: inline-block;
  background: #1A9337;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 24px;
  margin-top: 50px;
}

.purchasing-row p{
  color: #636363;
  font-size: 24px;
  margin-top: 50px;
}

.purchasing-row-last{
  margin-bottom: 70px;
  border-bottom: 0;
}

.purchasing-row img{
  max-width: 100%;
}

/* Pricing */
#pricing {
  background: #fff;
}
#pricing header{
   height: auto;
   min-height: 230px;
   background: url(../img/bg-banner-pricing.jpg) center top no-repeat;
}

#pricing .page-title{
  position: relative;
  margin-top: 40px;
}

#pricing .page-title .title{
  font-weight: 700;
}

#pricing .pricing-section{
  border-top: 0;
  padding-top: 20px;
}

#pricing .page-title p{
  color: #1b9438;
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
}

#pricing .page-title img{
  position: absolute;
  top: -90px;
  left: 50%;
  margin-left: 300px;
}

.panel-custom{
  border-color: #2c4054;
}

.panel-primary{
  border-color: #009cff;
}

.panel-custom>.panel-heading{
  background-color: #2c4054;
  border-color: #2c4054;
}

.panel-primary>.panel-heading{
  background-color: #009cff;
  border-color: #009cff;
}

.price-table{
  text-align: center;
  padding-bottom: 30px;
}

.price-table .panel-title{
  font-size: 24px;
  color: #fff;
}

.price-table h2{
  font-size: 70px;
  font-weight: 700;

}

.panel-custom h2{
  color: #2c4054;
  margin-top: 0;
}

.panel-primary h2{
  color: #009cff;
  margin-top: 0;
}

.price-table p.info{
  font-size: 16px;
  text-transform: uppercase;
}

.panel-custom p.info{
  color: #2c4054;
}

.panel-primary p.info{
  color: #009cff;
}

.price-table a.get-start{
  display: inline-block;
  padding: 10px 60px;
  font-size: 18px;
  border:#2c4054 solid 1px;
  border-radius: 25px;
  margin: 20px 0;
  color: #2c4054;
  outline: none !important;
  text-decoration: none !important;
}

.price-table a.get-start:hover{
  background: #2c4054;
  color: #fff;
}


.panel-primary.price-table a.get-start{
  border:#009cff solid 1px;
  color: #009cff;
}

.panel-primary.price-table a.get-start:hover{
  background: #009cff;
  color: #fff;
}

.price-table p.feature{
  font-size: 16px;
  color: #362f2d;
  margin-bottom: 0;
}

.price-table hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #CCC;
}

p.note{
  text-align: center;
  font-size: 18px;
  color: #362f2d;
  margin-top: 20px;
  margin-bottom: 20px;

}

.pricing-btn{
  margin: 50px 0 150px 0;
  
}

.pricing-btn .btn-row{
  border-top: none;
  margin: 0;
  padding: 0;
}

.pricing-btn a{
  padding: 10px 0px;
  font-size: 30px;
  margin-top: 0;
  border-radius: 40px;
  min-width: 300px;
  display: inline-block;
  background: #009cff;
  color: #fff;
  border-color: #009cff;
  text-align: center;
  font-weight: 700;
}

.pricing-btn a:hover{
  background: #069af8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2OWFmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGQzZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #069af8 0%, #00d3ea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069af8), color-stop(100%,#00d3ea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #069af8 0%,#00d3ea 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #069af8 0%,#00d3ea 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069af8', endColorstr='#00d3ea',GradientType=0 ); /* IE6-8 */

}

@media(max-width:1199px){
  header .navbar>.container .navbar-brand img{
      max-width: 100%
   }

  header .container>.navbar-header{
    width: 200px;
  }

  header .navbar-default .navbar-nav > li > a{
    font-size: 12px;
  }

  header .navbar-nav{
    margin-top: 32px;
  }

  header{
    background-size: 100% 100%;
    height: 550px;
  }

  header h1{
    width: 100%;
    font-size: 35px;
    margin-top: 120px
  }

  .ha_clients_cover_main{
    width: 790px;
  }

  .title{
    width: 97%
  }

}

@media(max-width: 979px){
    
    header .container >.navbar-header{
      width: 150px;
    }
    header .navbar-nav{
      margin-top: 25px;
    }
    header .navbar-default .navbar-nav > li > a{
      font-size: 11px;
    }
    header .navbar-default .navbar-nav > li:last-child > a{
    padding: 5px 10px;
    }

    header .navbar-default .navbar-nav > li > a{
      padding: 0 5px;
    }

    header{
       height: auto;
    }

    header h1{
      font-size:25px;
      margin-top: 80px
    }

    header h4{
      margin-top: 50px;
      margin-bottom: 55px;
      font-size: 25px;
    }

    .sub_title{
      margin-top: -35px;
    }

    .sub_title a{
      font-size: 25px;
    }

    .ha_clients_cover_main{
    width:590px;
    }

    .title{
      width: 100%;
      font-size: 42px;
    }

    .page-title h1{
      width: 100%;
      font-size: 42px;
    }

    .page-title p{
      width: 90%;
    }

    #pricing .page-title img{
      top: -110px;
      height: 100px;
      left: 50%;
      margin-left: 30px;
    }

}

@media(max-width:767px){
    .page-block{
      min-height: 20px;
      margin-bottom: 50px !important;
    }
    header .navbar-default{
      background: rgba(17,33,50, .7) !important;
    }
    header .container >.navbar-header{
      width: 100%
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
      background: rgba(0,0,0, .8);
    }

    .navbar-default .navbar-toggle{
      margin-right: 0;
    }

    .navbar-default .navbar-collapse{
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-default .navbar-toggle{
      margin-top:25px;
      border:none;
    }

    .navbar-toggle .icon-bar{
      width:30px;
      height: 4px;
    }

    header .navbar-nav{
      width: 100%;
      margin: 0
    }

    header .navbar-default .navbar-nav > li{
      width: 100%;
    }

    header .navbar-default .navbar-nav > li > a{
      padding:10px 0;
      text-align: center;
      font-size: 14px;
      background: rgba(0,0,0, .8);
      margin-bottom: 1px;
      border-right: 0;
    }

    header .navbar-default .navbar-collapse{
      border-color: #59636f;
    }

    header .navbar-default .navbar-collapse  li > a{
      background: rgba(17,33,50, .7);
      border-bottom: #59636f solid 1px;
      margin-bottom: 0;
      text-align: left;
      padding-left: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    header .navbar-default .navbar-collapse  li:hover > a{
      background: rgba(17,33,50, .7);
      
    }

    header .navbar-default .navbar-nav > li:hover > a{
      text-decoration: none;
    }

    header .navbar-default .navbar-nav > li:last-child{
      text-align: center;
      background: rgba(17,33,50, .7);
    }

    header .navbar-default .navbar-nav > li:last-child > a{
      margin: 5px 0;
      padding: 10px 30px;
      display: inline-block;
    }

    header {
    background-size: 170% 125%;
    }

    header h1{
      margin-top: 110px;
    }

    .why_choose .col-md-3{
      text-align: left;
      min-height: 50px;
      margin-bottom: 35px;
      float: left;
      padding: 0 35px;
      width: 100%;
    }

    .why_choose .col-md-3 img{
      float: left;
      margin-right: -100%;
      margin-left: 20px;
    }


    .why_choose .col-md-3 .details{
      float: left;
      padding-left:140px;
      background: none
    }

    .why_choose .col-md-3 .details h3{
      margin-top:10px;
    }

    .get_alerts{
      padding: 30px 0;
      text-align: left;
    }

    .get_alerts .alerts_sub{
      margin-top: 50px
    }

   .get_alerts .alerts_sub .col-sm-4{
      margin-bottom:30px
    }

    .get_alerts .col-sm-4 h4{
      font-size: 20px;
    }

     .ha_clients_cover_main{
       width:390px;
    }

    #testimonial_slide .carousel-control.left, #testimonial_slide .carousel-control.right{
      display: none;
    }

    #testimonial_slide .carousel-indicators{
      display: block;
      bottom: -70px;
    }

    .testimonial{
      padding: 30px 0 80px 0;
    }

    #testimonial_slide .carousel-inner >.item{
      padding: 0;
    }

    footer .col-sm-4, footer .col-sm-8{
      float: left;
      width: 100%;
    }
   .copyright{
    float: left;
    width: 100%;
    margin-top: 30px;
   }

   footer .col-sm-8 ul li{
    width: 100%;
   }

  footer .col-sm-8 ul li a{
    border: 0;
   }

   footer .col-sm-8 article p{
    font-size: 16px;
   }

   .customer_section article .article_title {
      width: 290px;
      }

    .customer_section article .article_title h4{
      font-size: 25px;
      padding-top:20px; 
      padding-bottom:20px; 
    }

    .customer_section article .article_title{
      bottom: 15px;
    }

    .title{
      font-size: 30px;
    }

    .purchasing-row{
      text-align: center;
    }

    .purchasing-row img{
      margin-top: 10px;
      max-width: 200px;
    }

}

@media(max-width:470px){
     header .navbar-default .navbar-brand{
      width:200px;
     }

     header{
      background: url(../img/mobile_header.png);
      background-size: 100% 100%;
     }

     .navbar-default .navbar-toggle{
      margin-top: 20px;
      border:none;
     }

     .sub_title a{
      padding: 10px 40px;
      font-size:15px;
     }

     .sub_title{
      margin-top: -28px;
     }

     .why_choose .col-md-3{
      padding: 0
     }

     .why_choose .col-md-3 .details{
       padding-left:120px;
       padding-right: 10px;
     }

      .ha_clients_cover_main{
       width:205px;
    }

    .ha_clients_cover ul li{
      width:80px;
      margin: 10px;
    }

    .ha_clients_cover ul li img{
      max-width: 100%;
    }

    #myModa20 .modal-body form,
    #myModa21 .modal-body form {
      padding: 20px 0 0 0;
}

#myModa20 .modal-title,
#myModa21 .modal-title{
  margin-left: 0
}

.customer_section article .article_title{
  position: relative;
  top: 0;
  bottom: 0;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

.customer_section article .article_title{
  width: 100%;
}

.price-table a.get-start{
  font-size: 16px;
}



  }

.fa:hover{
  color: #009cff;
}

.contact-form .help-block{
  display: none;
}

.contact-form .has-error .help-block{
  display: block;
}

.form-dismiss .alert{
  display: none;
}

.form-dismissed .alert{
  display: block;
}

.form-dismissed form{
  display: none;
}

