@charset "utf-8";
/* CSS Document */
@font-face
{
font-family: Utility;
src: url('UTILITY.ttf');
} 

@font-face
{
font-family: Mido;
src: url('Mido.otf');
} 

.view {
   width: 200px;
   height: 200px;
   margin: 5px;
   float: left;
   display:inline;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   background: #fff;
   cursor:pointer;
}
.view .mask{
   width: 200px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   background:url(../image/musk_bg.png);
   display:none;
   cursor:pointer !important;
   
}

.view.blue{
	border-color:#3CF !important;
	}

.view img {
   display: block;
   position: relative;
   width:200px;
   height:200px;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size:22px;
   padding: 5px;
   background:url(../image/musk_bg.png);
   margin: 10px 0 0 0;
   display:none;
   font-family:Utility;
   font-weight:normal;
   letter-spacing:2px;
}
.view p {
	display:inline-block;
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 2px;
   text-align: center;
   margin-top:20px;
   display:none
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   visibility:hidden;
    margin-top:10px;

}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
