@charset "utf-8";
/* CSS Document */

/*************RESET*****************/

@font-face
{
font-family: Utility;
src: url('UTILITY.ttf');
} 

@font-face
{
font-family: Mido;
src: url('Mido.otf');
} 

*{
	font-size:14px;
	font-family:Mido;
	}


body{
	margin:0px;
	min-width:950px;
	background:#FFF;
	}
	
img{
	border:none;
	}

/*****************SETTINGS FONT*******************/


.para_b{
	float:left;
	display:block;
	padding:10px;
	height:auto;
	text-align:justify;
	color:#000;
	font-size:14px;
	margin:0px;
	}
	
.para_w{
	float:left;
	display:block;
	height:auto;
	font-size:14px;
	text-align:justify;
	color:#fff;
	padding:10px;
	margin:10px;
	}
	
.title_1{
	float:left;
	display:block;
	padding:10px 0px 0px 20px;
	height:auto;
	color:#FFF;
	font-size:33px;
	font-family:Utility;
	font-weight:normal;
	letter-spacing:2px;

	}
	
.title_2{
	float:left;
	display:block;
	padding:10px 0px 0px 20px;
	height:auto;
	color:#FFF;
	font-size:33px;
	font-family: Utility;
	font-weight:normal;
	letter-spacing:2px;
	}
	
.title_3{
	float:left;
	display:block;
	padding:10px 0px 0px 20px;
	height:auto;
	color:#000;
	font-size:20px;
	font-family:Utility;
	font-weight:normal;

	}
	
.title_4{
	float:left;
	display:block;
	padding:10px 0px 0px 20px;
	height:auto;
	color:#000;
	font-size:20px;
	font-family:Utility;
	font-weight:normal;

	}
	
.blue{
	color:#3CF;
	}
	
.gray{
	color: #333;
	}


/***************LAYOUT SETTING******************/


.warp{
	float:left;
	width:100%;
	}
	
.middler{
	width:950px;
	margin:0 auto;
	height:100%;
	}
	


/****************HEADER SETTING***********************/


.warp_header{
	height:61px;
	background: url(../image/header_bg.png) repeat-x;
	position:fixed;
	left:0px;
	top:0px;
	z-index:1000;
	}
	
.header{
	float:left;
	display:inline;
	width:950px;
	height:61px;
	}
	
.logo{
	float:left;
	display:inline;
	width:300px;
	height:79px;
	padding-left:20px;
	}
	
.logo img{
	margin:18px;
	padding:0px;
	cursor:pointer;
	}
	
.nav{
	float:right;
	display:inline;
	width:auto;
	height:30px;
	margin-right:20px;
	margin-top:14px;
	}
	
.nav span{
	float:left;
	display:block;
	width:auto;
	height:30px;
	padding:0px 10px;
	line-height:30px;
	color:#FFF;
	font-size:24px;
	text-decoration:none;
	margin:0px 3px;
	cursor:pointer;
	font-family:Utility;
	font-weight:normal;
	letter-spacing:2px;

	}
	
.nav a{
	float:left;
	display:block;
	width:auto;
	height:30px;
	padding:0px 10px;
	line-height:30px;
	color:#FFF;
	font-size:24px;
	text-decoration:none;
	margin:0px 3px;
	cursor:pointer;
	font-family:Utility;
	font-weight:normal;
	letter-spacing:2px;
	}
	
.nav a:hover, .nav span:hover{
	color:#3CF;
	background:#FFF;
	}
	
.nav a.active, .nav span.active{
	color:#3CF;
	background:#FFF;
	}
	
	
	
/***************HOME SETTINGS**********************/
	
	
.warp_home{
	height:700px;
	background:url(../image/home_banner.png) center 0px no-repeat;
	position:fixed;
	top:50px;
	left:0px;
	}
	
.home{
	float:left;
	display:inline;
	width:950px;
	height:100%;
	background:url(../image/home_txt.png) no-repeat 80px 400px;
	}
	

/**************ABOUT SETTING********************/


.warp_about{
	height:700px;
	position:relative;
	margin-top:750px;
	}
	
.about{
	float:left;
	display:inline;
	width:950px;
	height:700px;
	background:url(../image/about_bg.png) center repeat-y;
	}

.about_top{
	float:left;
	display:inline;
	width:100%;
	height:6px;
	background:url(../image/about_top.png) center no-repeat;
	}
	
.about_bottom{
	float:left;
	display:inline;
	width:100%;
	height:12px;
	background:url(../image/about_bottom.png) center no-repeat;
	}
	
.about_mid{
	float:left;
	display:inline;
	width:900px;
	height:750px;
	padding:12px 25px;
	}
	
.about_left{
	float:left;
	display:inline;
	width:480px;
	height:100%;
	}
	
.about_left h1{
	margin-top:150px;
	}
	
		
.about_right{
	float:right;
	display:inline;
	width:410px;
	height:100%;
	}
	

.about_right img{
	margin:-170px 0px 0px 5px;
	}


/*****************PROCESS MENU SETTING*********************/




.warp_process_menu{
	height:197px;
	background:url(../image/process_bg.png) repeat-x;
	position:relative;
	}
	
.process_menu_con{
	float:left;
	display:inline;
	width:950px;
	height:197px;
	}
	
.process_menu_con_title{
	float:left;
	display:inline;
	width:150px;
	height:137px;
	padding:30px;
	}
	
	
.process_menu{
	float:left;
	display:inline;
	width: auto;
	height:157px;
	padding-top:30px;
	}
	
.process_menu_item{
	float:left;
	display:inline;
	width:120px;
	height:157px;
	cursor:pointer;
	margin-right:30px;
	}
		
.process_menu_item:hover p{
	color:#3CF;
	}
	
.process_menu_item img{
	float:left;
	display:inline;
	}
	
.process_menu_item p{
	float:left;
	display:block;
	width:100%;
	height:auto;
	text-align:center;
	padding:0px;
	}
	
.process_menu_item:hover p{
	color:#333;
	}
	
.process_menu_item:hover p.blue{
	color: #3CF;
	}	
	
/*****************PROCESS CONTENT SETTING*********************/

.warp_process_con{
	height:500px;
	background:url(../image/process_con_bg.png) repeat-x;
	position:relative;
	}
	
.process_con{
	float:left;
	display:inline;
	width:950px;
	height:500px;
	overflow:hidden;
	}

.arrow_con{
	float:left;
	display:inline;
	width:100%;
	height:22px;
	}
	
.arrow_con img{
	float:left;
	display:inline;
	width:32px;
	height:22px;
	margin-left:270px;
	margin-top:-3px
	}
	
.process_body{
	float:left;
	display:inline;
	width:100%;
	height:470px;
	margin-top:3px;
	overflow:hidden;
	}
	
.musk{
	float:left;
	display:inline;
	width:2850px;
	height:470px;
	}
	
.con{
	float:left;
	display:inline;
	width:900px;
	height:470px;
	padding:0px 25px;
	}
	
.process_body_left{
	float:left;
	display:inline;
	width:480px;
	height:410px;
	padding:30px 0px;
	}
	
.process_body_left h1{
	color:#000;
	padding-left:1px;
	}	
	
.process_body_right{
	float:right;
	display: inline;
	width:350px;
	height:470px;
	}
	
	
.gallery_warp{
	float:left;
	display:inline;
	width:340px;
	height:250px;
	overflow: hidden;
   margin-top:50px;
   position:relative;
	}
.gallery_con{
	float:left;
	display:inline;
	width:1400px;
	height:250px;
	}
	
.button_con{
	float:left;
	display:inline;
	width:auto;
	height:auto;
	margin:5px 0px 0px 120px;
		}
	
.button_con a{
	float:left;
	display:block;
	position:relative;
	width:18px;
	height:18px;
	border:#333 solid 1px;
	margin:0px 2px;
	cursor:pointer;
	}
	
.button_con a.active{
	background:#3CF;
	}
.gallery_con img{
	float:left;
	display:inline;
	width:340px;
	height:240px;
	margin:5px;
	}

.src{
	display:none;
	}

/****************PROJECT CONTENT SETTING********************/

	
.pc_top_warp{
	float:left;
	display:inline;
	width:100%;
	height:120px;
	background:url(../image/project_bg.png) repeat-x;
	position:relative;
	}
	
.pc_top{
	float:left;
	display:inline;
	width:900px;
	height:100px;
	padding:10px 25px;
	}

.pc_left{
	float:left;
	display:inline;
	width:200px;
	height:100%;
	}
	
.pc_right{
	float: left;
	display:inline;
	width:700px;
	height:100%;

	}
	
.pc_row_warp{
	float:left;
	display:inline;
	width:100%;
	height:250px;
	background:url(../image/project_bg.png) 0px -100px repeat-x;
	position:relative;

	}
	
.pc_row{
	float:left;
	display:inline;
	width:900px;
	height:250px;
	padding:0px 25px;
	}
	

.full{
	width:100% !important;
	}
/****************PROJECT PEVIEW SETTING********************/


.warp_project_preview{
	float:left;
	display:inline;
	width:100%;
	height:499px;
	background:url(../image/project_con_bg.png) repeat-x;
	display:none;
	position:relative;
	}
	
.project_preview{
	float:left;
	display:inline;
	width:950px;
	height:499px;
	}
	
.arrow_con_2{
	float:left;
	display:inline;
	width:100%;
	height:40px;
	}	
	
.arrow_con_2 img{
	float:left;
	display:inline;
	margin-left:300px;
	margin-top:-3px;
	}
	
.arrow_con_2 button{
	float:right;
	display: inline;
	width:60px;
	height:20px;
	border:#CCC solid 1px;
	color:#000;
	background:#FFF;
	margin-top:10px;
	cursor:pointer;
	margin-right:50px;
	}
	
.arrow_con_2 button:hover{
	color:#FFF;
	background:#000;
	border-color:#3CF;
	}
		
.project_preview_body{
	float:left;
	display:inline;
	width:100%;
	height:450px;
	margin-top:6px;
	display:none;
	}	

.project_preview_body_left{
	float:left;
	display:inline;
	width:300px;
	height:450px;
	padding:0px 10px;
	overflow:auto;
	}	
	
.project_preview_body_left h1{
	color:#000;
	margin-bottom:0px;
	width:80%;
	margin-left:-10px;
	}
	
.project_preview_body_left p{
	margin:0px;
	}	
	
.project_preview_body_right{
	float:right;
	display:inline;
	width:600px;
	height:450px;
	
	}	

.project_preview_body_right img{
	float:left;
	display:inline;
	margin:10px 0px;
	width:550px;
	height:400px;
	}	
	
	
/****************CONTACT SETTING********************/

.warp_contact{
	height:700px;
	background: url(../image/contact_bg.png) repeat-x;
	position:relative;
	}
	
.contact{
	float:left;
	display:inline;
	width:950px;
	height:340px;
	}
	
.social_con{
	float:left;
	display:inline;
	width:300px;
	height:200px;
	margin:10px 325px;
	}
	
.contact p.level{
	float:left;
	display:block;
	width:100%;
	height:auto;
	text-align:center;
	color:#FFF;
	margin:0px;
	}
	
p.level a{
	display:block;
	width:33px;
	height:33px;
	margin:0px 5px;
	float:left;
	}
	
.fb{
	background:url(../image/social_icon.png) 10px 0px no-repeat;
	}
	
.tw{
	background:url(../image/social_icon.png) -30px 0px no-repeat;
	}
	
.in{
	background:url(../image/social_icon.png) -70px 0px no-repeat;
	}
	
.v{
	background:url(../image/social_icon.png) -110px 0px no-repeat;
	}
	
.yt{
	background:url(../image/social_icon.png) -150px 0px no-repeat;
	}
	
.mail{
	float:left;
	display:block;
	width:100%;
	color:#FFF;
	}
	
.mail a{
	margin-left:330px
	}