ul,li{
	margin:0;
	padding:0;
	list-style:none;
	}
.wizard_popup_wrapper{
	float:left;
	display:none;
	width:100%;
	height:auto;
	background: url(../img/popup_bg.png) repeat;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000000;
	}
	
	
.wizard_popup{
	width:830px;
	height:auto;
	padding:19px 0px;
	position:relative;
	margin:50px auto;
	overflow:auto;
	}

.wizard_popup .left_triangle{
	float:left;
	width: 0;
	height: 0;
	border-bottom: 19px solid #68D0B9;
	border-left: 19px solid transparent;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
	}
	
.wizard_popup .close_btn{
	float:left;
	width: 25px;
	height: 25px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:1;
	cursor:pointer;
	}						

.wizard_popup .right_triangle{
	float:left;
	width: 0;
	height: 0;
	border-top: 19px solid #68D0B9;
	border-right: 19px solid transparent;
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:1;
	}

	
.wizard_popup .popup_container{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	background:#FFF;
	}
	
.wizard_popup .popup_container .popup_row{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	}
	
.wizard_popup .popup_container h2.title{
	float:right;
	display:inline-block;
	width:auto;
	height:40px;
	background:#3E3D39;
	font-size:30px;
	font-family:FbReformaMedium;
	color:#FFF;
	line-height:40px;
	padding:0px 50px;
	margin-top:-20px;
	}
	
.wizard_popup .popup_container .popup_content{
	padding:0px 50px 30px 50px;
	overflow-y:auto;
	overflow-x:hidden;
	}

.wizard_popup .popup_container .popup_content p{
	float:left;
	display:block;
	width:100%;
	height:auto;
	margin:0px;
	color:#808080;
	font-family:FbReformaRegular;
	}

	
	
@media(max-width:830px){
	.wizard_popup{
		width:100%;
	}
	
	.wizard_popup .span6{
		margin-bottom:30px;
		}
		
	.wizard_popup .popup_container .popup_content .level{
		width:10%;
		}
		
	.wizard_popup .popup_container .popup_content .input_con{
		width:90%;
		}
		
	
	}				
	
	
@media(max-width:600px){
.wizard_popup .popup_container h2.title{
		margin-top:0px;
		height:auto !important;
		text-align:center;
		padding-left:20px;
		padding-right:20px;

		}
		
.wizard_popup .popup_container .popup_content{
	padding-left:20px;
	padding-right:20px;
	}		
		
.wizard_popup .popup_container .popup_content .pull-left{
	width:100%;
	text-align:center;
	}				

}
	
			
	
