*{
	font-family: Arial;
	margin: 0;
	padding: 0;
}

body{
	min-width: 320px;
	overflow-x:hidden; 
	font-size: 16px;
}

img{
	border:none;
}

a{
	text-decoration: none;
}

ul,li{
	list-style: none;
}

input{
	border:none;
	background:#dde4ff;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}

input[type=checkbox]{
	height: auto;
}

.wrapper{
	float: left;
	display:block;
	width: 100%;
}

.site_middler{
	width: 100%;
	max-width: 960px;
	overflow: hidden;
	margin: 0 auto;
}

.container{
	float: left;
	display: block;
	padding: 10px;
	width: 940px;
	background-color: #fff;

}

.form_title{
	float: left;
	width: 100%;
	background-color: #dcfffb;
	border-bottom: #000 solid 2px;

}

.form_title > div{
	display: inline-block;
	float: left;
}

.form_title .title_col_1{
	background-color: #fff;
	height: 70px;
	font-weight: bold;
	font-size: 32px;
	line-height: 70px;
}

.form_title .title_col_1 small{
	font-size: 10px;
	font-weight: 100;
	display: inline-block;
	margin-right: -5px;
	vertical-align: middle;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);	
}

.form_title .title_col_2,
.form_title .title_col_3,
.form_title .title_col_4{
	margin-top: 15px;
	border-right: #000 solid 1px;
	height: 55px;
	padding: 0px 4px;
}

.form_title .title_col_2 small{
	font-size: 10px;
	display: inline-block;
	margin-top: 15px;
	width: 100%;
}

.form_title .title_col_2 small i{
	float: right;
}


.form_title .title_col_2 p{
	font-size: 18px;
	font-weight: bold;
}

.form_title .title_col_3 p{
	font-weight: bold;
	font-size: 32px;
	margin-top: 18px;
}


.form_title .title_col_5{
	margin-top: 15px;
	height: 55px;
	padding: 0px 4px;
}

.form_title .title_col_4 p,
.form_title .title_col_5 p{
	font-size: 10px;
	margin-top: 38px;
}


/*First part*/

.first_part{
	float: left;
	display: inline-block;
	width: 100%;
}

.first_part .left{
	float: left;
	display: inline-block;
	width: 730px;
	border-right: #000 solid 1px;
	height: 202px;
}

.first_part .right{
	float: left;
	display: inline-block;
	width: 209px;
}


.first_part .r{
	float: left;
	display: inline-block;
	width: 100%;
	border-bottom: #000 solid 1px;
}

.first_part .r_44{
	padding-bottom: 6px;
}

.first_part .r_1{
	font-size: 10px;
	line-height: 14px;
}

.first_part .r_1 span{
	float: left;
	display: inline-block;
}

.i_1{
	width: 70px;
}

.i_2{
	width: 50px;
}

.r_2 .span{
	float: left;
	display: inline-block;
	width: 400px;
}

.r_2 .span:first-child{
	border-right: #000 solid 1px;
	width: 329px;
}

.r_2 span{
	width: 100%;
	font-size: 10px;
	display: inline-block;
	text-indent: 3px;
}



.r_2 input{
	width: 100%;
}


.r_2 .span_2{
	float: left;
	display: inline-block;
	width: 589px;
	border-right: #000 solid 1px;
}


.r_2 .span_3{
	float: left;
	display: inline-block;
	width: 140px;
}

.r_2 .span_4{
	float: left;
	display: inline-block;
	width: 259px;
	border-right: #000 solid 1px;

}

.r .s{
	font-size: 12px;
	margin-bottom: 4px;
}

.r .i_3{
	float: left;
	display: inline-block;
	width: 32%;
	border-left: #000 solid 1px;
}

.r .i_3.f{
	border-left: 0;
	width: 33%;
}

.r_3 span{
	width: 100%;
	font-size: 10px;
	display: inline-block;
	text-indent: 3px;
	margin-top: 3px;	
}


.r_4 span{
	width: 100%;
	font-size: 10px;
	display: inline-block;
	text-indent: 3px;
	line-height: 12px;
	
}

.r_4 input{
	height: auto;
}

/*Part 2*/

.part_2 {
    border-bottom: 1px solid #000;
    display: inline-block;
    float: left;
    margin-top: -6px;
    width: 100%;
}

.part_2 .left{
	float: left;
	display: inline-block;
	width: 130px;
	background-color: #fff;
}

.part_2 .left span{
	font-size: 12px;
	margin-top: 30px;
	display: inline-block;
	width: 100%;
	padding: 5px 0;
}

.part_2 .left p{
	display: inline-block;
	width: 100%;
	padding: 5px 0;	
}

.part_2 .right{
	float: left;
	display: inline-block;
	width: 809px;
    background-color: #dcfffb;
	border-left: #000 solid 1px;

}

.part_2 .span_5{
	float: left;
	display: inline-block;
	width: 50%;
}

.part_2 .span_5 b{
	display: inline-block;
}

.part_2 .span_5 input[type=checkbox]{
	height: auto;
}

.part_2 .r{
	float: left;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	padding: 3px 0 0;
}

.part_2 .r span{
	float: left;
	display: inline-block;
	padding: 3px;
}

.part_2 .r span.label{
	width: 305px;

}

/*Part 3*/

.part_3 {
    border-bottom: 1px solid #000;
    display: inline-block;
    float: left;
    width: 100%;
}

.part_3 .left{
	float: left;
	display: inline-block;
	width: 130px;
	background-color: #fff;
}

.part_3 .left span{
	font-size: 12px;
	margin-top: 30px;
	display: inline-block;
	width: 100%;
	padding: 5px 0;
}

.part_3 .left p{
	display: inline-block;
	width: 100%;
	padding: 5px 0;	
}

.part_3 .right{
	float: left;
	display: inline-block;
	width: 809px;
    background-color: #dcfffb;
	border-left: #000 solid 1px;
	

}

.part_3 .p1{
	float: left;
	display: inline-block;
	width: 620px;
   
}

.part_3 .r{
	float: left;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	padding: 3px 0 0;
	position: relative;
}

.part_3 .r span{
	float: left;
	display: inline-block;
	padding: 3px;
}

.part_3 .r span.label{
	width: 305px;

}
.part_3 .p2{
	float: left;
	display: inline-block;
	width: 170px;
	padding-left: 9px;
}

.t_1{
	float: left;
	display: inline-block;
	width: 100%;
}

.t_1 .r{
	border-bottom: #000 solid 1px;
}

.r_t{
	border-top: #000 solid 1px;
	padding-top: 0 !important;
	
}

.table_outer{
	overflow: auto;
}

.table_outer .r{
	min-width: 620px;
}

.t_1 .tt_1{
	float: left;
	display: inline-block;
	width: 189px;
	padding: 3px 5px;
	border-right: #000 solid 1px;
	height: 60px;
}

.t_1 .tt_2{
	float: left;
	display: inline-block;
	width: 99px;
	padding: 3px 5px;
	border-right: #000 solid 1px;
	height: 60px;
}

.t_1 .tt_2.last{
	border-right: 0px;
}

.t_1 .span_6{
	float: left;
	display: inline-block;
	width: 50%;
	margin-top: 40px;
}

.t_1 .span_6 input{
	width: 100%;
}

.t_1 .i_5{
	margin-top: 0;
}

.t_1 .tt_2 .i_4{
	float: left;
	display: inline-block;
	width: 32%;
	border-left: #ccc solid 1px;
}



.t_1 .tt_2 .i_4:first-child{
	border:none;
	width: 33%;
}

.t_1 .tt_2 .i_6{
	float: left;
	display: inline-block;
	width: 100%;
}

.rb .tt_1,
.rb .tt_2{
	height: auto;
	padding: 0;
	margin-top: -3px;
}

.rb .tt_1{
	width: 199px;
}

.rb .tt_2{
	width: 109px;
}


/* CSS Document */


/*--first part bottom start----*/
.num_b{
	border:1px solid #000;
	border-top:none;
	height:20px;
	width:30px;
	text-align:center;
	line-height:21px;
	float:left;
}
.fst_in{
	width:125px;
	float:left;
	height:21px;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
.top_m{
	margin-top:-3px;
}
.scnd_inpt{
	width:42px;
	float:left;
	height:21px;
	border-bottom:1px solid #000;
}
.part_3 .p2_ex{
    display: inline-block;
    float: left;
    width: 200px;
}
.non_bg{
	float:left;
	display:inline;
	width:31px;
	position: absolute;
	bottom: 0;
	height:21px;
	background:#C0C0C0;
	border-right:1px solid #000;
}
.part_3 .r .ex_padding{
	padding-left: 25px;
}
.nt_1{
	width:125px;
	float:left;
	background:#FFF;
	height:21px;
	border-right:1px solid #000;
}
.nt_2{
	width:42px;
	float:left;
	height:21px;
	background:#FFF;
}

.part_3 .p1_ex{
    display: inline-block;
    float: left;
    width: 609px;
}
.right_inpt{
    display: inline-block;
    float: right;
    width: 200px;
}
.rgt_line{
	line-height:11.5px;
}
.right_inpt_ex{
	float:none;
	margin:2px 5px 0 5px;
}
.tra_dis{
	margin:-11px 0 0 0;
}
.f_tp{
	margin-top:4px;
}

.ren_d{
	letter-spacing:-.5px;
}
.oth_in{
	margin-left:10px;
	width:250px;
}
.tra_dis_ex{
	margin:-4px 0 0 0;
}
.per_1{
	float:left;
	display:inline;
	width:4%;
}
.per_2{
	float:left;
	display:inline;
	width:55%;
}
.ex_non{
	background:#DCFFFB;
	border-left:1px solid #000;
	border-right:none;
}
.ali_in{
	width:70px;
	margin-top: -4px;
}
.ren_d_sub{
	letter-spacing: -.5px;
}

.ren_d_sub_2{
	letter-spacing: -1px;
}



.tiny_input{
	width: 50px;
}
.mid_input{
	width: 150px;
}

.input_full{
	width: 100%;
}

.large_input{
	width: 300px;
}

.signature_row{
	float: left;
	display: inline-block;
	width: 789px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	border-bottom: #000 solid 1px;
}

.signature_row .signature{
	float: left;
	display: inline-block;
	width: 305px;
	border-right: #000 solid 1px;
	padding: 5px 5px 0px 5px;
}

.signature_row .date{
	float: left;
	display: inline-block;
	width: 95px;
	border-right: #000 solid 1px;
	padding: 5px 5px 0px 5px;
}

.signature_row .occupation{
	float: left;
	display: inline-block;
	width: 150px;
	border-right: #000 solid 1px;
	padding: 5px 5px 0px 5px;
}

.signature_row .info{
	float: left;
	display: inline-block;
	width: 196px;
	padding: 5px 5px 0px 5px;
}

.signature_row > div{
	height: 52px;
}






/*--second page start----*/

.Second_Top{
	float:left;
	display:inline;
	width:96%;
	padding:25px 2% 0 2%;}
	

.Second_Top .right{
	float:right;
	display:inline;
}
	
.Second_Top .left{
	float:left;
	display:inline;
}


/*Part 4*/

.part_4 {
    border-bottom: 1px solid #000;
    display: inline-block;
    float: left;
    width: 100%;
}

.part_4 .left{
	float: left;
	display: inline-block;
	width: 100px;
	background-color: #fff;
}

.part_4 .right{
	float: right;
	display: inline-block;
	width: 200px;
	background:#fff;
}

.part_4 .middle{
	float:left;
	display: inline-block;
	width: 530px;
    background-color: #dcfffb;

}

.part_4 .left b{
	text-align:center;
	margin-top:10px;
	width:100%;
	float:left;
}

.part_4 .r{
	float: left;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	padding: 3px 0 0;
}

.part_4 .r span{
	float: left;
	display: inline-block;
	padding: 3px;
}

.part_4 .r span.sl{
	width:25px;
	text-align: center;
	position:relative;
	z-index:2000001;
}

.part_4 .r span.sl:hover{
	background:#fff;
	z-index:2000001;
}



.notes{
	float:left;
	display:block;
	width:80px;
	border-radius:15px;
	border:1px solid #000;
	padding:20px 10px;
	background:#fff;
}

.part_4 .r span.sl b{
	z-index:20000000;
	float:left;
	width:100%;
	cursor:pointer;
	border-bottom:1px solid #dcfffb;
	border-top:1px solid #dcfffb;
	padding: 2px 0;
	position:absolute;
	top:0;
	left:0;
}

.part_4 .r span.sl:hover b{
	background:#fff;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	left:-1px;
	
}



.notes h1{
	font-size:14px;
}


.notes li{
color:#000000;
font-size:12px;
text-align:left;
margin-bottom:5px;
}



.rightSub{
	float:left;
	display:inline;
	width:100%;
	border-bottom: #000 solid 1px;
	background:%fff;
	}

.inputeGap{
	float:left;
	display:inline;
	width:100%;
	border-bottom: #000 solid 1px;
	position:relative;
}

.inputeGap .inp-1{
	float:left;
	display:inline;
	width:40px;
	height:100%;
	border-left: #000 solid 1px;
	position:absolute;
	left:0;
	top:0;
}

.inputeGap .inp-2{
	float:left;
	display:inline;
	width:117px;
	height:100%;
	top:0;
	left:41px;
	border-left: #000 solid 1px;
	position:absolute;
}

.inputeGap .inp-3{
	float:left;
	display:inline;
	width:40px;
	height:100%;
	border-left: #000 solid 1px;
	position:absolute;
	top:0;
	right:0;
}

	

.inputeGap .rightSub.extraLeft{
	position: relative;
	left:-200px;
	z-index:1000000;
	}

.rightSub .p1{
	float:left;
	display:inline;
	width:40px;
	height:30px;
	border-left: #000 solid 1px;
	text-align:center;
	font-weight:bold;
	 background-color: #dcfffb;
	 line-height:30px;
	}

.rightSub .p2{
	float:left;
	display:inline;
	width:117px;
	height:30px;
	border-left: #000 solid 1px;
	}

.rightSub .p3{
	float:left;
	display:inline;
	width:40px;
	height:30px;
	border-left: #000 solid 1px;
	}

.rightSub.nill{
	float:left;
	border:0;
	}

.rightSub.nill .p1{
	background:#c0c0c0;
	}

.rightSub.nill .p2{
	background:#fff;
	}

.rightSub.nill .p3{
	background:#fff;
	}




.rightSub .p3 input, .rightSub .p2 input{
	float:left;
	display:inline;
	width:100%;
	height:100%;
	}

.towlineAdd{
display:inline-block;
width:70%;
}


.towlineAdd img.fi{
display:inline-block;
width: auto;
float:left;
}

.towlineAdd img.se{
display:inline-block;
width: auto;
float:right;
}



.towlineAdd article{
display:inline-block;
float:left;
width:93%;
margin-top:5px;
}

.towlineAdd article p input[type="checkbox"]{
display:inline-block;
float:left;
width:70%;
margin-right:5px;
width:15px;
height:15px;
}


.chek{
float:left;
display:inline;
}

.checkArea{
float:left;
width:93%}


.towlineAdd article p .blind{
float:right;
padding:0;
}

.towlineAdd article p{
margin-bottom:5px;
}

.totalBoxCheck{
	float:right;
	display:inline;
	width:21%;
	font-weight:bold;
	color:#000000;
	}

.totalBoxCheck input{
	float:right;
	display:inline;
	width:25px;
	height:25px;
	border:1px solid #000000;
	background:#FFFFFF;
	margin-left:5px;
	}

.riSide{
	float:right;
	}

.ifyour{
width:90%}

.details{
	float:right;
	width:93%;
	}

.details input[type="checkbox"]{
vertical-align:middle;
	}
	
.details .tex_1, .details_2 .tex_1{
	display:inline-block;
	border:1px solid #000000;
	background:#fff;
	width:30px;
	height:15px;
	vertical-align:middle;
	}	

.details_2{
width:55%;
}

.rightSub:last-child{
border-bottom:0;}


#par_4_2 .rightSub .p1, #par_4_2 .rightSub .p2, #par_4_2 .rightSub .p3{
height:23px;
line-height:23px;
}




.bottom_col_1{
	float: left;
	display: inline-block;
	width: 404px;
	height: 20px;
	background-color: #fff;
	border-right: #000 solid 1px;
	border-bottom: #000 solid 1px;
	

}

.p22 input{
	float: right;
}

.bottom_col_2{
	float: left;
	display: inline-block;
	width: 404px;
	height: 20px;
	background-color: #fff;
	border-bottom: #000 solid 1px;
}

.bottom_col .lbl{
	float: left;
	display: inline-block;
	width: 104px;
}

.bottom_col input{
	float: left;
	display: inline-block;
	width: 294px;
}

.no_br br{
	display: none;
}

@media(max-width: 960px){
	.site_middler{
		max-width: 767px;
	}
	.container{
		width: 747px;

	}

	.form_title .title_col_5{
		height: auto;
		margin-top: 0;
	}

	.form_title .title_col_5 p{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.first_part .left,
	.first_part .right{
		width: 100%;
		height: auto;
	}

	.part_2{
		margin-top: 0;
	}

	.part_2 .left span,
	.part_3 .left span{
		margin-top: 0;
	}

	.part_3 .left,
	.part_3 .right{
		width: 100%;
	}

	.part_3 .left br{
		display: none;
	}

	.part_3 .p1,
	.part_3 .p2{
		width: 100%;
	}

	.part_3 .p2 strong br{
		display: none;
	}

	.part_3 .p2 input{
		float: none;
	}

	.part_3 .p1_ex{
		width: 100%
	}
	.part_3 .p2_ex{
		float: right;
		width: auto;
	}

	.notes{
		width: 94%;
		padding-left: 5px 2%;
		margin: 5px 0;
	}

	.bottom_col_1,
	.bottom_col_2{
		border-right: 0;
		height: auto;
	}

	.non_bg{
		display: none;
	}
}


@media(max-width: 767px){
	.site_middler{
		max-width: 480px;
	}
	.container{
		width: 480px;
		padding: 0;
	}

	.form_title .title_col_1,
	.form_title .title_col_2,
	.form_title .title_col_3,
	.form_title .title_col_4,
	.form_title .title_col_5{
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}
	.form_title .title_col_4 p, .form_title .title_col_5 p{
		margin-top: 5px;
	}

	.first_part .r_1 span:first-child{
		width: 100%;
		margin-bottom: 4px;
	}	

	.r_2 .span,
	.r_2 .span_4{
		width: 100% !important;
		border-right: 0 !important;
	}

	.r_2 .span_3,
	.r_2 .span_2{
		width: 100%;
	}

	.part_3 .r span{
		width: 100%;
	}

	.right_inpt,
	.right_inpt_ex{
		width: 100%;
		margin: 5px 0;
	}

	.tra_dis{
		margin:4px 0;
	}

	.part_3 .r span{
		padding: 5px 0;
	}

	.part_3 .right{
		border-left: 0;
	}

	.no_br br{
		display: inline-block;
	}
	.signature_row{
		width: 100%;
	}

	.signature_row .signature,
	.signature_row .date,
	.signature_row .occupation,
	.signature_row .info{
		width: 96%;
		padding: 3px 2%;
		border-left: 0;
		border-right: 0;
	}
}

@media(max-width: 480px){
	.site_middler{
		max-width: 320px;
	}

	.container{
		width: 310px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.towlineAdd img{
		display: none !important;
	}

	.signature_row{
		padding-left: 0;
	}
}



