label.checkboxes { display: inline; }
img { padding-bottom: 15px; }
.alert-success { border:1px solid #9C9; color:#060; }
.form-actions {
    padding-bottom: 0;
    margin-bottom: 0;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.report-table-container{
    display: none;
}

.report-table-container th.align-center{
    text-align: center;
}


.form-report .row{
    margin: 0;
}

.form-report select{
    max-width: 150px;
}

.form-report .span3{
    margin-left: 0;
}

.form-report .control-label{
    width: 100px;
    font-weight: bold;
}

.form-report .controls{
    margin-left: 110px;
}

.messageContainer{
    position: absolute;
    top: 5px;
    left: 20%;
    right: 20%;
    z-index: 1000;
}

@media print {
   .hide-print{
    display: none !important;
   }
}
