@charset "utf-8";
.carousal_wrapper{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	overflow:hidden;
	}
	
.carousal_container{
	float:left;
	display:inline;
	width:400%;
	height:400px;
	margin-left:-100%;
	position:relative;
	}
	
.carousal_elem{
	float:left;
	display:inline;
	width:25%;
	height:400px;
	background:#F00;
	position:absolute;
	left:0px;
	top:0px;
	}

.carousal_elem .caption{
	background:rgba(00,00,00,.7);
	width:50%;
	height:100%;
	position:absolute;
	z-index:2;
	left:0px;
	top:0px;
	}	

.carousal_elem img{
	position:absolute;
	z-index:1;
	height:auto;
	width:100%;
	max-height:400px;
	right:0px;
	top:0px;
	}

.carousal_elem .caption h1{
	padding:10px;
	font-size:16px;
	color:#FFF;
	font-weight:400;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.carousal_elem .caption p{
	padding:10px;
	font-size:14px;
	color:#FFF;
	font-weight:400;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
	
.carousal_nav{
	position:absolute;
	width:30px;
	height:30px;
	border:#000 solid 3px;
	background:rgba(255,255,255,.7);
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	text-align:center;
	line-height:25px;
	font-size:24px;
	font-weight:bold;
	top:50%;
	margin-top:-10px;
	z-index:10;
	cursor:pointer;
	display:none;
	}	
	
.carousal_nav.prev{
	left:25%;
	margin-left:10px;
	}	

.carousal_nav.next{
	left:50%;
	margin-left:-40px;
	}	
	
@media (max-width:500px){
	.carousal_elem .caption{
		width:100%;
		height:auto;
		}
	}	

