@charset "utf-8";
/* CSS Document */

	
@font-face {
    font-family: 'allerbold';
    src: url('aller-webfont.eot');
    src: url('aller-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller-webfont.woff') format('woff'),
         url('aller-webfont.ttf') format('truetype'),
         url('aller-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'allerregular';
    src: url('aller_rg-webfont.eot');
    src: url('aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_rg-webfont.woff') format('woff'),
         url('aller_rg-webfont.ttf') format('truetype'),
         url('aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lobster_1';
   src: url('lobster-webfont.eot');
    src: url('lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobster-webfont.woff') format('woff'),
         url('lobster-webfont.ttf') format('truetype'),
         url('lobster-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin:0;
	padding:0;
	font-family:allerregular;
	}

body{
	overflow-x:hidden;
	}
	
	
a{
	text-decoration:none;
	}
	
ul,li{
	list-style:none;
	}
	
img{
	border:none;
	}			

.wrapper{
	float:left;
	display:inline;
	width:100%;
	}
	
.center{
	width:100%;
	max-width:1000px;
	margin:0 auto;
	overflow:auto; 
	}
	
/*header*/

.header_common_bg{
	background:url(../images/header_common_bg.png);
	}
	
.header_wrapper{
	background:url(../images/header_Bg.png) center top no-repeat;
	padding-top:20px;		
	}
	
.header{
	overflow-x:hidden;
	}	
	
.header .top{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	}
	
.header .top .logo{
	float:left;
	display:inline;
	width:290px;
	}
	
.header .top .right{
	float:right;
	display:inline;
	width:700px;
	height:160px;
	margin-top:20px;
	}
	
.header .top .right .estimate{
	float:right;
	display:inline;
	width:100%;
	height:45px;
	margin-top:30px;
	}
	
.header .top .right .estimate a{
	float:right;
	display:block;
	width:142px;
	height:45px;
	background:url(../images/free_estimate.png) 0px 0px no-repeat;
	}
	
.header .top .right .estimate a:hover{
	background:url(../images/free_estimate.png) 0px -45px no-repeat;
	}	
	
.header .top .right .estimate p{
	float:right;
	display:inline-block;
	width:auto;
	height:45px;
	line-height:45px;
	padding:0px 10px;
	color:#FFF;
	font-size:18px;
	font-weight:100;
	font-family:allerregular;
	}
	
.header .top .right .nav_wrapper{
	float:right;
	display:inline;
	height:40px;
	border-bottom:#FFF solid 1px;
	margin-top:30px;
	position:relative;
	}
	
.header .top .right .nav_wrapper .triangle {
	width: 0;
	height: 0;
	border-top: 10px solid #7D7C7C;
	border-right: 10px solid transparent;
	position:absolute;
	right:0px;
	bottom:-11px;
}
	
.header .top .right .nav_wrapper .nav{
	float:left;
	display:inline-table;
	}
	
.header .top .right .nav_wrapper .nav li{
	float:left;
	display:inline;
	width:auto;
	position:relative;
	}
	
.header .top .right .nav_wrapper .nav li > ul{
	position:absolute;
	top:40px;
	left:-2px;
	width:150px;
	display:none;
	}
	
.header .top .right .nav_wrapper .nav li:hover > ul{
	display:block;
	}	
	
.header .top .right .nav_wrapper .nav li li{
	width:100%;
	}	
	
.header .top .right .nav_wrapper .nav li.separator{
	float:left;
	display:inline;
	width:1px;
	height:40px;
	background:#FFF;
	border-right:#bdb7b0 solid 1px;

}

.header .top .right .nav_wrapper .nav li a{
	display:block;
	padding:0px 10px;
	height:40px;
	line-height:45px;
	font-size:14px;
	color:#000;
	text-shadow:#fff 0px 0px 1px;
	background: #F4EFEB; /* Old browsers */
	background: -moz-linear-gradient(top, #F4EFEB 0%, #DDD6D1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4EFEB), color-stop(100%,#DDD6D1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F4EFEB 0%,#DDD6D1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F4EFEB 0%,#DDD6D1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F4EFEB 0%,#DDD6D1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F4EFEB 0%,#DDD6D1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4EFEB', endColorstr='#DDD6D1',GradientType=0 ); /* IE6-9 */
	}
	
.header .top .right .nav_wrapper .nav li a>img{
	width:10px !important;
	height:5px;
	}	
	
.header .top .right .nav_wrapper .nav li a:hover,
.header .top .right .nav_wrapper .nav li a.active{
	background: #E5E0DC; /* Old browsers */
	background: -moz-linear-gradient(top, #E5E0DC 0%, #BFB9B2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E0DC), color-stop(100%,#BFB9B2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #E5E0DC 0%,#BFB9B2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #E5E0DC 0%,#BFB9B2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #E5E0DC 0%,#BFB9B2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #E5E0DC 0%,#BFB9B2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E0DC', endColorstr='#BFB9B2',GradientType=0 ); /* IE6-9 */
	}
	
.header .top .right .nav_wrapper  .menu_title{
	float:left;
	display:block;
	height:45px;
	background: #F4EFEB; /* Old browsers */
	background: -moz-linear-gradient(top, #F4EFEB 0%, #DDD6D1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4EFEB), color-stop(100%,#DDD6D1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F4EFEB 0%,#DDD6D1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F4EFEB 0%,#DDD6D1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F4EFEB 0%,#DDD6D1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F4EFEB 0%,#DDD6D1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4EFEB', endColorstr='#DDD6D1',GradientType=0 ); /* IE6-9 */
	border-top:#bdb7b0 solid 1px;
	width:90%;
	margin:0px 5%;
	display:none;
	
	}	
	
.header .top .right .nav_wrapper  .menu_title a{
	cursor:pointer;
	line-height:45px;
	background:url(../images/menu_bar.png) 10px center no-repeat;
	display:block;
	width:100%;
	height:45px;
	}
	
@media(max-width:1010px){
.header .top .logo{
	width:100%;
	text-align:center;
	}
	
.header .top .right{
	width:100%;
	margin:0px;
	text-align:center;
	height:auto;
}

.header .top .right .estimate{
	margin-bottom:10px;
	margin-top:0px;
	height:auto;
	}

.header .top .right .estimate a,
.header .top .right .estimate p{
	float:none;
	text-align:center;
	}
	
.header .top .right .estimate p{
	display:block;
	width:100%;
	}
	
.header .top .right .estimate a{
	margin:0 auto;
	}
	
.header .top .right .nav_wrapper{
	width:100%;
	text-align:center;
	border:none;
	margin:0px;
	height:auto;
	}
	
.header .top .right .nav_wrapper .nav{
	float:none;
	display:inline-table;
	margin:0 auto; 
	}		
.header .top .right .nav_wrapper .triangle {
	display:none;
}
	}
	
@media(max-width:650px){
.header .top .right .nav_wrapper .nav{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0px;
	display:none;
	}
.header .top .right .nav_wrapper .nav li{
	width:100%;
	
	}
	
.header .top .right .nav_wrapper .nav li.separator{
	display:none;
}

.header .top .right .nav_wrapper .nav li ul{
	position:relative;
	float:left;
	width:100%;
	left:0px;
	top:0px;
}

.header .top .right .nav_wrapper .nav li:hover > ul{
	display:none;
	}	


.header .top .right .nav_wrapper .nav li a{
	width:100%;
	padding-left:0px;
	padding-right:0px;
}


.header .top .right .nav_wrapper .nav li li a{
		padding:0px 5%;
		width:90%;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top, #000 0%, #333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(100%,#333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000 0%,#333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000 0%,#333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000 0%,#333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #000 0%,#333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#333',GradientType=0 ); /* IE6-9 */
	color:#eee;
	text-shadow:#999 0px 0px .5px;
	}


.header .top .right .nav_wrapper .nav li li a:hover{
		padding:0px 5%;
		width:90%;
	background:09c ; /* Old browsers */
	background: -moz-linear-gradient(top, #06f 0%, #09c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06f), color-stop(100%,#09c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #06f 0%,#09c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #06f 0%,#09c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #06f 0%,#09c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #06f 0%,#09c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06f', endColorstr='#09c',GradientType=0 ); /* IE6-9 */
	color:#eee;
	text-shadow:#999 0px 0px .5px;
	}


.header .top .right .nav_wrapper  .menu_title{
	display:block;
	margin-top:-5px;
	}
	}		
	
/*Banner*/

.header .banner_wrapper{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	position:relative;
	margin-top:-30px;
	z-index:5;
	}
	
@media(max-width:1010px){
.header .banner_wrapper{
	margin-top:0px;
}
}	
	
.header .banner_wrapper .banner_img{
	padding:0px 10px;
	display:block;
	overflow:hidden;
	position:relative;
	}
	
.header .banner_wrapper .banner_img	img{
	height:auto;
	min-height:150px;
	position:absolute;
	top:0px;
	left:10px;
	border:#010704 solid 3px;
	border-radius:10px 10px 0px 0px;
	}
	
.header .banner_wrapper .banner_bottom{
	float:left;
	display:inline;
	width:100%;
	height:100px;
	background: #F8F4F1; /* Old browsers */
	background: -moz-linear-gradient(top, #F8F4F1 0%, #E3DCD8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F4F1), color-stop(100%,#E3DCD8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F8F4F1 0%,#E3DCD8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F8F4F1 0%,#E3DCD8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F8F4F1 0%,#E3DCD8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F8F4F1 0%,#E3DCD8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F4F1', endColorstr='#E3DCD8',GradientType=0 ); /* IE6-9 */
	position:relative;
	border-bottom:#FFF solid 1px;
	margin-top:-10px;
	}

@media(max-width:650px){
.header .banner_wrapper .banner_bottom{
	height:50px;
}
}	
	

	
.header .banner_wrapper .banner_bottom .left_triangle {
	width: 0;
	height: 0;
	border-bottom: 10px solid #7D7C7C;
	border-left: 10px solid transparent;
	position:absolute;
	top:-9px;
	left:0px;
}


.header .banner_wrapper .banner_bottom .right_triangle {
	width: 0;
	height: 0;
	border-bottom: 10px solid #7D7C7C;
	border-right: 10px solid transparent;
	position:absolute;
	top:-9px;
	right:0px;
}


/*Service row*/
.service_row_wrapper{
	background: #F3EEEA; /* Old browsers */
	border-bottom:#FFF solid 1px;
	border-top:#FFF solid 1px;
	}
	
.service_row .title{
	float:left;
	display:inline;
	width:100%;
	height:60px;
	background:url(../images/branch_bg.png) center bottom no-repeat;
	text-align:center;
	}
	
.service_row .title h3{
	display:inline-block;
	width:auto;
	font-family:lobster_1;
	font-size:30px;
	font-weight:100;
	padding:5px 10px;
	background:#F3EEEA;
	line-height:60px;
	color:#999999;
	margin:0px;
	}	


.service_row .row{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	}
	
.service_row .row .box{
	float:left;
	display:inline;
	width:222px;
	height:127px;
	padding-bottom:8px;
	background:url(../images/box_shadow.png) bottom center no-repeat;
	position:relative;
	margin:0px 13px;
	}
.service_row .row .box img{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:127px;
	}
	
.service_row .row .box .caption{
	width:100%;
	height:30px;
	color:#FFF;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	position:absolute;
	left:0px;
	bottom:8px;
	background:url(../images/caption_bg.png);
	}
@media(max-width:1000px){
	.service_row .title{
		background:none;
	}
	}	
	
/*Content*/

.content_wrapper{
	background:#FFF;
	border-top:#eee solid 1px;
	}
	
.content_wrapper .start{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	padding-bottom:8px;
	background:url(../images/shadow.png) bottom center no-repeat;
	margin-top:30px;
	}
	
.content_wrapper .start h3{
	width:100%;
	height:40px;
	text-align:center;
	line-height:30px;
	background:url(../images/bd_1.png) left center repeat-x;
	}
	
.content_wrapper .start h3 span{
	display:inline-block;
	font-size:30px;
	color:#4C4C4C;
	font-family:lobster_1;
	padding:5px 20px;
	background:#fff;
	font-weight:100;
	
	}	
	
.content_wrapper .start p{
	padding:0px 10px;
	text-align:center;
	font-size:18px;
	line-height:30px;
	font-style:italic;
	}		
	
.content_wrapper .content_row{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	padding-bottom:40px;
	}
	
.content_wrapper .content_row .left{
	float:left;
	display:inline;
	width:680px;
	height:auto;
	margin-top:30px;
	}

.content_wrapper .content_row .left p{
	font-size:16px;
	color:#000;
	padding:0px 10px;
	}		


.content_wrapper .content_row .right{
	float:left;
	display:inline;
	width:300px;
	height:auto;
	margin-left:20px;
	margin-top:20px;
	}
	
.content_wrapper .content_row .right img{
	border-radius:10px;
	border:#383838 solid 3px;
	max-width:95%;
	}		
	
.content_wrapper .content_row .right h3{
	display:inline-block;
	font-size:25px;
	color:#4C4C4C;
	font-family:lobster_1;
	background:#fff;
	font-weight:100;
	
	}
	
@media(max-width:1010px){
	.content_wrapper .content_row .left,
	.content_wrapper .content_row .right{
		width:100%;
		text-align:center;
		}
		
	.content_wrapper .content_row .right{
		margin:10px 0px;
		}	
			
	
	}	
	
	
/*Contact*/

#contact_form{
	float:left;
	display:block;
	width:100%;
	}
	
#contact_form p{
	float:left;
	display:block;
	width:90%;
	padding:0px 5%;
	color:#000;
	font-size:14px;
	margin:5px 0px;
	}
	
#contact_form p sup{
	color:#F00;
	}
	
#contact_form input,
#contact_form textarea{
	padding:5px 10px;
	width:100%;
	max-width:200px;
	color:#000;
	text-align:left;
	background:none;
	border:#000 solid 1px !important;
	border-right:5px;
	}
			
#contact_form textarea{
	height:150px;
}

#contact_form .send_btn{
	background:#000;
	color:#FFF;
	cursor:pointer;
	width:auto;
	text-align:center;
	}



			

	
/*footer*/

.footer_wrapper{
	background: #004484; /* Old browsers */
	background: -moz-linear-gradient(top, #004484 0%, #001E3A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004484), color-stop(100%,#001E3A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #004484 0%,#001E3A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #004484 0%,#001E3A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #004484 0%,#001E3A 100%); /* IE10+ */
	background: linear-gradient(to bottom, #004484 0%,#001E3A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004484', endColorstr='#001E3A',GradientType=0 ); /* IE6-9 */
	}
	
.footer_wrapper .footer{
	background:#04274A;
	overflow-x:hidden;
	}
	
.footer_wrapper .footer .section_1{
	float:left;
	display:inline;
	width:170px;
	padding:10px 15px;
	background: #15497B; /* Old browsers */
	background: -moz-linear-gradient(left, #0B3660 0%, #052A4F 50%, #0B3660 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0B3660), color-stop(50%,#052A4F), color-stop(100%,#0B3660)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* IE10+ */
	background: linear-gradient(to right, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0B3660', endColorstr='#0B3660',GradientType=1 ); /* IE6-9 */
	height:219px;
	}
	
.footer_wrapper .footer .section_2{
	float:left;
	display:inline;
	width:560px;
	height:auto;
	border-right:#002B54 solid 1px;
	border-left:#002B54 solid 1px;
	background: #15497B; /* Old browsers */
	background: -moz-linear-gradient(left, #0B3660 0%, #052A4F 50%, #0B3660 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0B3660), color-stop(50%,#052A4F), color-stop(100%,#0B3660)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* IE10+ */
	background: linear-gradient(to right, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0B3660', endColorstr='#0B3660',GradientType=1 ); /* IE6-9 */
	height:239px;
	
	}
	
.footer_wrapper .footer .section_2 .col{
	float:left;
	display:inline;
	width:166px;
	padding:0px 10px;
	}		
	
.footer_wrapper .footer h3{
	color:#FFF;
	font-size:18px;
	margin-bottom:10px;
	font-weight:100;
	
	}
	
.footer_wrapper .footer .section_2 h3{
	padding:10px 10px 0px 10px;
	
	}	
	
.footer_wrapper .footer ul{
	margin:0px;
	padding:0px;
	}
	
.footer_wrapper .footer ul li a{
	color:#FFF;
	font-size:13px;
	line-height:24px;
	text-transform:capitalize;
	font-weight:100;
	}							
.footer_wrapper .footer .section_3{
	float:left;
	display:inline;
	width:208px;
	padding:10px 15px;
	background: #15497B; /* Old browsers */
	background: -moz-linear-gradient(left, #0B3660 0%, #052A4F 50%, #0B3660 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0B3660), color-stop(50%,#052A4F), color-stop(100%,#0B3660)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* IE10+ */
	background: linear-gradient(to right, #0B3660 0%,#052A4F 50%,#0B3660 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0B3660', endColorstr='#0B3660',GradientType=1 ); /* IE6-9 */
	height:219px;
	}
	
.footer_wrapper .footer .social_area{
	float:left;
	display:inline;
	width:100%;
	height:auto;
	margin-bottom:10px;
	}

.footer_wrapper .footer .social_area p{
	display:inline-block;
	width:auto;
	}	
.footer_wrapper .footer .social_area a{
	float:left;
	display:block;
	width:31px;
	height:31px;
	cursor:pointer;
	margin:0px 5px;
	}			
	
.footer_wrapper .footer .social_area a.fb{
	background:url(../images/social.png) 0px 0px;
	}	
			
.footer_wrapper .footer .social_area a.tw{
	background:url(../images/social.png) right 0px;
	}		
	
#newsletter_form{
	float:left;
	display:inline-block;
	width:207px;
	height:auto;
	}

#newsletter_form p{
	float:left;
	display:block;
	width:100%;
	}	
	
#newsletter_form input{
	float:left;
	display:block;
	width:187px;
	padding:5px 10px;
	color:#000;
	}		
	
#newsletter_form button{
	border:none;
	background:none;
	padding:0px;
	margin-left:-3px;
	cursor:pointer;
	margin-top:10px;
	}
	
@media(max-width:1010px){
	.footer_wrapper .footer .section_1,
	.footer_wrapper .footer .section_2,
	.footer_wrapper .footer .section_3{
		width:100%;
		border-right:none;
		border-bottom:#002B54 solid 1px;;
		height:auto;
		padding:10px 0px;
		}
		
		.footer_wrapper .footer .section_1 ul,
		.footer_wrapper .footer .section_1 h3,
		.footer_wrapper .footer .section_3 h3
		{
			padding-left:10px;
			}
			
		.footer_wrapper .footer .section_3 h3{
			float:left;
			display:block;
			padding-left:10px;
			width:85%;
			}	
		.footer_wrapper .footer .section_3 .social_area{
			width:auto;
			display:block;
			padding-left:10px;
			clear:both;
			}
			
		#newsletter_form{
			float:left;
			display:block;
			padding-left:10px;		
			}
			
		.divider{
			float:left;
			display:block;
			width:100%;
			}		
	
		
	.footer_wrapper .footer .section_2 .col{
		width:30%;
	}
	}	

@media(max-width:620px){
	.footer_wrapper .footer .section_2 .col{
		width:100%;
	}
	
	.footer_wrapper .footer *{
		text-align:center;
		padding-left:0px;
		padding-right:0px;
		}
		
	.footer_wrapper .footer .section_3 h3,
	.footer_wrapper .footer .social_area,
	.footer_wrapper .footer #newsletter_form{
		width:100%;
		}	
		
	.footer_wrapper .footer #newsletter_form input{
		float:none !important;
		margin:0 auto;
		}	
	.footer_wrapper .footer .social_area{
		float:left;
		width:100% !important;
		text-align:center;
		}
	.footer_wrapper .footer .social_area p{
		display:inline-table !important;
		margin:0 auto !important;
		}		
}

.bottom_wrapper{
	background: #45484C; /* Old browsers */
	background: -moz-linear-gradient(top, #45484C 0%, #020202 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484C), color-stop(100%,#020202)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484C 0%,#020202 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484C 0%,#020202 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484C 0%,#020202 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484C 0%,#020202 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484C', endColorstr='#020202',GradientType=0 ); /* IE6-9 */
	}
	


.bottom_wrapper bottom{
	text-align:center;
	height:auto;
	}
	
.bottom_wrapper .bottom p{
	float:left;
	display:block;
	width:90%;
	text-align:center;
	line-height:30px;
	padding:10px 5%;
	color:#FFF;
	font-size:16px;
	}										