/*Resets*/

* {
	margin: 0;
	padding: 0;
	direction: rtl;
}
body {
	color: #26292A;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 320px;
	overflow-x: hidden;
	background: #FFF;
}
.font_arial {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/*common classes*/

.wrapper {
	float: left;
	display: block;
	width: 100%;
	height: auto;
}
.center {
	padding: 0px 1%;
	width: 98%;
	max-width: 1024px;
	margin: 0 auto;
	overflow-y: visible;
}
.black {
	color: #000;
}
.white {
	color: #fff;
}
.deep_gray {
	color: #414141;
}
.gray {
	color: #5c5c5c;
}
.green {
	color: #519b2a;
}
.blue {
	color: #71C3DA;
}
.normal {
	font-weight: normal;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.f_13 {
	font-size: 13px;
}
.f_14 {
	font-size: 14px;
}
.f_16 {
	font-size: 16px;
}
.f_18 {
	font-size: 18px;
}
.f_24 {
	font-size: 24px;
}
.f_36 {
	font-size: 36px;
}
.f_48 {
	font-size: 48px;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.no-float {
	float: none;
}
.push-center {
	text-align: center;
}
.push-right {
	text-align: right;
}
.push-left {
	text-align: left;
}
.pull-center {
	margin-left: auto;
	margin-right: auto;
}
.bg_white {
	background-color: #fff;
}
.bg_green {
	background-color: #72b250;
}
.pt_5 {
	padding-top: 5px;
}
.pt_10 {
	padding-top: 10px;
}
.pt_15 {
	padding-top: 15px;
}
.pb_5 {
	padding-bottom: 5px;
}
.pb_10 {
	padding-bottom: 10px;
}
.pb_15 {
	padding-bottom: 15px;
}
.pl_5 {
	padding-left: 5px;
}
.pl_10 {
	padding-left: 10px;
}
.pl_15 {
	padding-left: 15px;
}
.pr_5 {
	padding-right: 5px;
}
.pr_10 {
	padding-right: 10px;
}
.pr_15 {
	padding-right: 15px;
}
.pa_5 {
	padding: 5px;
}
.pa_10 {
	padding: 10px;
}
.pa_15 {
	padding: 15px;
}
.mt_5 {
	margin-top: 5px;
}
.mt_10 {
	margin-top: 10px;
}
.mt_15 {
	margin-top: 15px;
}
.mb_5 {
	margin-bottom: 5px;
}
.mb_10 {
	margin-bottom: 10px;
}
.mb_15 {
	margin-bottom: 15px;
}
.ml_5 {
	margin-left: 5px;
}
.ml_10 {
	margin-left: 10px;
}
.ml_15 {
	margin-left: 15px;
}
.mr_5 {
	margin-right: 5px;
}
.mr_10 {
	margin-right: 10px;
}
.mr_15 {
	margin-right: 15px;
}
.pa_5 {
	padding: 5px;
}
.pa_10 {
	padding: 10px;
}
.pa_15 {
	padding: 15px;
}
.row {
	float: left;
	display: block;
	width: 100%;
}
img {
	border: none;
	max-width: 100%;
	display: block;
}
/*navigation*/

.navigation ul {
	float: right;
	display: inline-block;
	list-style: none;
}
.navigation ul li {
	float: right;
	display: inline-block;
	list-style: none;
	margin: 4px 3px;
	padding: 0px 13px 0px 13px;
	height: 40px;
	background: #dddddd;
	border-radius: 5px;
	position: relative;
}
#menu_title {
	display: none;
	list-style: none;
	margin: 4px 0px;
	padding: 0px 14px;
	height: 40px;
	background: #dddddd;
	border-radius: 5px;
	position: relative;
	color: #333333;
	text-align: center;
	line-height: 40px;
	font-weight: 100;
	cursor: pointer;
}
.navigation ul li a {
	color: #333333;
	font-size: 14px;
	display: inline-block;
	min-height: 40px;
	line-height: 40px;
}
.navigation ul li:hover, .navigation ul li.current-menu-item, .navigation ul li.current-menu-parent, #menu_title:hover {
	background: #72b250;
}
.navigation ul li:hover a, .navigation ul li.current-menu-item a, .navigation ul li.current-menu-parent a {
	background: url(../img/hover_graphics.png) bottom center no-repeat;
	color: #FFF;
}
@media(max-width:1034px) {
#menu_title {
	display: block;
}
.navigation ul {
	float: left;
	text-align: left;
	width: 100%;
	display: none;
}
.navigation ul li {
	float: none;
	display: block;
	margin: 2px 0px;
	padding: 0px 10px;
}
.navigation ul li a {
	display: block;
}
.navigation ul li:hover a, .navigation ul li.current-menu-item a, .navigation ul li.current-menu-parent a {
	background: none;
}
}


/*
mid graphic
*/

.mid_graphic{
	min-height:265px;
	background:url(../img/top_graphics.png) center top repeat-y;
	}

.mid_graphic h1{
	font-family: 'Pacifico', cursive;
	font-size:48px;
	margin-top:40px;
	text-align:left;
	line-height:60px;
	}
	
.mid_graphic .left,
.mid_graphic .right{
	display:inline-block;
	width:48%;
	margin:10px 1%;
	}	

@media(max-width:767px){
.hidden-tab{
	display:none;
	}	
.mid_graphic .left,
.mid_graphic .right{
	width:98%;
	margin:0px 1%;
	text-align:center;
	}	
.mid_graphic h1{
	margin:20px auto 40px auto;
	text-align:center;
	}
	
.mid_graphic img{
	margin:0 auto;
	}		
	}
	
	

/*container*/
.container {
	margin-top: -30px;
}
.page_slogan {
	max-width: 800px;
	padding: 0px 10px;
}
.page_sub_slogan {
	max-width: 750px;
	padding: 0px 35px;
	margin-top: 10px;
}
.form_1 {
	max-width: 520px;
	margin: 10px auto;
	display: block;
	margin-top: 30px;
}
.form_1 .form_block {
	float: left;
	display: inline-block;
	width: 48%;
	margin: 5px 1%;
}
.form_1 .form_block input {
	display: block;
	width: 94%;
	padding: 5px 2%;
	min-height: 24px;
	border: #D4D4D4 solid 1px;
	border-radius: 4px;
	color: #666;
	line-height:24px;
	-moz-box-shadow: 1px 4px 6px #D4D4D4 inset;
	-webkit-box-shadow: 1px 4px 6px #D4D4D4 inset;
	box-shadow: 1px 4px 6px #D4D4D4 inset;
}
.form_1 .form_block button {
	margin: 25px auto 0px auto;
	cursor: pointer;
	border-radius: 6px;
	padding: 8px;
	color: #FFF;
	font-size: 18px;
	min-width: 160px;
}
.form_1 .form_block button.btn_1 {
	background: rgb(95,95,95); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(34,34,34,1) 49%, rgba(0,0,0,1) 51%, rgba(95,95,95,1) 100%, rgba(95,95,95,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(95,95,95,1)), color-stop(49%, rgba(34,34,34,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(100%, rgba(95,95,95,1)), color-stop(100%, rgba(95,95,95,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(34,34,34,1) 49%, rgba(0,0,0,1) 51%, rgba(95,95,95,1) 100%, rgba(95,95,95,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(34,34,34,1) 49%, rgba(0,0,0,1) 51%, rgba(95,95,95,1) 100%, rgba(95,95,95,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(34,34,34,1) 49%, rgba(0,0,0,1) 51%, rgba(95,95,95,1) 100%, rgba(95,95,95,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(95,95,95,1) 0%, rgba(34,34,34,1) 49%, rgba(0,0,0,1) 51%, rgba(95,95,95,1) 100%, rgba(95,95,95,1) 100%); /* W3C */
	border: #000 solid 2px;
}
.form_1 .form_block button.btn_1:hover {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,72,77,1)), color-stop(100%, rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* W3C */
}
.form_1 .form_block button.btn_2 {
	background: rgb(187,246,156); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(187,246,156,1) 0%, rgba(98,169,60,1) 50%, rgba(77,146,40,1) 51%, rgba(187,246,156,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(187,246,156,1)), color-stop(50%, rgba(98,169,60,1)), color-stop(51%, rgba(77,146,40,1)), color-stop(100%, rgba(187,246,156,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(187,246,156,1) 0%, rgba(98,169,60,1) 50%, rgba(77,146,40,1) 51%, rgba(187,246,156,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(187,246,156,1) 0%, rgba(98,169,60,1) 50%, rgba(77,146,40,1) 51%, rgba(187,246,156,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(187,246,156,1) 0%, rgba(98,169,60,1) 50%, rgba(77,146,40,1) 51%, rgba(187,246,156,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(187,246,156,1) 0%, rgba(98,169,60,1) 50%, rgba(77,146,40,1) 51%, rgba(187,246,156,1) 100%); /* W3C */
	border: #4D9228 solid 2px;
}
.form_1 .form_block button.btn_2:hover {
	background: rgb(183,242,151); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(183,242,151,1) 0%, rgba(86,157,48,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(183,242,151,1)), color-stop(100%, rgba(86,157,48,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(183,242,151,1) 0%, rgba(86,157,48,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(183,242,151,1) 0%, rgba(86,157,48,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(183,242,151,1) 0%, rgba(86,157,48,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(183,242,151,1) 0%, rgba(86,157,48,1) 100%); /* W3C */
}
 @media(max-width:480px) {
.form_1 .form_block {
	width: 98%;
	margin: 5px 1%;
}
}
/*Error msg*/

.error_msg_outer {
	padding: 10px;
	background: rgb(247,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(247,0,0,1) 0%, rgba(217,0,0,1) 50%, rgba(252,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247,0,0,1)), color-stop(50%, rgba(217,0,0,1)), color-stop(100%, rgba(252,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,0,0,1) 0%, rgba(217,0,0,1) 50%, rgba(252,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,0,0,1) 0%, rgba(217,0,0,1) 50%, rgba(252,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,0,0,1) 0%, rgba(217,0,0,1) 50%, rgba(252,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,0,0,1) 0%, rgba(217,0,0,1) 50%, rgba(252,0,0,1) 100%); /* W3C */
	border: #900 solid 1px;
	border-radius: 5px;
	position: relative;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
.error_msg_outer .close {
	position: absolute;
	width: 22px;
	height: 22px;
	cursor: pointer;
	top: -11px;
	left: -11px;
}
 @media(max-width:767px) {
.error_msg_outer .close {
	left: 0;
}
}
/*Footer*/

.footer {
	background: url(../img/footer_bg.png);
	padding: 20px 0;
}
.footer_navigation ul {
	float: left;
	display: inline-block;
	list-style: none;
}
.footer_navigation ul li {
	display: inline-block;
	list-style: none;
	margin: 4px 0px;
	height: 40px;
	position: relative;
}
.footer_navigation ul li:before {
	content: "-";
	color: #FFF;
	line-height: 40px;
	margin: 4px 8px;
}
.footer_navigation ul li:first-child:before {
	display: none;
}
.footer_navigation ul li a {
	color: #fff;
	font-size: 16px;
	display: inline-block;
	min-height: 40px;
	line-height: 40px;
}
.footer_navigation ul li:hover a {
	text-decoration: underline;
}
.footer_text_1 {
	margin-top: 40px;
}
 @media(max-width:767px) {
.footer_navigation ul {
	float: left;
	display: inline-block;
	list-style: none;
}
.footer_navigation ul li {
	height: auto;
	margin: 4px;
}
.footer_navigation ul li:before {
	display: none;
}
.footer_navigation ul li a {
	min-height: 10px;
	line-height: 20px;
}
.footer_left, .footer_right {
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}
.footer_right img {
	margin: 0 auto;
}
}
.visitor_count {
	display: inline-block;
	padding: 3px 15px;
	border-radius: 5px;
}
