/*Font family*/
@font-face {
	font-family: 'verdanaregular';
	src: url('verdana-webfont.eot');
	src: url('verdana-webfont.eot?#iefix') format('embedded-opentype'), url('verdana-webfont.woff') format('woff'), url('verdana-webfont.ttf') format('truetype'), url('verdana-webfont.svg#verdanaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'verdanabold';
	src: url('verdanab-webfont.eot');
	src: url('verdanab-webfont.eot?#iefix') format('embedded-opentype'), url('verdanab-webfont.woff') format('woff'), url('verdanab-webfont.ttf') format('truetype'), url('verdanab-webfont.svg#verdanabold') format('svg');
	font-weight: normal;
	font-style: normal;
}


*{
	margin:0;
	padding:0;
	font-family: 'verdanaregular';

	}
	
body{
	min-width:320px;
	overflow-x:hidden;
	background:url(../img/bg_main.jpg);
	}
	
a{
	text-decoration:none;
	}
	
ul,li{
	list-style:none;
	}
	
img{
	border:none;
	}
	
	
	
/*General styles*/

.wrapper{
	float:left;
	display:block;
	width:100%;
	}
	
.center{
	max-width:960px;
	margin:0 auto;
	}
	
@media(max-width:960px){
.center{
	max-width:960px;
	}
	
}		


	
	
/*Top bar*/

.topbar{
	min-height:40px;
	background:#4179ac;
	}
	
.topbar_container{
	padding:3px 0px;
	}
	
.topbar_logo{
	float:left;
	display:inline-block;
	}
	
.topbar_logo a{
	display:inline-block;
	padding-left:50px;
	min-height:25px;
	font-family: 'verdanaregular';
	background:url(../img/home_icon.png) left center no-repeat;
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
		
	}
	
.topbar ul{
	float:right;
	display:inline-block;
	margin-right:5px;
	}
	
.topbar ul li{
	float:left;
	display:inline;
	margin-left:40px;
	}
	
.topbar ul li a{
	display:inline-block;
	min-height:25px;
	font-family: 'verdanaregular';
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
	}
	
.topbar a:hover{
	text-decoration:underline;
	}

@media(max-width:767px){
	.topbar_logo{
		width:100%;
		text-align:center;
		}
	.topbar_container{
		text-align:center;
		}
		
	.topbar_container ul{
		float:none;
		}
	}
/*Manage list page*/

.top_category_header{
	overflow:auto;
	min-height:233px;
	padding:0px 25px;
	background:url(../img/header_bg.png) center top repeat-y;
	}
	
.top_category_header .left{
	float:left;
	display:inline-block;
	width:640px;
	}	


.top_category_header .right{
	float:right;
	display:inline-block;
	width:252px;
	}
	
.top_category_header .right .frame{
	display:block;
	width:184px;
	height:184px;
	background:url(../img/frame.png) no-repeat;
	padding: 38px 41px 38px 27px;
	position:relative;
	z-index:10;
	}
	
.top_category_header .right .frame > img{
	width:184px;
	height:184px;
	transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-ms-transform:rotate(4deg);
	}			
	
.top_category_header .right .frame .date{
	float:right;
	width:90px;
	height:26px;
	background:#fff;
	position:absolute;
	color:#000;
	font-size:10px;
	top:190px;
	right:38px;
	line-height:26px;
	transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	}

.top_category_header .right .frame a.change_pic{
	color:#5b9bd5;
	font-size:10px;
	padding:3px;
	border:#5b9bd5 solid 1px;
	background:#fff;
	position:absolute;
	top:100px;
	left:-20px;
	text-decoration:underline;
	display:none;
	}
	
.top_category_header .right .frame:hover a.change_pic{
	display:inline-block;
	
	}	
	
.top_category_header .right .frame .date img{
	width:auto;
	height:auto;
	float:left;
	}
	
.top_category_header .left .top_row{
	float:left;
	display:block;
	margin-bottom:10px;
	margin-top:20px;
	}
	
.top_category_header .left .top_row .thumb{
	float:left;
	display:inline-block;
	width:85px;
	height:80px;
	}				
.top_category_header .left .top_row .text{
	float:left;
	display:inline-block;
	}
	
.top_category_header .left .top_row .text h2{
	color:#000;
	font-size:24px;
	line-height:24px;
	display:inline-block;
	font-family: 'verdanabold';
	font-weight:100;

	}
	
.top_category_header .left .top_row .text p{
	color:#4179ac;
	font-size:14px;
	font-family: 'verdanabold';
	margin-top:5px;
	}		
.top_category_header .left .row{
	margin-bottom:10px;
	float:left;
	}

.top_category_header .left .row ul.tag{
	float:left;
	display:block;
	}
	
.top_category_header .left .row ul.tag li{
	float:left;
	display:inline-block;
	border:#dedede solid 1px;
	box-shadow:#ddd 0px 0px 3px inset;
	border-radius:10px;
	padding:5px;
	margin:5px 10px 5px 0px; 
	}
	
.top_category_header .left .row ul.tag li a{
	color:#5b9bd5;
	font-size:14px;
	font-weight:bold;	
	}
	
.top_category_header .left .row ul.tag li:hover a{
	text-decoration:underline;
	}			

.top_category_header .left .row p.status{
	color:#5B9BD5;
	font-size:13px;
	margin-top:15px;
	font-weight:bold;
	float:left;
	line-height:20px;
	text-transform:uppercase;
	}
	
	
.top_category_container{
	overflow:auto;
	overflow-x:hidden;
	min-height:233px;
	padding:0px 25px;
	background:#fff;
	margin-top:-30px;
	z-index:2;
	position:relative;
	}
	
				
.top_category_container .search_row{
	float:left;
	width:100%;
	margin:30px 0 20px 0;
	}
	
.top_category_container .search_container{
	padding:5px 53px 5px 5px;
	position:relative;
	border:#aed5f8 solid 1px;
	height:34px;
	}
	
.top_category_container .search_container input{
	width:100%;
	height:34px;
	border:none;
	line-height:34px;
  color: #5297D5;
   opacity:1;
   font-size:16px;
	}
	
.top_category_container .search_container ::-webkit-input-placeholder {
   color: #aaa;
   opacity:1;
   font-size:16px;
}

.top_category_container .search_container :-moz-placeholder { /* Firefox 18- */
   color: #aaa;
   opacity:1;
   font-size:16px;
}

.top_category_container .search_container ::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
   opacity:1;
   font-size:16px;
}

.top_category_container .search_container :-ms-input-placeholder {  
   color: #aaa;
   opacity:1;
   font-size:16px;
}
	
.top_category_container .search_container button{
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
	width:53px;
	height:44px;
	background:#4179ac;
	border:none;
	text-align:center;
	}		
	
		

.top_category_container .slider_row{
	float:left;
	width:100%;
	margin:5px 0;
	}
	
.top_category_container .slider_row .slider_container{
	height:164px;
	padding:20px;
	background:url(../img/slider_bg.png) center top no-repeat;
	}
	
.top_category_container .slider_row .text_block{
	float:left;
	width:180px;
	height:auto;
	display:inline-block;
	}
	
.top_category_container .slider_row .text_block h3{
		font-family: 'verdanabold';
		font-size:24px;
		color:#FFF;
		text-shadow:#5f83a8 3px 0px 3px;
		padding-top:30px;
	}	
	
.top_category_container .slider_row .slider_blcok{
	display:block;
	padding:0px 36px;
	height:164px;
	position:relative;	
	width:585px;
	float:left;
	margin-left:10px;
	overflow:hidden;
	}
	
.top_category_container .slider_row .slider_blcok .inner{
	width:100%;
	height:164px;
	overflow:hidden;
	}	
	
.top_category_container .slider_row .slider{
	height:154px;
	}	
	
.top_category_container .slider_row .slider a{
	float:left;
	display:inline-block;
	width:140px;
	height:140px;
	text-align:center;
	line-height:140px;
	background:#FFF;
	border-radius:5px;
	margin:10px 5px;
	
	}	
	
.top_category_container .slider_row .slider_la{
	width:32px;
	height:164px;
	position:absolute;
	left:0;
	top:0;
	background:url(../img/arrow_left_off.png) center center no-repeat;
	cursor:pointer;
	}	

.top_category_container .slider_row .slider_ra{
	width:32px;
	height:164px;
	position:absolute;
	right:0;
	top:0;
	background:url(../img/arrow_right_off.png) center center no-repeat;
	cursor:pointer;
	}	

.top_category_container .slider_row .slider_ra:hover{
	background:url(../img/arrow_right_on.png) center center no-repeat;
	}			

.top_category_container .slider_row .slider_la:hover{
	background:url(../img/arrow_left_on.png) center center no-repeat;
	}			
	

.category_con{
	float:left;
	display:block;
	margin-left:-10px;
	}
	
.category_con .category{
	float:left;
	display:inline;
	width:212.5px;
	height:212.5px;
	position:relative;
	margin:10px;
	}
	
.category_con .category img{
	width:212.5px;
	height:212.5px;
	}	
	
.category_con .category p{
	position:absolute;
	bottom:0;
	left:0;
	width:80%;
	background:url(../img/overlay_bg_3.png);
	color:#006cb5;
	font-size:16px;
	font-weight:bold;
	padding:5px 10%;
	}	
@media(max-width:960px){
.top_category_header .left{
	float:left;
	display:inline-block;
	width:450px;
	}	


.top_category_header .right{
	float:right;
	display:inline-block;
	width:252px;
	}
	
.top_category_header .left .row p.status{
	margin-top:0;
	font-size:13px;
	line-height:16px;
	}	

.top_category_container .slider_row .slider_container{
	padding:5px;
	height:194px;
	}	
	
.top_category_container .slider_row .text_block{
	width:100%;
	margin-bottom:5px;
	}
	
.top_category_container .slider_row .text_block h3{
		padding-top:0px;
		text-align:center;
	}	

.category_con{
	text-align:justify;
	}
	
.category_con .category{
	float:none;
	display:inline-block;
	}
	
.category_con:after {
	content: "";
	width: 100%;
	display: inline-block;
    }	

	
}

@media(max-width:767px){
.top_category_header .right,
.top_category_header .left{
	width:100%;
	}
	
.top_category_header .right .frame{
	margin:0px auto;
	}
	
	.top_category_container .slider_row .text_block h3{
		font-size:18px;
		line-height:20px;
		}

.category_con{
	text-align:center;
	}

}

		
/*Footer*/	
.footer{
	min-height:26px;
	background:#4179ac;
	position:relative;
	margin-top:-13px;
	}										

	

	
/* Dropdown control */
.selectBox-dropdown {
	float:right;
	position: relative;
    text-align: left;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
	float:right;
	border:#ccc solid 1px;
	width:98% !important;
	padding:5px 1%;
	min-height:20px;
	line-height:20px;
	font-size:16px;
	color:#4179AC;
	font-family: 'verdanaregular';
	font-weight:bold;
	background:#fff;
	border-radius:5px;
	box-shadow:#CCC 0px 0px 5px;
}
/*
.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666;
}
*/
.selectBox-dropdown.selectBox-menuShowing-bottom {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectBox-dropdown.selectBox-menuShowing-top {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
    display: inline-block;
    white-space: nowrap;
	font-size:14px;
	text-align:center;
	width:120px !important;
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 100%;
    background: url(../img/down_arrow.png) 50% center no-repeat;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
    background: #FFF;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}

.selectBox-options.selectBox-options-top{
    border-bottom:none;
	margin-top:1px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.selectBox-options.selectBox-options-bottom{
	border-top:none;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selectBox-options LI A {
    line-height: 1.5;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
}

.selectBox-options LI.selectBox-hover A {
    background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
    color: #888;
    background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
    background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
    color: #666;
    background: #EEE;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity=50);
    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}

@media(max-width:767px){
	.selectBox-dropdown,
	.selectBox-dropdown .selectBox-label{
		width:98% !important;		
	}
	
			
	}			
	