*{
	margin:0;
	padding:0;
	}
	
body{
	min-width:320px;
	overflow-x:hidden;
	background:url(../img/bg_main.jpg);
	}
	
a{
	text-decoration:none;
	}
	
ul,li{
	list-style:none;
	}
	
img{
	border:none;
	}
	
/*Font family*/
@font-face {
	font-family: 'verdanaregular';
	src: url('verdana-webfont.eot');
	src: url('verdana-webfont.eot?#iefix') format('embedded-opentype'), url('verdana-webfont.woff') format('woff'), url('verdana-webfont.ttf') format('truetype'), url('verdana-webfont.svg#verdanaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'verdanabold';
	src: url('verdanab-webfont.eot');
	src: url('verdanab-webfont.eot?#iefix') format('embedded-opentype'), url('verdanab-webfont.woff') format('woff'), url('verdanab-webfont.ttf') format('truetype'), url('verdanab-webfont.svg#verdanabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
	
/*General styles*/

.wrapper{
	float:left;
	display:block;
	width:100%;
	}
	
.center{
	max-width:1024px;
	margin:0 auto;
	}
	
/*Top bar*/

.topbar{
	min-height:45px;
	background:#4179ac;
	}
	
.topbar_container{
	padding:6px 12px;
	}
	
.topbar_logo{
	float:left;
	display:inline-block;
	}
	
.topbar_logo a{
	display:inline-block;
	padding-left:40px;
	min-height:25px;
	font-family: 'verdanaregular';
	background:url(../img/home_icon.png) left center no-repeat;
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
		
	}
	
.topbar ul{
	float:right;
	display:inline-block;
	}
	
.topbar ul li{
	float:left;
	display:inline;
	margin-left:20px;
	}
	
.topbar ul li a{
	display:inline-block;
	min-height:25px;
	font-family: 'verdanaregular';
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
	}
	
.topbar a:hover{
	text-decoration:underline;
	}

/*Login page*/
.login_page{
	background:url(../img/bg_1.jpg) center top no-repeat;
	}
.ikea_logo{
	display:inline-block;
	margin-top:105px;
	margin-left:96px;
	margin-bottom:100px;
	}
	
.login_container{
	float:left;
	display:block;
	width:100%;
	margin-bottom:70px;
	}
	
.login_container .inner{
	display:block;
	padding:12px;
	background:#5889b5;
	overflow:auto;
	}
	
.inner .block{
	float:left;
	display:inline-block;
	width:50%;
	min-height:460px;
	height:auto;
	background:#dae3e4;
	position:relative;
	}
	
.inner .block .overlay{
	background:url(../img/overlay_bg.png);
	float:left;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	}
	
.inner .inactive .overlay{
	display:block;
	}		
	
.inner .block .title{
	text-align:center;
	font-size:14px;
	color:#03216c;
	font-family: 'verdanaregular';
	font-weight:100;
	padding:10px 0 20px 0;
	}
	
.inner .block .title a{
	font-size:20px;
	font-family: 'verdanabold';
	color:#222;
	}
	
.inner .form{
	float:left;
	display:block;
	width:80%;
	margin:10px 10%;
	}
	
.inner .fb_connect{
	display:block;
	padding:10px;
	background:#205efa;
	text-align:center;
	}
	
.inner .fb_connect:hover{
	background:#2e69fb;
	}
	
	
.inner .fb_connect a{
	display:inline-block;
	padding-left:30px;
	min-height:22px;
	background:url(../img/fb_connect.png) center left no-repeat;
	color:#fff;
	font-size:14px;
	font-family: 'verdanaregular';
	
	}									
				
.form .or{
	margin:10px 0 30px;
	font-size:16px;
	color:#03216c;
	text-align:center;
	font-style:italic;
	font-family: 'verdanaregular';
	font-weight:bold;
	}
	
.form .row{
	display:block;
	margin:15px 0px;
	overflow:hidden;
	}
	
.form .row .lable{
	float:left;
	display:inline-block;
	width:39%;
	font-size:14px;
	color:#036cb6;
	font-family: 'verdanaregular';
	padding:4px 1% 0 0;
	min-height:30px;
	line-height:30px;
	}
	
.form .row input{
	float:right;
	display:inline-block;
	border:#5889B5 solid 1px;
	padding:5px 1%;
	width:57%;
	min-height:25px;
	line-height:25px;
	font-size:16px;
	color:#4179AC;
	font-family: 'verdanaregular';
	}				
	
.form button{
	display:block;
	width:100%;
	background:#ffdf1b;
	text-align:center;
	font-size:24px;
	font-family: 'verdanabold';
	border:none;
	color:#036cb6;
	padding:5px 0;
	margin:30px 0;
	}
	
	
.inactive .form button{
	background:#205efa;
	color:#fff;
	}	
	
.form .forgot_pass{
	font-size:14px;
	color:#036cb6;
	font-family: 'verdanaregular';
	text-decoration:underline;
	float:right;
	}		

@media(max-width:979px){
	.inner .block{
		width:100%;
		}
	}
	
@media(max-width:767px){
	.topbar_container{
		text-align:center;
		}
		
	.topbar_container ul{
		float:none;
		}
		
	.ikea_logo{
		margin:30px auto;
		}		
	.topbar_logo{
		width:100%;
		}
	.form .row .lable{
		width:99%;
		padding-bottom:5px;
		}
	.form .row input{
		width:97%;
		float:left;
		}	
	}	

/*Footer*/	
.footer{
	min-height:200px;
	background:#4179ac;
	}										
	
@media(max-width:767px){
	.footer{
		min-height:50px;
		}										
	
	}	
	