/*Font family*/
@font-face {
	font-family: 'verdanaregular';
	src: url('verdana-webfont.eot');
	src: url('verdana-webfont.eot?#iefix') format('embedded-opentype'), url('verdana-webfont.woff') format('woff'), url('verdana-webfont.ttf') format('truetype'), url('verdana-webfont.svg#verdanaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'verdanabold';
	src: url('verdanab-webfont.eot');
	src: url('verdanab-webfont.eot?#iefix') format('embedded-opentype'), url('verdanab-webfont.woff') format('woff'), url('verdanab-webfont.ttf') format('truetype'), url('verdanab-webfont.svg#verdanabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
	

*{
	margin:0;
	padding:0;
	font-family: 'verdanaregular';

	}
	
body{
	min-width:320px;
	overflow-x:hidden;
	background:url(../img/bg_main.jpg);
	}
	
a{
	text-decoration:none;
	}
	
ul,li{
	list-style:none;
	}
	
img{
	border:none;
	}
	
	
/*General styles*/

.wrapper{
	float:left;
	display:block;
	width:100%;
	}
	
.center{
	max-width:960px;
	margin:0 auto;
	}
	
.center_2{
	padding:0px 25px;
	max-width:910px;
	}
	
@media(max-width:960px){
.center_2,
.center{
	max-width:960px;
	padding:0px 10px;
	}
	
}		

@media(max-width:480px){
.center_2{
	padding:0px;
	}
	
}		

	
/*Top bar*/

.topbar{
	min-height:40px;
	background:#4179ac;
	}
	
.topbar_container{
	padding:3px 0px;
	}
	
.topbar_logo{
	float:left;
	display:inline-block;
	}
	
.topbar_logo a{
	display:inline-block;
	padding-left:50px;
	min-height:25px;
	font-family: 'verdanaregular';
	background:url(../img/home_icon.png) left center no-repeat;
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
		
	}
	
.topbar ul{
	float:right;
	display:inline-block;
	}
	
.topbar ul li{
	float:left;
	display:inline;
	margin-left:40px;
	}
	
.topbar ul li a{
	display:inline-block;
	min-height:25px;
	font-family: 'verdanaregular';
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
	}
	
.topbar a:hover{
	text-decoration:underline;
	}

/*Login page*/
.login_page{
	position:relative;
	z-index:1;
	}
	
.login_page .center{
	background:url(../img/bg_1.jpg) center top no-repeat;
	overflow:auto;	
	}
	
@media(min-width:1200px){
.login_page{
	background:url(../img/bg_1.jpg) center top no-repeat;
	}
	
.login_page .center{
	background:none;
	}
	
	}		
.ikea_logo{
	display:inline-block;
	margin-top:60px;
	margin-bottom:60px;
	}
	
.login_container{
	float:left;
	display:block;
	width:787px;
	margin-bottom:93px;
	}
	
.login_container .inner{
	display:block;
	border:#5889b5 solid;
	border-width:10px 6px;
	overflow:auto;
	}
	
.inner .block{
	float:left;
	display:inline-block;
	width:50%;
	min-height:370px;
	height:auto;
	background:#dae3e4;
	position:relative;
	}
	
.inner .block .overlay{
	background:url(../img/overlay_bg.png);
	float:left;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	}
	
	
	
.inner .inactive .overlay{
	display:block;
	background: rgba(88, 137, 181,.4);	
	}
	
.inner .block.inactive{
	background: rgba(88, 137, 181,1);
}


.inner .block.inactive input{
	background: #DAE3E4;
	border: #03216C solid 1px;
}			
	
.inner .block .title{
	text-align:center;
	font-size:12px;
	color:#03216c;
	font-family: 'verdanaregular';
	font-weight:100;
	padding:10px 0 10px 0;
	}
	
.inner .block .title a{
	font-size:16px;
	font-family: 'verdanabold';
	color:#222;
	}
	
.inner .form{
	float:left;
	display:block;
	width:80%;
	margin:10px 10%;
	border-top: #B1C7D2 solid 1px;
	padding-top: 30px;
	}
	
.inner .fb_connect{
	display:block;
	padding:5px 10px;
	background:#205efa;
	text-align:center;
	}
	
.inner .fb_connect:hover{
	background:#2e69fb;
	}
	
.inner .fb_connect.clicked{
	background:#2e69fb;
	box-shadow:#039 0px 0px 3px inset;
	}	
	
	
.inner .fb_connect a{
	display:inline-block;
	padding-left:30px;
	min-height:23px;
	background:url(../img/fb_connect.png) center left no-repeat;
	color:#fff;
	line-height:23px;
    font-size: 12px;
 	
	}									
				
.form .or{
	margin:10px 0 10px;
	font-size:20px;
	color:#7894A9;
	text-align:center;
	font-style:italic;
	font-family: 'verdanaregular';
	}

.inactive .form .or{
	color:#45739B;	
	}  

.inner .inactive .form{
	border-top: #5889B5 solid 1px;
	}
	
.form .row{
	display:block;
	margin:10px 0px;
	overflow:hidden;
	}
	
.form .row .lable{
	float:left;
	display:inline-block;
	width:43%;
	font-size:12px;
	color:#036cb6;
	font-family: 'verdanaregular';
	padding:0px 1% 0 0;
	min-height:26px;
	line-height:26px;
	}
	
.inactive .form .row .lable,
.inactive .form .forgot_pass{
	color:#214f78;
	}	
	
.form .row input{
	float:right;
	display:inline-block;
	border:#5889B5 solid 1px;
	padding:3px 1%;
	width:53%;
	min-height:20px;
	line-height:20px;
	font-size:12px;
	color:#4179AC;
	font-family: 'verdanaregular';
	}				
	
.form button{
	display:block;
	width:100%;
	background:#ffdf1b;
	text-align:center;
	font-size:16px;
	font-family: 'verdanabold';
	border:none;
	color:#036cb6;
	padding:5px 0;
	margin:20px 0 10px 0; 
	cursor:pointer;
	}
	
.form button:hover{
	background:#F8E04C;
	}
	
.form button.clicked{
	background:#F8E04C;	
	box-shadow:#D3C542 0 0 5px inset;
	}	
	
		
	
	
.inactive .form .clickable{
	background:#214f78;
	color:#fff;
	}
	
.form .btn_2{
	margin-top:33px;
}		
	
.form .forgot_pass{
	font-size:12px;
	color:#036cb6;
	font-family: 'verdanaregular';
	text-decoration:underline;
	float:right;
	}		

.bottom_title{
	background:#5889B5;
	float:right;
	width:100%;
	text-align:right !important;
	cursor:pointer;
	display:none;
	}
	
@media(max-width:800px){
	.login_container{
		width:100%;
		}
	.login_container .inner{
		width:100%;
		max-width:400px;
		float:none;
		margin:10px auto;
	
	}
	.inner .block{
		width:100%;
		}
		
	.inner .block:last-child{
		display:none;
		}	
	.topbar_container{
		text-align:center;
		}
		
	.topbar_container ul{
		float:none;
		}
		
	.ikea_logo{
		display:block;
		text-align:center;
		margin:30px auto;
		}		
	.topbar_logo{
		width:100%;
		}
		
	.form .row{
		margin-top:0;
		margin-bottom:0;
		}
		
	.form .btn_2{
		margin-top:20px;
		}		
	.form .row .lable{
		width:99%;
		padding-bottom:5px;
		}
	.form .row input{
		width:97%;
		float:left;
		}
		
	.center_mobile{
		text-align:center;
		}
		
	.bottom_title{
		display:block;
		}			
	}
	
@media(max-width:480px){
	.login_container .inner{
		max-width:300px;
	}
	}		

/*Footer*/	
.footer{
	min-height:26px;
	background:#4179ac;
	position:relative;
	margin-top:-13px;
	}										
	
