/*Font family*/
@font-face {
	font-family: 'verdanaregular';
	src: url('verdana-webfont.eot');
	src: url('verdana-webfont.eot?#iefix') format('embedded-opentype'), url('verdana-webfont.woff') format('woff'), url('verdana-webfont.ttf') format('truetype'), url('verdana-webfont.svg#verdanaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'verdanabold';
	src: url('verdanab-webfont.eot');
	src: url('verdanab-webfont.eot?#iefix') format('embedded-opentype'), url('verdanab-webfont.woff') format('woff'), url('verdanab-webfont.ttf') format('truetype'), url('verdanab-webfont.svg#verdanabold') format('svg');
	font-weight: normal;
	font-style: normal;
}


*{
	margin:0;
	padding:0;
	font-family: 'verdanaregular';

	}
	
body{
	min-width:320px;
	overflow-x:hidden;
	background:url(../img/bg_main.jpg);
	}
	
a{
	text-decoration:none;
	}
	
ul,li{
	list-style:none;
	}
	
img{
	border:none;
	}
	
	
	
/*General styles*/

.wrapper{
	float:left;
	display:block;
	width:100%;
	}
	
.center{
	max-width:960px;
	margin:0 auto;
	}
	
@media(max-width:960px){
.center{
	max-width:960px;
	}
	
}		


	
	
/*Top bar*/

.topbar{
	min-height:40px;
	background:#4179ac;
	}
	
.topbar_container{
	padding:3px 0px;
	}
	
.topbar_logo{
	float:left;
	display:inline-block;
	}
	
.topbar_logo a{
	display:inline-block;
	padding-left:50px;
	min-height:25px;
	font-family: 'verdanaregular';
	background:url(../img/home_icon.png) left center no-repeat;
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
		
	}
	
.topbar ul{
	float:right;
	display:inline-block;
	margin-right:5px;
	}
	
.topbar ul li{
	float:left;
	display:inline;
	margin-left:40px;
	}
	
.topbar ul li a{
	display:inline-block;
	min-height:25px;
	font-family: 'verdanaregular';
	color:#FFF;
	font-size:18px;
	padding-top:5px;
	font-weight:bold;	
	}
	
.topbar a:hover{
	text-decoration:underline;
	}

@media(max-width:767px){
	.topbar_logo{
		width:100%;
		text-align:center;
		}
	.topbar_container{
		text-align:center;
		}
		
	.topbar_container ul{
		float:none;
		}
	}
/*Manage list page*/

.manage_list_header{
	overflow:auto;
	min-height:233px;
	padding:0px 25px;
	background:url(../img/header_bg.png) center top repeat-y;
	}
	
.manage_list_header .left{
	float:left;
	display:inline-block;
	width:650px;
	}	


.manage_list_header .right{
	float:right;
	display:inline-block;
	width:252px;
	}
	
.manage_list_header .right .frame{
	display:block;
	width:184px;
	height:184px;
	background:url(../img/frame.png) no-repeat;
	padding: 38px 41px 38px 27px;
	position:relative;
	z-index:10;
	}
	
.manage_list_header .right .frame > img{
	width:184px;
	height:184px;
	transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-ms-transform:rotate(4deg);
	}			
	
.manage_list_header .right .frame .date{
	float:right;
	width:90px;
	height:26px;
	background:#fff;
	position:absolute;
	color:#000;
	font-size:10px;
	top:190px;
	right:38px;
	line-height:26px;
	transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-ms-transform:rotate(4deg);
	}

.manage_list_header .right .frame a.change_pic{
	color:#5b9bd5;
	font-size:10px;
	padding:3px;
	border:#5b9bd5 solid 1px;
	background:#fff;
	position:absolute;
	top:100px;
	left:-20px;
	text-decoration:underline;
	display:none;
	}
	
.manage_list_header .right .frame:hover a.change_pic{
	display:inline-block;
	
	}	
	
.manage_list_header .right .frame .date img{
	width:auto;
	height:auto;
	float:left;
	}
	
.manage_list_header .left .top_row{
	float:left;
	display:block;
	margin-bottom:10px;
	margin-top:20px;
	}
	
.manage_list_header .left .top_row .thumb{
	float:left;
	display:inline-block;
	width:85px;
	height:80px;
	}				
.manage_list_header .left .top_row .text{
	float:left;
	display:inline-block;
	}
	
.manage_list_header .left .top_row .text h2{
	color:#000;
	font-size:24px;
	line-height:24px;
	display:inline-block;
	font-family: 'verdanabold';
	font-weight:100;

	}
	
.manage_list_header .left .top_row .text p{
	color:#4179ac;
	font-size:14px;
	font-family: 'verdanabold';
	margin-top:5px;
	}		
.manage_list_header .left .row{
	margin-bottom:10px;
	float:left;
	}

.manage_list_header .left .row ul.tag{
	float:left;
	display:block;
	}
	
.manage_list_header .left .row ul.tag li{
	float:left;
	display:inline-block;
	border:#dedede solid 1px;
	box-shadow:#ddd 0px 0px 3px inset;
	border-radius:10px;
	padding:5px;
	margin:5px 10px 5px 0px; 
	}
	
.manage_list_header .left .row ul.tag li a{
	color:#5b9bd5;
	font-size:14px;
	font-weight:bold;	
	}
	
.manage_list_header .left .row ul.tag li:hover a{
	text-decoration:underline;
	}			

.manage_list_header .left .row p.status{
	color:#5B9BD5;
	font-size:13px;
	margin-top:15px;
	font-weight:bold;
	float:left;
	line-height:20px;
	text-transform:uppercase;
	}
	
	
.manage_list_container{
	overflow:auto;
	overflow-x:hidden;
	min-height:233px;
	padding:0px 25px;
	background:#fff;
	margin-top:-30px;
	z-index:2;
	position:relative;
	}			
.manage_list_container > p{
	float:left;
	color:#000;
	font-size:15px;
	margin-top:25px;
	font-weight:bold;
	width:100%;
	}
	
.manage_list_container > p span{
	color:#000;
	font-size:15px;
	font-weight:100;
	}

.manage_list_container .filter_row{
	margin:10px 0;
	float:left;
	width:100%;
	}
	
.manage_list_container .filter_row .btn_group{
	border:#dedede solid 1px;
	box-shadow:#ddd 0px 0px 5px;
	border-radius:5px;
	display:inline-block;
	overflow:hidden;
	}
	
.manage_list_container .filter_row .btn_group a{
	padding:8px 20px;
	color:#666;
	font-size:12px;
	font-weight:bold;
	display:inline-block;
	border-left:#dedede solid 1px;
	float:left;
	}		

.manage_list_container .filter_row .btn_group a:first-child{
	border-left:none;
	
	}
	
.manage_list_container .filter_row .btn_group a:hover,
.manage_list_container .filter_row .btn_group a.active{
	background:#5297d5;
	color:#fff;
	
	}			
.price_filter{
	float:right;
	display:inline-block;
	width:150px;
	}
	
.product_con{
	float:left;
	display:block;
	width:100%;
	margin-bottom:50px;
	margin-top:10px;
	}
	
.product_con .item_row{
	padding:10px 16px 10px 72px;
	border:#ddd solid 2px;
	box-shadow:#ddd 0px 0px 2px inset;
	border-radius:5px;
	position:relative;
	min-height:125px;
	margin-bottom:15px;
	}
	
.product_con .item_row .badges{
	position:absolute;
	top:-5px;
	left:-5px;
	width:123px;
	height:125px;
	}
	
.product_con .item_row .badges span{
	display:inline-block;
	color:#FFF;
	font-size:9px;
	font-family: 'verdanabold';
	transform:rotate(-44deg);
	-webkit-transform:rotate(-44deg);
	-ms-transform:transform:rotate(-44deg);
	display:block;
	margin-top:26px;
	margin-left:-32px;
	width:125px;
	text-align:center;
	}	
.product_con .item_row .badges.partly_bought span{
	margin-top:30px;
	margin-left:-26px;
	color:#3c91d3;	
	}
	
.product_con .item_row .badges.partly_bought{
	background:url(../img/purchased_ribon.png) left top no-repeat;
	}				

.product_con .item_row .badges.bought{
	background:url(../img/bought_ribon.png) left top no-repeat;
	}

.product_con .item_row .badges.redeemed_ribon{
	background:url(../img/redeemed_ribon.png) left top no-repeat;
	}

.product_con .item_row .block{
	float:left;
	display:inline-block;
	width:30%;
	padding-top:10px;
	}	
					
.product_con .item_row .block h3{
	color:#222;
	font-size:16px;
	font-family: 'verdanabold';
	font-weight:100;	
	}
	
.product_con .item_row .block p.tags{
	display:block;
	color:#aaa;
	font-size:10px;

	}
	
.product_con .item_row .block p.tags a{
	color:#aaa;
	font-size:10px;
	display:inline-block;
	margin:0 2px;
	}

.product_con .item_row .block p.price{
	color:#333;
	font-size:11px;
	display:inline-block;
	}
	
.product_con .item_row .block.thumb_block{
	text-align:left;
	padding-top:0;
	width:39%;
	}
	
.product_con .item_row .block.action_block{
	width:185px;
	float:right;
	}	
	
.product_con .item_row .block .action_row{
	display:block;
	float:left;
	width:100%;
	margin-bottom:10px;
	}
	
.product_con .item_row .block .label{
	display:inline-block;
	width:80px;
	height:25px;
	line-height:25px;
	color:#222;
	font-size:10px;
	font-weight:bold;
	float:left;
	}
	
.product_con .item_row .block .btn_group_2{
	width:75px;
	height:25px;
	border:#ddd solid 1px;
	display:inline-block;
	float:left;
	}
	
.product_con .item_row .block .btn_group_2 a{
	display:inline-block;
	width:25px;
	height:25px;
	line-height:25px;
	text-align:center;
	color:#ffe51f;
	font-family: 'verdanabold';
	float:left;
	background:#056ab4;
	}
	
.product_con .item_row .block .btn_group_2 span{
	display:inline-block;
	width:25px;
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	font-family: 'verdanabold';
	color:#056ab4;
	}					

.product_con .item_row .block span.received{
	display:inline-block;
	width:80px;
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	font-family: 'verdanabold';
	color:#056ab4;
	}					


.product_con .item_row .block span.delete{
	display:inline-block;
	width:25px;
	margin:1px;
	float:left;
	height:25px;
	background:url(../img/trash_icon.png) center center no-repeat;
	cursor:pointer;
	
	}					


@media(max-width:960px){
.manage_list_header .left{
	float:left;
	display:inline-block;
	width:450px;
	}	


.manage_list_header .right{
	float:right;
	display:inline-block;
	width:252px;
	}
	
.manage_list_header .left .row p.status{
	margin-top:0;
	font-size:13px;
	line-height:16px;
	}	
	
}

@media(max-width:767px){
.manage_list_header .right,
.manage_list_header .left{
	width:100%;
	}
	
.manage_list_header .right .frame{
	margin:0px auto;
	}
	
.manage_list_container .filter_row .btn_group{
	width:100%;
	}
	
.manage_list_container .filter_row .btn_group a{
	width:90%;
	border-left:0;
	border-top:1px solid #DEDEDE;
	padding:8px 5%;
	}
	
.manage_list_container .filter_row .btn_group a:first-child{
	border-top:0;
	}
.price_filter{
	width:100%;
	}
	
.product_con .item_row .block,
.product_con .item_row .block.action_block,
.product_con .item_row .block.thumb_block{
	width:300px;
	margin:0 auto;
	float:none;
	display:block;
	overflow:auto;
	}
	
.product_con .item_row{
	text-align:center;
	padding:10px;
	}
	
.product_con .item_row .block.thumb_block{
	text-align:center;
	}
	
.product_con .item_row .block .action_row{
	width:70%;
	padding:0px 15%;
	}					
						
}

@media(max-width:480px){
.manage_list_header .left .top_row .thumb{
	width:100%;
	margin:5px 0;
	}
	
					
}
					
		
/*Footer*/	
.footer{
	min-height:26px;
	background:#4179ac;
	position:relative;
	margin-top:-13px;
	}										

	

	
/* Dropdown control */
.selectBox-dropdown {
	float:right;
	position: relative;
    text-align: left;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
	float:right;
	border:#ccc solid 1px;
	width:98% !important;
	padding:5px 1%;
	min-height:20px;
	line-height:20px;
	font-size:16px;
	color:#4179AC;
	font-family: 'verdanaregular';
	font-weight:bold;
	background:#fff;
	border-radius:5px;
	box-shadow:#CCC 0px 0px 5px;
}
/*
.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666;
}
*/
.selectBox-dropdown.selectBox-menuShowing-bottom {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectBox-dropdown.selectBox-menuShowing-top {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
    display: inline-block;
    white-space: nowrap;
	font-size:14px;
	text-align:center;
	width:120px !important;
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 100%;
    background: url(../img/down_arrow.png) 50% center no-repeat;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
    background: #FFF;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}

.selectBox-options.selectBox-options-top{
    border-bottom:none;
	margin-top:1px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.selectBox-options.selectBox-options-bottom{
	border-top:none;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selectBox-options LI A {
    line-height: 1.5;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
}

.selectBox-options LI.selectBox-hover A {
    background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
    color: #888;
    background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
    background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
    color: #666;
    background: #EEE;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity=50);
    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}

@media(max-width:767px){
	.selectBox-dropdown,
	.selectBox-dropdown .selectBox-label{
		width:98% !important;		
	}
	
			
	}			
	