@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: '02469_ARDLEY_H';
	src: url('fonts/02469_ARDLEY_H.eot');
	src: local('☺'), url('fonts/02469_ARDLEY_H.woff') format('woff'), url('fonts/02469_ARDLEY_H.ttf') format('truetype'), url('fonts/02469_ARDLEY_H.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FjallaOne-Regular';
	src: url('fonts/FjallaOne-Regular.eot');
	src: local('☺'), url('fonts/FjallaOne-Regular.woff') format('woff'), url('fonts/FjallaOne-Regular.ttf') format('truetype'), url('fonts/FjallaOne-Regular.svg') format('svg');
	font-weight: normal !important;
	font-style: normal;
}


@font-face {
	font-family: 'LondonTwo';
	src: url('fonts/LondonTwo.eot');
	src: local('☺'), url('fonts/LondonTwo.woff') format('woff'), url('fonts/LondonTwo.ttf') format('truetype'), url('fonts/LondonTwo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body{
	margin:0px;
	padding:0px;
	background:#f2f2f9;
	zoom:normal;
	overflow-x:hidden;
	}
	
.container{
	position:relative;
	padding:150px 0px;
	}
	
a{
	outline:none !important;
	}		
/*Home*/

#home .container{
	padding:0px;
	}

#home{
	min-height:995px;
	background:url(../img/bg_pattern_1.png) repeat-x fixed;
	}

#home .logo_con img{
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	}	
	
#home .video_con{
	text-align:center;
	position:fixed;
	}

	
#home .video_con h3{
	text-align:center;
	font-family: '02469_ARDLEY_H';
	font-size:30px;
	font-weight:100;
	
	}	
	

/*upper band*/

#upper_band{
	width:100%;
	background:url(../img/top_bg.png) center top no-repeat;
	min-height:219px;
	margin-top:-80px;
	position:relative;
	}
	
	
	
/*Headings*/

#top_heading{
	background:url(../img/bg_1.png);
	position:relative;
	padding-bottom:150px;
	margin-top:-10px;
	}
	
#top_heading h1{
	font-size:140px;
	color:#FFF;
	text-align:center;
	line-height:150px;
	font-family: 'FjallaOne-Regular';
	
	}		


#top_heading h1 span{
	font-size:50px;
	font-weight:100;
	}




/*page button*/

.page_button.white{
	position:absolute;
	display:inline-block;
	width:200px;
	height:200px;
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	-o-border-radius:200px;
	-ms-border-radius:200px;
	box-shadow:0px 0px 10px #CCCCCC;
	background:#f2f2f9;
	bottom:-100px;
	left:50%;
	margin-left:-100px;
	z-index:10;
	text-align:center;
	line-height:200px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	
	}
	
.page_button.black{
	position:absolute;
	display:inline-block;
	width:200px;
	height:200px;
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	-o-border-radius:200px;
	-ms-border-radius:200px;
	box-shadow:0px 0px 10px #CCCCCC;
	background:#1d2124;
	bottom:-100px;
	left:50%;
	margin-left:-100px;
	z-index:10;
	text-align:center;
	line-height:200px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	
	}
	
	
/*text rows*/

	
.text_row .span4 h3.box_title{
	font-size:30px;
	font-family: 'LondonTwo';
	margin-bottom:20px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
		
	}		

.text_row h2.title{
	font-size:100px;
	line-height:200px;
	font-family: 'FjallaOne-Regular';
	font-weight:bold;
	text-align:center;	
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	
	}


.text_row p{
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:22px;
	text-align:left;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	
	}
	
.text_row .thumbs{
	width:100%;
	text-align:center;
	margin-bottom:10px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	
	}
	
/*What we do*/
#WhatWeDo{
	background:#F2F2F9;
	position:relative;
	}

#WhatWeDo h2{
	color:#000;
	}

#WhatWeDo h3.box_title{
	font-family:Arial, Helvetica, sans-serif;
	}
	
#WhatWeDo p{
	color:#000;
	}			


/*digital Stratigies*/
#digitalStratigies{
	background:url(../img/bg_2.png);
	position:relative;
	}

#digitalStratigies h2{
	color:#fff;
	}

#digitalStratigies h3.box_title{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	}
	
#digitalStratigies p{
	color:#fff;
	}			

#digitalStratigies img.orgami{
	position:absolute;
	top:-120px;
	left:-80px;
	width:300px;
	}

#digitalStratigies img.red_shape{
	position:absolute;
	bottom:-100px;
	right:-50px;
	width:200px;
	z-index:10;
	
	}

/*Marketing concept*/
#marketingConcept{
	position:relative;
	background:#F2F2F9;
	
	}

#marketingConcept h2{
	color:#000;
	}

#marketingConcept h3.box_title{
	font-family:Arial, Helvetica, sans-serif;
	}
	
#marketingConcept p{
	color:#000;
	}			
#marketingConcept img.red_shape{
	position:absolute;
	bottom:-100px;
	left:-50px;
	width:200px;
	z-index:10;
	
	}

/*Management*/
#management{
	background:url(../img/bg_2.png);
	position:relative;
	}

#management h2{
	color:#fff;
	}

#management h3.box_title{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	}
	
#management p{
	color:#fff;
	}			


/*Carousel*/
#slider_wrapper{
	min-height:500px;
	position:relative;
	padding:150px 0px;
	background:#F2F2F9;
	
	}

#slider_wrapper .item h2.carousel_title{
	font-size:100px;
	line-height:200px;
	font-family: 'FjallaOne-Regular';
	font-weight:bold;
	text-align:center;
	color:#000;
	}


#slider_wrapper .item p.quotes{
	font-size:30px;
	line-height:35px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	font-style:italic;
	margin-top:30px;
	}

#slider_wrapper .item p.writter{
	font-size:30px;
	line-height:50px;
	font-family: '02469_ARDLEY_H';
	text-align:center;
	color:#000;
	margin-top:50px;
	}

	
.carousel-indicators {
	display:inline;
    list-style: none outside none;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 5;
}

.carousel-indicators li{
	background-color: #1d2124;
    border-radius: 10px;
    display: block;
    float: left;
    height: 20px;
    margin-left: 5px;
    text-indent: -999px;
    width: 20px;
	cursor:pointer;
	}

.carousel-indicators li.active{
	background:#FFF;
	}		
	
	

.carousel-indicators.middle {
    left: 0;
    right: 0;
    top: auto;
    bottom: -50px;
    text-align: center;
}
.carousel-indicators.middle li {
	float: none;
	display: inline-block;
}

/*contact*/

#contact_wrapper{
	background:url(../img/bg_1.png);
	position:relative;
	overflow-x:hidden;
	z-index:1;
	
	}
	
#contact_wrapper .contact_top{
	min-height:700px;
	}
	
#contact_wrapper .style2{
	position:relative;
	padding-bottom:50px;
	}	


#contact_wrapper .style2 img.bottomStyle{
	position:absolute;
	left:25%;
	bottom:0px;
	z-index:0;
	}
	
#contact_wrapper .span5, #contact_wrapper .span7{
	position:relative;
	z-index:10;
	}

#contact_wrapper .contact_top h2{
	font-size:85px;
	line-height:200px;
	font-family: 'FjallaOne-Regular';
	font-weight:bold;
	text-align:center;
	color:#fff;
	letter-spacing:-2px;
	}
		
#contact_wrapper .contact_top form{
	width:100%;
	height:auto;
	}	
	
#contact_wrapper .contact_top form input{
	float:left;
	display:inline-block;
	width:90%;
	height:70px;
	padding:0px 5%;
	line-height:70px;
	background:#FFF;
	border-radius:0px;
	color:#c2c2c2;
	font-size:20px;
	font-family: 'FjallaOne-Regular';
	margin-bottom:10px;
	}	


#contact_wrapper .contact_top form textarea{
	float:left;
	display:inline-block;
	width:90%;
	height:175px;
	padding:5px 5%;
	line-height:25px;
	background:#FFF;
	border-radius:0px;
	color:#c2c2c2;
	font-size:20px;
	font-family: 'FjallaOne-Regular';
	margin-bottom:0px;
	resize:none;
	}
	
#contact_wrapper .contact_top form p{
	margin:0px;
	padding:0px;
	text-align:center;
	}		

#contact_wrapper .contact_top form button{
	width:100px;
	height:50px;
	border-radius:0px 0px 50px 50px;
	font-size:20px;
	font-family: 'FjallaOne-Regular';
	color:#c2c2c2;
	background:#1d2124;
	box-shadow:0px 0px 5px #FFFFFF;
	text-align:center;
	line-height:0px;
	margin:0px;
	border:none;		
	}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  	color:#c2c2c2;

}
input:-moz-placeholder, textarea:-moz-placeholder {
	color:#c2c2c2;
}

input:-ms-input-placeholder,textarea:-ms-textarea-placeholder { /* Internet Explorer 10+ */
	color:#c2c2c2;
}

	
#contact_wrapper .container{
	}
	
.contact_bottom{
	min-height:20px;
	background:url(../img/bottom_shape.png) repeat-x;
	margin-top:-2px;
	}	


/*footer*/

#footer{
	background:url(../img/bg_pattern_1.png) repeat-x;
	position:relative;
	z-index:0;
	}
	
#footer .container{
	padding:50px 0px;
	}
	
#footer hr{
	border:#000 dashed 1px;
	border-bottom:none;
	border-left:none;
	border-right:none;
	}
	
#footer .links a{
	color:#5DD7FC;
	}
	
#footer .tweets p{
	padding-left:50px;
	background:url(../img/twitter_icon.png) left top no-repeat;
	}					
	
.flicker_photo a{
	float:left;
	display:block;
	width:24%;
	height:auto;
	margin:.5%;
	}
	
.flicker_photo a img{
	width:100%;
	}	
	

@media (min-width:2500px){
	#upper_band{
		background-size:100% 100%;
		}
	}
	
/* Large desktop */
@media (min-width: 980px) and (max-width: 1200px) { 
.text_row .span4 h3.box_title{
	font-size:26px;
}

.text_row h2.title{
	font-size:100px;
	line-height:110px;
	padding:100px 0px;	
	}

#contact_wrapper .contact_top h2{
	font-size:85px;
	line-height:90px;
	padding:50px 0px;	
	}
	
#slider_wrapper .item h2.carousel_title{
	font-size:100px;
	padding:50px 0px;
	}

}


 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

#slider_wrapper{
	margin-top:0px;
	min-height:400px;
	padding:80px 0px;
	}

.container{
	padding:100px 0px;
	}	
	
#home .video_con h3{
	font-size:20px;	
	}	


.page_button.white, .page_button.black{
	width:150px;
	height:150px;
	border-radius:150px;
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	-o-border-radius:150px;
	-ms-border-radius:150px;
	bottom:-75px;
	margin-left:-75px;
	line-height:150px;
	}

.text_row .span4 h3.box_title{
	font-size:20px;
	letter-spacing:-1px;
	}		

.text_row h2.title{
	font-size:80px;
	line-height:90px;
	padding:50px 0px;	
	}

#contact_wrapper .contact_top h2{
	font-size:80px;
	line-height:90px;
	padding:50px 0px;	
	}


.text_row p{
	font-size:16px;
	}

#contact_wrapper .contact_top form input{
	height:50px;
	padding:0px 5%;
	line-height:50px;
	font-size:16px;
	margin-bottom:5px;
	}	


#contact_wrapper .contact_top form textarea{
	width:90%;
	height:175px;
	padding:5px 5%;
	line-height:20px;
	font-size:16px;
	font-family: 'FjallaOne-Regular';
	}
	
#contact_wrapper .contact_top form button{
	width:80px;
	height:40px;
	border-radius:0px 0px 40px 40px;
	font-size:16px;
	}
	
#contact_wrapper .container{
	padding-bottom:0px;
	}
#contact_wrapper .style2 img.bottomStyle{
	left:26%;
	bottom:30px;
	}



#slider_wrapper .item h2.carousel_title{
	font-size:80px;
	line-height:90px;
	}


#slider_wrapper .item p.quotes{
	font-size:25px;
	line-height:35px;
	margin-top:30px;
	}

#slider_wrapper .item p.writter{
	font-size:25px;
	line-height:35px;
	margin-top:50px;
	}


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
#slider_wrapper{
	margin-top:0px;
	min-height:100px;	
	padding:80px 0px;
	}

.container{
	padding:70px 0px;
	}	
	
#slider_wrapper{
	margin-top:0px;
	padding:70px 0px;
	}

.container{
	padding:80px 0px;
	}	

#home .logo_con img{
	transform:scale(.7);
	-webkit-transform:scale(.7);
	-moz-transform:scale(.7);
	-o-transform:scale(.7);
	-ms-transform:scale(.7);
	}	



#home .row{
	text-align:center;
	width:100%;
	}	

#top_heading{
	min-height:500px;
	}


.page_button.white, .page_button.black{
	width:90px;
	height:90px;
	border-radius:90px;
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	-o-border-radius:90px;
	-ms-border-radius:90px;
	bottom:-45px;
	margin-left:-45px;
	line-height:90px;
	}

.page_button img{
	width:30px;
	} 	


.text_row .span4 {
	margin-bottom:40px;
	padding:0px 10px;
	}


.text_row .span4 h3.box_title{
	font-size:25px;
	}		

.text_row h2.title{
	font-size:60px;
	line-height:70px;
	padding:40px 0px;	
	}

#contact_wrapper .contact_top h2{
	font-size:60px;
	line-height:70px;
	padding:60px 0px 40px 0px;	
	}


.text_row p{
	font-size:16px;
	}
	
#contact_wrapper .container{
	padding:0px 10px;
	}
	
#footer .container{
	padding:50px 10px;
	}	

#contact_wrapper .contact_top form input{
	height:30px;
	width:96%;
	padding:0px 2%;
	line-height:30px;
	font-size:16px;
	margin-bottom:5px;
	}	


#contact_wrapper .contact_top form textarea{
	width:96%;
	height:130px;
	padding:5px 2%;
	line-height:20px;
	font-size:16px;
	font-family: 'FjallaOne-Regular';
	}
	
#contact_wrapper .contact_top form button{
	width:50px;
	height:30px;
	border-radius:0px 0px 30px 30px;
	font-size:14px;
	}
	
#digitalStratigies img.orgami{
	position:absolute;
	top:-80px;
	left:-80px;
	width:200px;
	}

#digitalStratigies img.red_shape{
	position:absolute;
	bottom:-70px;
	right:-50px;
	width:150px;
	}
	
	
.flicker_photo a{
	float:left;
	display:block;
	width:14%;
	height:auto;
	margin:1%;
	}

#slider_wrapper .item h2.carousel_title{
	font-size:60px;
	line-height:70px;
	}


#slider_wrapper .item p.quotes{
	font-size:20px;
	line-height:25px;
	margin-top:30px;
	}

#slider_wrapper .item p.writter{
	font-size:20px;
	line-height:25px;
	margin-top:40px;
	}
.carousel-indicators.middle {
    bottom: -35px;
}
}


 
/* Landscape phones and down */
@media (max-width: 480px) {
#home .video_con h3{
	font-size:20px;	
	}	
#home .video_con video{
	width:90%;
	height:auto;
	padding:0px 5%;
}


.page_button.white, .page_button.black{
	width:70px;
	height:70px;
	border-radius:70px;
	-moz-border-radius:70px;
	-webkit-border-radius:70px;
	-o-border-radius:70px;
	-ms-border-radius:70px;
	bottom:-35px;
	margin-left:-35px;
	line-height:70px;
	}

.page_button img{
	width:20px;
	} 	




#top_heading{
	min-height:400px;
	}
	



.text_row .span4 h3.box_title{
	font-size:20px;
	}		

.text_row h2.title{
	font-size:40px;
	line-height:50px;
	padding:40px 0px;	
	}

#contact_wrapper .contact_top h2{
	font-size:40px;
	line-height:50px;
	padding:60px 0px 40px 0px;	
	}


.text_row p{
	font-size:16px;
	}
	
.bottomStyle, .orgami, .red_shape{
	display:none;
	}	

#slider_wrapper .item h2.carousel_title{
	font-size:40px;
	line-height:50px;
	}


#slider_wrapper .item p.quotes{
	font-size:16px;
	line-height:20px;
	margin-top:25px;
	}

#slider_wrapper .item p.writter{
	font-size:16px;
	line-height:20px;
	margin-top:30px;
	}

	
}		
