@font-face {
	font-family: 'GothamHTF-Book';
	src: url('GothamHTF-Book.eot?') format('eot'), 
	     url('GothamHTF-Book.otf')  format('opentype'),
	     url('GothamHTF-Book.woff') format('woff'), 
	     url('GothamHTF-Book.ttf')  format('truetype'),
	     url('GothamHTF-Book.svg#GothamHTF-Book') format('svg');
}

@font-face {
	font-family: 'GothamHTF-Medium';
	src: url('GothamHTF-Medium.eot?') format('eot'), 
	     url('GothamHTF-Medium.otf')  format('opentype'),
	     url('GothamHTF-Medium.woff') format('woff'), 
	     url('GothamHTF-Medium.ttf')  format('truetype'),
	     url('GothamHTF-Medium.svg#GothamHTF-Medium') format('svg');
}


/*
General settings
*/

*{
	margin:0;
	padding: 0;
}

body{
	background: url(../img/bg.png);
	color: #7b7b7b;
	font-family: Arial;
	font-size: 13px;
}

a{
	text-decoration: none;
}

img{
	border:none;
}

.font_gtm_book{
	font-family: 'GothamHTF-Book';
}

.font_gtm_medium{
	font-family: 'GothamHTF-Medium';
}

.f_26{
	font-size: 26px;
}

.f_21{
	font-size: 21px;
}

.f_20{
	font-size: 20px;
}

.f_17{
	font-size: 17px;
}

.f_16{
	font-size: 16px;
}

.c_black{
	color: #151515;
}

.c_white{
	color: #fffefe;
}

.font_reg{
	font-weight: 100;
}

.font_bold{
	font-weight: bold;
}


.wrapper{
	float: left;
	width: 100%;
}

.container{
	width: 100%;
	max-width: 980px;
	margin: 48px auto 40px;
}

.row{
	float: left;
	display: block;
	width: 100%;
}

/*Page*/

.page_left{
	float: left;
	display: inline-block;
	width: 640px;
	background: #fff;

}

.row_1{
	padding: 15px 40px; 
	overflow: auto;
}

.row_1 .logo{
	float: left;
	display: inline-block;
	width: 184px;
	height: 126px;
	line-height: 126px;
}

.row_1 .logo img{
	width: 162px;
	height: 50px;
	vertical-align: middle;
}

.row_1 .text{
	float: left;
	display: inline-block;
	width: 376px;
}

.row_1 .text p{
	line-height: 1.6;
}

.row_1 .text h1{
	line-height: 1.1;
	margin-bottom: 5px;
}


.row_2{
	display: block;
	overflow: auto;
	margin: 10px auto;
}

.row_2 img{
	width: 100%;
}



.row_3{
	padding: 25px 40px; 
	overflow: auto;
}

.row_3 > h2{
	line-height: 1;
	margin-bottom: 10px;
	max-width: 80%;
	font-weight: 100;
}

.row_3 > p{
	line-height: 1.3;
	margin: 10px 0;
	width: 80%;
}

.row_4{
	padding: 28px 40px; 
	overflow: auto;
	background: url(../img/border_top.png) center top repeat-x;	
}

.row_4 .thumb{
	float: left;
	display: inline-block;
	width: 130px;
	height: 130px;
	line-height: 130px;
}

.row_4 .thumb img{
	width: 110px;
	height: 110px;
	vertical-align: middle;
}

.row_4 .text{
	float: left;
	width: 430px;
	display: inline-block;
}

.row_4 .text h3{
	line-height: 1;
	margin-bottom: 10px;
	max-width: 80%;
	font-weight: 100;
}

.row_4 .text p{
	line-height: 1.3;
	margin: 10px 0;
}


.page_right{
	float: right;
	display: inline-block;
	width: 320px;
	background: #fff;
}


.row_5{
	width: 320px;
	height: 278px;
	background: url(../img/ah_03.jpg) no-repeat;
	overflow: auto;
}

.row_5 p.p_1{
	padding: 0px 33px; 
	overflow: auto;	
	height: 95px;
	text-align: center;
	line-height: 95px;
	text-transform: uppercase;
}


.row_5 p.p_2{
	padding: 5px 20px; 
	overflow: auto;	
	text-align: center;
	line-height: 1.2;
	
}

.form{
	padding: 20px 33px; 
	overflow: auto;	
}

.form div{
	float: left;
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.form div.last{
	margin-top: 15px;
}

.form div sup{
	position: relative;
	top: 5px;
}

.form div p{
	margin-bottom: 4px;
}

.form div p.msg{
	display: none;
	color: red;
	font-size: 14px;
}

.form div.error p.msg{
	display: block;
}

.form .input_outer{
	display: block;
	border:#104916 solid 1px;
	padding: 5px; 
}

.form div.error .input_outer{
	border-color: red;
}

.form input{
	width: 100%;
	height: 33px;
	line-height: 33px;
	color: #000;
	font-size: 14px;
	border:none;
	background: none;
}


.form textarea{
	width: 100%;
	min-height: 133px;
	line-height: 1.2;
	color: #000;
	font-size: 14px;
	border:none;
	background: none;
	font-family: arial;
}



.form button{
	width: 260px;
	height: 81px;
	background: url(../img/ah_18.png);
	border:none;
}



/*Page bottom*/

.page_bottom{
	background: #f3f3f3;
	overflow: hidden;
	margin-top: 20px;
}

.page_bottom .thumb{
	float: left;
	display: inline-block;
	width: 340px;
	height: 315px;
}

.page_bottom .thumb img{
	width: 100%;
	height: 100%;
}

.page_bottom .text{
	padding: 54px;
	float: left;
	display: inline-block;
	width: 530px;
}

.page_bottom .text h3{
	margin-bottom: 10px;
	line-height: 1.3;
}

.page_bottom .text p{
	line-height: 2;
}

.page_bottom .text p.g{
	color: #6eab6e;
	margin-bottom: 10px;
	line-height: 1.5;

}

p.bottom_text{
	margin: 30px;
	font-size: 10px;
	text-align: center;
	float: left;
	width: 100%;
}


