.fl{ float:left;}

.slidepart{ width:790px; height:790px; overflow:hidden; position:relative;}
.slidepart img {position:absolute; }
.sl_paginationpart{width:auto; height:18px; display:block; position:absolute; left:140px; top:350px;z-index:3;overflow:hidden;}

ul.slpagination{ margin:0px; padding:0px; list-style:none;}
ul.slpagination li{ margin:0px; padding:0px; list-style:none; float:left; }
ul.slpagination li a.prevsl{border:0;outline:none;outline:0; cursor:pointer;}
ul.slpagination li a.nextsl{border:0;outline:none; outline:0cursor:pointer;}
ul.slpagination li a.number{background:url('http://www.eileenfisher.com/ns/images/13f_m2/sbi_features/weekender/dot_1.png') no-repeat; width:18px; height:18px; display:block;  margin:0px 15px;border:0;outline:none;outline:0; cursor:pointer; }
ul.slpagination li a.select{background:url('http://www.eileenfisher.com/ns/images/13f_m2/sbi_features/weekender/active_dot3.png') no-repeat;width:18px; height:18px; display:block;  margin:0px 15px;border:0;outline:none;outline:0; cursor:pointer;'}



